<template name="connect">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="inventory"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Rent Request</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="connect prevent-keyboardglitch"}}
      <div class="card">

        {{#with userInfo}}
        <div class="item">
          <div class="profile-image-container">
            {{#if noProfileYet}}
            <div class="profile-avatar" style="background: url('profile_image_placeholder.jpg') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
            {{else}}
            <div class="profile-avatar" style="background: url('{{avatar}}') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
            {{/if}}
          </div>

          <div class="center">
            <p class="dark">{{name}}</p>
            <p class="line-height-one">{{college}}</p>
            <span class="rating-box">{{> rating}}</span>
          </div>
        </div>
        {{/with}}

        <div class="item line-height-one">
            <div class="center">
                <img class="connect-thumbnail" src="{{productData.image}}">
                <p class="title">{{productData.title}}</p>
                <hr/>
                <div class="row center">
                    <div class="col col-50">
                        <i class="icon {{getCategoryIcon}}"></i> {{productData.amazonCategory}}
                    </div>
                    <div class="col col-50">
                        <i class="icon ion-cash"></i> {{productData.price}}
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-divider">Rent Prices:</div>
        <div class="item">
          <div class="center">
              <table class="rent-table">
                <tbody class="prices">
                    <tr>
                        <th><i>D</i></th>
                        <th><i>W</i></th>
                        <th><i>M</i></th>
                        <th><i>S</i></th>
                    </tr>
                    <tr>
                        <td>${{productData.rentPrice.day}}</td>
                        <td>${{productData.rentPrice.week}}</td>
                        <td>${{productData.rentPrice.month}}</td>
                        <td>${{productData.rentPrice.semester}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>

        <div class="item tabs tabs-icon-left">
          <a class="tab-item" href="/chat/{{this._id}}">
            <i class="icon ion-ios-chatboxes assertive"></i>
            CHAT
          </a>

          <a class="tab-item" id="btnCallUser">
            <i class="icon ion-ios-telephone assertive"></i>
            CALL
          </a>
            
          {{#if paymentPending}}    
          <a class="tab-item" id="cancelRequest">
            <i class="icon ion-ios-close royal"></i>
            REJECT
          </a>
          {{/if}}
        </div>

      </div>

     {{#if isBorrowed}}
        <div class="padding-horizontal list">
            <div class="item item-divider">Rent Details:</div>
            <div class="item">
                <div class="center">
                    <p class="rent-days">{{getDaysLeft}}</p>
                    <p class="rent-period">{{getBorrowPeriod}}</p>
                </div>
            </div>
        </div>
    {{/if}}
    
    {{#if isReturned}}
        <div class="padding-horizontal list">
            <div class="item item-divider">Rent Details:</div>
            <div class="item">
                <div class="center">
                    <p class="rent-period">{{getBorrowPeriod}}</p>
                </div>
            </div>
        </div>
    {{/if}}
    
      <div class="padding-horizontal list">
      {{#if alreadyApproved}}

           {{#if isReturned}}
           {{else}}
              <div class="item item-divider"><h3>Set Meetup Location</h3></div>

              <a class="item item-button-right" id="changeMeetupLocation" href="#">
                <p>{{preferredLocation}}</p>
                <button class="button button-outline button-energized"><i class="icon ion-ios-location"></i></button>
              </a>
          {{/if}}

          {{#if returnItem}}
          <br>
            <button id="confirmReturn" class="button button-block">CONFIRM RETURN</button>
          {{/if}}

      {{else}}
      <br>
        <button id="ownerAccept" class="button button-block button-energized">ALLOW RENTING</button>
      {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
