<template name="connectRent">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="renting"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Awaiting Approval</h1>
  {{/contentFor}}


  {{#ionView}}
    {{#ionContent}}
      <div class="card">

        {{#with userInfo}}
        <div class="item">
          <div class="profile-image-container">
            {{#if noProfileYet}}
            <div class="profile-avatar" style="background: url('profile_image_placeholder.jpg') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
            {{else}}
            <div class="profile-avatar" style="background: url('{{avatar}}') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
            {{/if}}
          </div>

          <div class="center">
            <p class="dark">{{name}}</p>
            <p class="line-height-one">{{college}}</p>
          </div>
        </div>
        {{/with}}

        <div class="item small-font line-height-one">
          <div class="center">
            <img class="connect-thumbnail" src="{{productData.image}}">
            <p>{{productData.title}}</p>
            <p>Amazon Price: {{productData.price}}</p>
            <h3 class="dark">Rent Price: ${{productData.customPrice}} / week</h3>
          </div>

        </div>

        <div class="item tabs tabs-icon-left">
          <!-- <a class="tab-item" href="tel:{{phoneNumber}}">
            <i class="icon ion-ios-telephone assertive"></i>
            CALL
          </a> -->
          <!-- <a class="tab-item" id="startChat"> -->
          <a class="tab-item" href="/chat/{{this._id}}">
            <i class="icon ion-ios-chatboxes assertive"></i>
            CHAT
          </a>
          <a class="tab-item" id="btnCallUser">
            <i class="icon ion-ios-telephone assertive"></i>
            CALL
          </a>
          <a class="tab-item" id="cancel-request">
            <i class="icon ion-ios-close royal"></i>
            CANCEL
          </a>
        </div>

      </div>

      {{#if paymentPending}}
        <div class="padding-horizontal">
          <div class="item item-divider"><h3>Weeks to Rent</h3></div>
          <div class="list" id="slider-container">
            <div class="item range range-energized">
              <i class="icon ion-ios-clock-outline"></i>
              <input id="slider" type="range" name="volume" min="1" max="12" value="{{sliderValue}}">
              <i class="">{{sliderValue}}</i>
            </div>
          </div>
        </div>

        <div class="padding-horizontal">
        <h5 class="dark">Lending period<span class="float-right">{{todaysDate}} to {{endDate}}</span></h5>
        </div>
        <br>
      {{else}}

        <div class="padding-horizontal">
          <div class="item item-divider"><h3>Meetup Location</h3></div>
          <a class="item item-button-right" href="#" id="showMap">
            <p>{{preferredLocation}}</p>
            <!-- <button class="button button-outline button-energized" data-ion-modal="map"><i class="icon ion-ios-location"></i></button> -->
          </a>
        </div>

      {{/if}}

      <div class="padding-horizontal">
        {{#if paymentDone}}

        {{#unless itemReturnDone}}
        <button id="returnItem" class="button button-block">RETURN ITEM</button>
        {{/unless}}

        {{else}}
        <button id="payAndRent" class="button button-block button-energized {{approvedStatus}}">
          PAY TOTAL &nbsp; ${{calculatedPrice}}</button>
          {{/if}}
        </div>

    {{/ionContent}}
  {{/ionView}}
</template>
