<template name="connect">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="inventory"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Rent Request</h1>
  {{/contentFor}}


  {{#ionView}}
    {{#ionContent class="prevent-keyboardglitch"}}
      <div class="card">

        {{#with userInfo}}
        <div class="item">
          <div class="profile-image-container">
            {{#if noProfileYet}}
            <div class="profile-avatar" style="background: url('profile_image_placeholder.jpg') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
            {{else}}
            <div class="profile-avatar" style="background: url('{{avatar}}') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
            {{/if}}
          </div>

          <div class="center">
            <p class="dark">{{name}}</p>
            <p class="line-height-one">{{college}}</p>
          </div>
        </div>
        {{/with}}

        <div class="item small-font line-height-one">
          <div class="center">
            <img class="connect-thumbnail" src="{{productData.image}}">
            <p>{{productData.title}}</p>
            <p>{{productData.authors}}</p>
            <p>Amazon Price: {{productData.price}}</p>
            <h3 class="dark">Your Price: ${{productData.customPrice}} / week</h3>
          </div>

        </div>

        <div class="item tabs tabs-icon-left">
          <a class="tab-item" href="/chat/{{this._id}}">
            <i class="icon ion-ios-chatboxes assertive"></i>
            CHAT
          </a>

          <a class="tab-item" id="btnCallUser">
            <i class="icon ion-ios-telephone assertive"></i>
            CALL
          </a>
          <a class="tab-item" id="cancelRequest">
            <i class="icon ion-ios-close royal"></i>
            REJECT
          </a>
        </div>

      </div>

      <div class="padding-horizontal list">
      {{#if alreadyApproved}}

        <div class="item item-divider"><h3>Set Meetup Location</h3></div>

          <a class="item item-button-right" id="changeMeetupLocation" href="#">
            <p>{{preferredLocation}}</p>
            <button class="button button-outline button-energized"><i class="icon ion-ios-location"></i></button>
          </a>

          {{#if returnItem}}
          <br>
            <button id="confirmReturn" class="button button-block">CONFIRM RETURN</button>
          {{/if}}

      {{else}}
      <br>
        <button id="ownerAccept" class="button button-block button-energized">Allow renting at ${{productData.customPrice}} / week</button>
      {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
