<template name="connectRent">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="renting"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Awaiting Approval</h1>
  {{/contentFor}}


  {{#ionView}}
    {{#ionContent class="connectRent"}}
      <div class="card">

        {{#with userInfo}}
        <div class="item">
          <div class="profile-image-container">
            {{#if noProfileYet}}
            <div class="profile-avatar" style="background: url('profile_image_placeholder.jpg') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
            {{else}}
            <div class="profile-avatar" style="background: url('{{avatar}}') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
            {{/if}}
          </div>

          <div class="center">
            <p class="dark">{{name}}</p>
            <p class="line-height-one">{{college}}</p>
          </div>
        </div>
        {{/with}}

        <div class="item line-height-one">
            <div class="center"> 
                <img class="connect-thumbnail" src="{{productData.image}}">
                <p class="title">{{productData.title}}</p>
                <hr/>
                <div class="row center">
                    <div class="col col-50">
                        <i class="icon {{getCategoryIcon}}"></i> {{productData.amazonCategory}}
                    </div>
                    <div class="col col-50">
                        <i class="icon ion-cash"></i> {{productData.price}}
                    </div>
                </div>  
            </div>
        </div>
          
        <div class="item item-divider">Rent Prices:</div>
        <div class="item">
          <div class="center">
              <table class="rent-table">
                <tbody class="prices">
                    <tr>
                        <th><i>D</i></th>
                        <th><i>W</i></th>
                        <th><i>M</i></th>
                        <th><i>S</i></th>
                    </tr>
                    <tr>
                        <td>${{productData.rentPrice.day}}</td>
                        <td>${{productData.rentPrice.week}}</td>
                        <td>${{productData.rentPrice.month}}</td>
                        <td>${{productData.rentPrice.semester}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>

        <div class="item tabs tabs-icon-left">
          <!-- <a class="tab-item" href="tel:{{phoneNumber}}">
            <i class="icon ion-ios-telephone assertive"></i>
            CALL
          </a> -->
          <!-- <a class="tab-item" id="startChat"> -->
          <a class="tab-item" href="/chat/{{this._id}}">
            <i class="icon ion-ios-chatboxes assertive"></i>
            CHAT
          </a>
          <a class="tab-item" id="btnCallUser">
            <i class="icon ion-ios-telephone assertive"></i>
            CALL
          </a>
          <a class="tab-item" id="cancel-request">
            <i class="icon ion-ios-close royal"></i>
            CANCEL
          </a>
        </div>

      </div>

      {{#if paymentPending}}
        <div class="padding-horizontal">
          <div class="item item-divider"><h3>Rent Period</h3></div>
          <div class="list" id="slider-container">
            <div class="item center">
<!--
              <i class="icon ion-ios-clock-outline"></i>
              <input id="slider" type="range" name="volume" min="1" max="12" value="{{sliderValue}}">
              <i class="">{{sliderValue}}</i>
-->
                
               <div class="range">
                    <div class="range-start" style="display:none;"></div>
                    <div class="range-end"></div>
               </div>    
            </div>
              
            <div class="item item-divider">Rent Details:</div>
                <div class="item">
                  <div class="center">
                      <p class="rent-days"></p>
                      <p class="rent-period"></p>
                      <table class="rent-table">
                        <tbody class="details">
                            <tr>
                                <th class="{{activeDays}}"><i>D</i></th>
                                <th class="{{activeWeeks}}"><i>W</i></th>
                                <th class="{{activeMonths}}"><i>M</i></th>
                                <th class="{{activeSemesters}}"><i>S</i></th>
                            </tr>
                            <tr>
                                <td class="{{activeDays}}">{{numberDays}}</td>
                                <td class="{{activeWeeks}}">{{numberWeeks}}</td>
                                <td class="{{activeMonths}}">{{numberMonths}}</td>
                                <td class="{{activeSemesters}}">{{numberSemesters}}</td>
                            </tr>
                            <tr>
                                <td class="{{activeDays}}">${{totalPriceDays}}</td>
                                <td class="{{activeWeeks}}">${{totalPriceWeeks}}</td>
                                <td class="{{activeMonths}}">${{totalPriceMonths}}</td>
                                <td class="{{activeSemesters}}">${{totalPriceSemesters}}</td>
                            </tr>  
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
         </div>
            
        
<!--
        <div class="padding-horizontal">
        <h5 class="dark">Lending period<span class="float-right">{{todaysDate}} to {{endDate}}</span></h5>
        </div>
-->
        <br>

    
      {{else}}

        <div class="padding-horizontal">
          <div class="item item-divider"><h3>Meetup Location</h3></div>
          <a class="item item-button-right" href="#" id="showMap">
            <p>{{preferredLocation}}</p>
            <!-- <button class="button button-outline button-energized" data-ion-modal="map"><i class="icon ion-ios-location"></i></button> -->
          </a>
        </div>

      {{/if}}

      <div class="padding-horizontal">
        {{#if paymentDone}}

        {{#unless itemReturnDone}}
        <button id="returnItem" class="button button-block">RETURN ITEM</button>
        {{/unless}}

        {{else}}
            {{#if approvedStatus}}
                <button id="payAndRent" class="button button-block button-energized {{validatePrice}}">
                  PAY TOTAL &nbsp; ${{calculatedPrice}}</button>
            {{else}}
                <button id="payAndRent" class="button button-block button-energized disabled">
                  AWAITING APPROVAL</button>
            {{/if}}
          {{/if}}
        </div>

    {{/ionContent}}
  {{/ionView}}
</template>
