// Add Custom/Override Variables Here:

// $positive: #FB4B4E;
// $calm: #2A2C2B;
// $assertive: #FF5252;
$royal: #293E51;
$energized: #f0970d;
$assertive: #df5707;
// $royal: #263238;
// $base-background-color: #eceff1;
$base-background-color: #fff;

$loading-font-size: 22px;
$main-texture: '/square_bg_@2X.png';
$menu-color: #FFFFFF;
$border-black: #1E1E20;
$bluegrey: #607d8b;