// Custom
@import 'app-mixins';
@import 'app-variables';

// Ionic
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';



// .content.overflow-scroll {
// bottom: 0px !important;
// }

.italic {
	font-style: italic;
}

.line-height-one {
	line-height: 1.1em;
}

.snap-drawer {
	width: 270px !important;
}

body.keyboard-open .platform-android .content.overflow-scroll {
  bottom: 0px !important;
}

ion-side-menu.menu-left.menu {
  background-color: red !important;
}

.menu-left {
	background-color: #263238 !important;
	color: $menu-color !important;
	// background: url('/dvsup_@2X.png') repeat;
}

.transparent-list .item{
	background-color: transparent;
  	border-color: black;
  	color: #F0F1F1;
}

.logo-container {
	// background-color: green;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	height: 30vh;
}
.logo-container img {
	height: 18vh;
}

.logo-container-login {
	// background-color: green;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	height: 30vh;
}
.logo-container-login img {
	height: 22vh;
}

.beta {
	font-size: 0.7em;
	bottom: 1em;
	text-align: center;
	color: gray;
}

#bottom-triangle {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  background-color: #FFD479;
  position: absolute;
  z-index: -1;
}

#top-triangle { 
  width: 0; 
  height: 0; 
  border-top: 94vh solid  #FFBF49; 
  border-right: 100vw solid transparent;
  position: absolute;
  z-index: -1;
}

.top-part {
	height: 45vh;
	font-size: 1.5em;
	color: white;
}
.bottom-part {
	height: 47vh;
	font-size: 1.5em;
	color: white;
}

.check1 {
	background-color: pink;
}
.check2 {
	background-color: brown;
}
.center {
	text-align: center;
}
.left-align {
	text-align: left;
}
.right-align {
	text-align: right;
}

.flex-aligner {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.lend-image {
	height: 12vh;
	// margin-left: -40vw;
}

.borrow-image {
	height: 12vh;
	// margin-right: -40vw;
}
.top-part-margin {
	margin-right: 40vw;
}

.bottom-part-margin {
	margin-left: 40vw;
}

.bookDetail-container {
	// min-width: 100%;
	// min-height: 25vh;
	background-color: pink;
	// margin: 0 auto;
}
.bookThumbnail {
	width: auto;
	height: 22vh;
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
}

.viewfinder p {
  word-break: break-all;
  display: table-cell;
  vertical-align: middle;
}
.viewfinder {
	display: table;
	position: relative;
	width: 40%;
	height: 20%;
	background-color: white;
	margin: 0 auto;
	text-align: center;
	line-height: 100%;
}
.viewfinder::before, .viewfinder::after {
	position: absolute;
	content: '';
	width: 17px;
	height: calc(100% + 4px);
	top: -2px;
	left: -2px;
	background: -webkit-linear-gradient(#f0970d, #f0970d 20px, transparent 20px, transparent calc(100% - 20px), #f0970d calc(100% - 20px));
	background: linear-gradient(#f0970d, #f0970d 20px, transparent 20px, transparent calc(100% - 20px), #f0970d calc(100% - 20px));
	z-index: -1;
}
.viewfinder::after {
	left: calc(100% - 15px);
}

.viewfinder img {
	height: 20vh;
	width: auto;
}

.scan-result p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


#right-align1 {
	text-align: right;
}
#right-align2 {
	text-align: right;
}





.badge {
	margin-right: -10px;
	font-size: 0.6em;
}


.profile-image-container {
	min-width: 100%;
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	align-items: center;
	-webkit-justify-content: center;
}

.profile-image-container-2 {
	min-width: 100%;
	margin-left: -3px;
}

.profile-avatar {
	margin: 10px 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid #fafafa;
}

.profile-avatar-2 {
	margin: 1px 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #fafafa;
}

.Aligner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  height: 90%;
}

.badge-low {
	margin-top: 19px;
}

.item-avatar-2, .item-avatar-2 .item-content, .item-avatar-left, .item-avatar-left .item-content {
  padding-left: 72px;
  min-height: 72px; }
  .item-avatar-2 > img:first-child, .item-avatar-2 .item-image, .item-avatar-2 .item-content > img:first-child, .item-avatar-2 .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 5px;
    left: 12px;
    max-width: 58px;
    max-height: 64px;
    width: auto;
    height: auto;
    border-radius: 0%;
}

.no-padding {
	padding: 0;
	margin: 0;
}

.small-font p {
	font-size: 0.8em;
}

.keep-inside-padding {
	padding-right: 30px;
}

.connect-thumbnail {
	max-width: 50px;
	max-height: 75px;
	width: auto;
	height: auto;
}

// .item-avatar-2.item-complex, .item-avatar-left.item-complex, .item-thumbnail-left.item-complex {
//   padding-top: 0px;
//   padding-left: 0px; }



// .item-avatar-2 > img:first-child, .item-avatar-2 .item-image, .item-avatar-2 .item-content > img:first-child, .item-avatar-2 .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
//   position: absolute;
//   top: 5px;
//   left: 5px;
//   max-width: 58px;
//   max-height: 64px;
//   width: 100%;
//   height: 100%;
//   border-radius: 1%;
// }


.bubble {
	position: relative;
	width: 75vw;
	padding: 4px;
	margin-top: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -0px;
	top: 20%;
}

.bubble-right {
	margin-right: 22px;
	float: right;
	background: #FFD479;
}
.bubble-right:after {
	border-color: transparent #FFD479;
	right: -24px;
	border-width: 8px 0 8px 26px;
}

.bubble-left {
	margin-left: 22px;
	float: left;
	background: #eceff1;
}
.bubble-left:after {
	border-color: transparent #eceff1;
	left: -24px;
	border-width: 8px 26px 8px 0;
}
.discussion {
	margin-bottom: 44px;
}

.custom-icon {
  font-size: 25px !important;
}







