// Custom
@import 'app-mixins';
@import 'app-variables';

// Ionic
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';





// .content.overflow-scroll {
// bottom: 0px !important;
// }

.scroll-bar-indicator
{
	display: none;
}

.menu-content {
	box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5) !important;
	-webkit-box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5) !important;
}

.italic {
	font-style: italic;
}

.line-height-one {
	line-height: 1.1em;
}

.snap-drawer {
	width: 270px !important;
}

body.keyboard-open .platform-android .content.overflow-scroll {
  bottom: 0px !important;
}

ion-side-menu.menu-left.menu {
  background-color: red !important;
}

.menu-left {
	background-color: #263238 !important;
	color: $menu-color !important;
	overflow: hidden;
	// background: url('/dvsup_@2X.png') repeat;
}

.transparent-list .item{
	background-color: transparent;
  	border-color: rgba(0,0,0,0.3);
  	color: #F0F1F1;
}

.logo-container {
	// background-color: green;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	height: 30vh;
}
.logo-container img {
	height: 18vh;
}

.logo-container-login {
	// background-color: green;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	height: 30vh;
}
.logo-container-login img {
	height: 22vh;
}

.beta {
	font-size: 0.7em;
	bottom: 1em;
	text-align: center;
	color: gray;
}

#bottom-triangle {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  background-color: #FFD479;
  position: absolute;
  z-index: -1;
}

#top-triangle { 
  width: 0; 
  height: 0; 
  border-top: 94vh solid  #FFBF49; 
  border-right: 100vw solid transparent;
  position: absolute;
  z-index: -1;
}

.top-part {
	height: 45vh;
	font-size: 1.5em;
	color: white;
}
.bottom-part {
	height: 47vh;
	font-size: 1.5em;
	color: white;
}

.check1 {
	background-color: pink;
}
.check2 {
	background-color: brown;
}
.center {
	text-align: center;
}
.left-align {
	text-align: left;
}
.right-align {
	text-align: right;
}

.flex-aligner {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.lend-image {
	height: 12vh;
	// margin-left: -40vw;
}

.borrow-image {
	height: 12vh;
	// margin-right: -40vw;
}
.top-part-margin {
	margin-right: 40vw;
}

.bottom-part-margin {
	margin-left: 40vw;
}

.bookDetail-container {
	// min-width: 100%;
	// min-height: 25vh;
	// background-color: pink;
	// margin: 0 auto;
}
.bookThumbnail {
	width: auto;
	height: 22vh;
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
}

.viewfinder p {
  word-break: break-all;
  display: table-cell;
  vertical-align: middle;
}
.viewfinder {
	display: table;
	position: relative;
	width: 175px;
	height: 150px;
	background-color: white;
	margin: 0 auto;
	text-align: center;
	line-height: 100%;
	margin-top: 22vh;
}
.viewfinder::before, .viewfinder::after {
	position: absolute;
	content: '';
	width: 17px;
	height: calc(100% + 4px);
	top: -2px;
	left: -2px;
	background: -webkit-linear-gradient(#f0970d, #f0970d 20px, transparent 20px, transparent calc(100% - 20px), #f0970d calc(100% - 20px));
	background: linear-gradient(#f0970d, #f0970d 20px, transparent 20px, transparent calc(100% - 20px), #f0970d calc(100% - 20px));
	z-index: -1;
}
.viewfinder::after {
	left: calc(100% - 15px);
}

.viewfinder img {
	height: 20vh;
	width: auto;
}

.scan-result p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


#right-align1 {
	text-align: right;
}
#right-align2 {
	text-align: right;
}





.badge {
	margin-right: -10px;
	font-size: 0.5em;
	font-weight: 200;
}

.badge-alert {
	margin-right: -10px;
	font-size: 0.7em;
	font-weight: 200;
}


.profile-image-container {
	min-width: 100%;
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	align-items: center;
	-webkit-justify-content: center;
}

.profile-avatar {
	margin: 10px 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid #fafafa;
}

.profile-image-container-2 {
	min-width: 100%;
	margin-left: -3px;
}

.profile-avatar-2 {
	margin: 1px 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #fafafa;
}

.Aligner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  height: 90%;
}

.badge-low {
	margin-top: 19px;
}

.badge-mid {
	margin-top: 9px;
	font-size: 0.8rem;
	margin-right: 0px;
}

.item-avatar-2, .item-avatar-2 .item-content, .item-avatar-left, .item-avatar-left .item-content {
  padding-left: 80px;
  min-height: 72px; }

.item-avatar-2 .book-avatar {
	position: absolute;
    height: 62px;
    width: 60px;
    left: 12px;
    top: 5px;
    border: 1px solid #fafafa;
}

.book-avatar-inner {
	width: 100%;
	height: 100%;
}


#search-box[placeholder] {
	font-size: 0.8em;
}

.no-padding {
	padding: 0;
	margin: 0;
}

.reduce-bottom-margin {
	margin-bottom: 5px;
}

.small-font p {
	font-size: 0.8em;
}

.keep-inside-padding {
	padding-right: 30px;
}

.connect-thumbnail {
	max-width: 50px;
	max-height: 75px;
	width: auto;
	height: auto;
}

.scanResult-thumbnail {
	max-width: 150px;
	max-height: 150px;
	width: auto;
	height: auto;
	margin: 4px;
}

.scanResult-thumbnail2 {
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
	margin: 4px;
}


.bubble {
	position: relative;
	max-width: 70vw;
	width: auto;
	padding: 5px 10px 2px 10px;
	margin-top: 5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	clear: both;
}

// .bubble {
// 	position: relative;
// 	width: 75vw;
// 	padding: 4px;
// 	margin-top: 5px;
// 	-webkit-border-radius: 3px;
// 	-moz-border-radius: 3px;
// 	border-radius: 3px;
// }

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -0px;
	top: 20%;
}

.bubble-right {
	margin-right: 22px;
	float: right;
	background: #FFD479;
}
.bubble-right:after {
	border-color: transparent #FFD479;
	right: -24px;
	border-width: 8px 0 8px 26px;
}

.bubble-left {
	margin-left: 22px;
	float: left;
	background: #fff;
}
.bubble-left:after {
	border-color: transparent #fff;
	left: -24px;
	border-width: 8px 26px 8px 0;
}
.discussion {
	padding-bottom: 106px;
	// margin-bottom: 44px;
	height: 100%;
	// background: linear-gradient(
 //      rgba(189, 195, 199, 0.2),
 //      rgba(189, 195, 199, 0.2)
 //    ), url('/square_bg_@2X.png') repeat fixed center;
}

.custom-icon {
  font-size: 25px !important;
}

.chatContainer {
	bottom: 0;
	// position: absolute;
	margin-bottom: 18px;
	// background-color: pink;
	// overflow-y: scroll;
	// -webkit-overflow-scrolling: touch;
}


.graytext {
	color: #bdc3c7 !important; 
}

.grayer-text {
	color: #6C7A89;
}

.button-footer, .button-footer .row, .button-footer .col  {
	padding: 0;
	margin: 0;
}
.button-footer .button {
	margin: 0;
	min-height: 45px;
}

.button-orange1 {
	background-color: #FFBF49;
	border-color: #FFD479;
}

.button-orange2 {
	background-color: #FFD479;
	border-color: #FFD479;
}

.main-title-text {
	font-weight: 200 !important;
	color: #3b3b3b !important;
	font-size: 0.9em !important;
	margin-bottom: -1px !important;
}

.main-sub-text {
	font-weight: 200 !important;
	color: #7b7b7b !important;
	font-size: 0.7em !important;
	margin-top: -1px !important;
}

 .right-arrow {
	font-size: 22px !important;
}

.right-arrow:before {
	text-align: right !important;
}

.capitalize {
	text-transform: uppercase;
}
.tab-item {
	max-width: none !important;
}
.tab-bg {
	background-color: #eceff1;
	color: $assertive !important;
}
.tabs {
	color: #95a5a6;
}

.dollar-text {
	font-size: 28px;
	color: #95a5a6;
}
.card-special .item {
	background-color: transparent !important;
}
.card-special {
	background-color: transparent !important;
	box-shadow: none !important;
}
.card-special div {
	font-size: 40px;
	color: $assertive;
	padding: 40px 0;
	font-family: Futura-CondensedMedium;
}

.narrow-item {
	padding: 2px !important;
}

#map-box {
	height: 100vh;
	width: 100%;
}
#mapchat-box {
	height: 100vh;
	width: 100%;
}

.location-box {
	padding: 7px 10px 7px 0px	
}



// /**
// * Platform
// * --------------------------------------------------
// * Platform specific tweaks
// */

// .platform-ios.platform-cordova {
//   // iOS7/8 has a status bar which sits on top of the header.
//   // Bump down everything to make room for it. However, if
//   // if its in Cordova, and set to fullscreen, then disregard the bump.
//   &:not(.fullscreen) {
//     .bar-header:not(.bar-subheader) {
//       height: $bar-height + $ios-statusbar-height;

//       &.item-input-inset .item-input-wrapper {
//         margin-top: 0px !important;
//       }

//       > * {
//         margin-top: $ios-statusbar-height;
//       }
//     }
//     .tabs-top > .tabs,
//     .tabs.tabs-top {
//       top: $bar-height + $ios-statusbar-height;
//     }

//     .has-header,
//     .bar-subheader {
//       top: $bar-height + $ios-statusbar-height;
//     }
//     .has-subheader {
//       top: $bar-height + $bar-subheader-height + $ios-statusbar-height;
//     }
//     .has-tabs-top {
//       top: $bar-height + $tabs-height + $ios-statusbar-height;
//     }
//     .has-header.has-subheader.has-tabs-top {
//       top: $bar-height + $bar-subheader-height + $tabs-height + $ios-statusbar-height;
//     }
//   }
//   &.status-bar-hide {
//     // Cordova doesn't adjust the body height correctly, this makes up for it
//     margin-bottom: 20px;
//   }
// }

// @media (orientation:landscape) {
//   .platform-ios.platform-browser.platform-ipad {
//     position: fixed; // required for iPad 7 Safari
//   }
// }

// .platform-c:not(.enable-transitions) * {
//   // disable transitions on grade-c devices (Android 2)
//   -webkit-transition: none !important;
//   transition: none !important;
// }

.request-notify {
	top: 30px !important;
}

.item-button-right > .request-lower {
	top: 20px !important;
}

.item.item-button-right .badge {
	right: 24px;
}


.rating {
    float:left;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    padding:10px 6px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: $energized;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.rating-box {
	background-color: $balanced;
	color: white;
	padding: 2px;
	font-size: 0.9em;
	font-weight: 600;
}


.college-select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
	top: 0;
	left: 35%;
	padding: 14px 48px 16px 10px;
	min-width: 65%;
	border: none;
	background: #fff;
	color: #A1A1A1;
	text-indent: .01px;
	text-overflow: '';
	white-space: nowrap;
	font-size: 14px;
	cursor: pointer;
	direction: ltr;
}



textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	display: block;
	padding-top: 2px;
	padding-left: 4px;
	height: 34px;
	color: #111;
	vertical-align: middle;
	font-size: 14px;
	line-height: 16px;
}

.little-icon {
	font-size: 20px !important;
}

.grey {
	color: #BDC3C7;
}

.float-right {
	float: right;
}

.item-radio input:checked ~ .item-content {
    background: #FFF;
}

.push-up {
	top: 0px !important;
}

.push-up h6 {
	text-decoration: underline;
}

#browser-file-upload {
	position: absolute;
	opacity: 0;
	left: -1000px;
}

.item-avatar-custom {
	padding-left: 72px;
	min-height: 72px; 
}

.item-avatar-custom-circle {
	position: absolute;
	top: 16px;
	left: 16px;
	max-width: 40px;
	max-height: 40px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}











