<template name="changePassword">
    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="profile"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
      <h1 class="title" style="text-align:center;">Change Password</h1>
    {{/contentFor}}
    {{#ionView}}
      {{#ionContent}}
        <div class="card padding-horizontal padding-vertical">
            <form id="changePassword" >
                <div class="list">
                    <label class="item item-input">
                        <input id="new_password" type="password" placeholder="New password">
                    </label>
                    <label class="item item-input">
                        <input id="new_repeat_password" type="password" placeholder="Repeat new password">
                    </label>
                </div>
            </form>
            <button id="save-password" class="button button-block button-energized">SAVE</button>
        </div>

        {{/ionContent}}
      {{/ionView}}
</template>
