<template name="changePassword">
    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="profile"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
      <h1 class="title" style="text-align:center;">Change Password</h1>
    {{/contentFor}}
    {{#ionView}}
      {{#ionContent}}
      <br />
        <div class="padding-horizontal">
          <form id="changePassword" >
            <label class="item item-input">
              <span class="input-label"><p>New password:</p></span>
              <input id="new_password" type="password" value="">
            </label>
            <label class="item item-input">
              <span class="input-label"><p>Repeat new password:</p></span>
              <input id="new_repeat_password" type="password" value="">
            </label>
          </form>
          <button id="save-password" class="button button-block button-energized">SAVE</button>
        </div>
        {{/ionContent}}
      {{/ionView}}
</template>
