@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.results-content {
    margin-bottom: 50px;
    background-color: #ffffff;
}

.results {
    background: white;

    .item {
        padding: 0;
        border: 0;
        
        p {
            color: #272727;
            
            &.title {
                text-align: left;
            }
        }
    }
    
    a {
        text-decoration: none;
        color: #263238;
    }

    .scanResult-thumbnail {
        max-width:50px;
        max-height:60px;
    }

    .menu-category {
        background-color: #F5F5F5;
        border-bottom: 1px solid #eeeeee;
        cursor: pointer;
        padding: 23px 16px 23px 16px;
        font-size: 18px;
        text-align: left;
        
        &:active {
            background-color: #eeeeee;
        }
    }
    
    .icon-left {
        float: left;
        padding-right: 10px;
    }
    
    .icon-right {
        float: right;
    }
    
    .category {
        color: #272727;
//        text-transform: uppercase;
    }
    
    .category-icon {
        padding-left: 10px;
    }

    .product {
        margin: 0px;
        -webkit-animation: fadeIn 0.5s;
        animation: fadeIn 0.5s;
        display: block;
        max-height: 100px;
        min-height: 100px;
        border-bottom: 1px solid #EEE;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-items: center;
        
        &:active {
            background-color: #f5f5f5;
        }

        .row {
            margin: 0;
        }
        
        .image-col {
            display: -webkit-flex; /* Safari */
            -webkit-align-items: center; /* Safari 7.0+ */
            display: flex;
            align-items: center;
            max-width: 70px;
            min-width: 70px;
        }
        
        .ellipsis {
            overflow: hidden;
            height: 40px;
            
            .title {
                white-space: normal;
            }
        }

        .ellipsis:before {
            content:"";
            float: left;
            width: 5px; 
            height: 40px; 
        }

        .ellipsis > *:first-child {
            float: right;
            width: 100%;
            margin-left: -5px; 
        }		

        .ellipsis:after {
            content: "\02026";  

            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;

            float: right; position: relative;
            top: -20px; 
            left: 100%; 
            width: 3em; 
            margin-left: -3em;
            padding-right: 5px;

            text-align: right;

            background: -webkit-gradient(linear, left top, right top,
                from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
            background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);			
            background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
            background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
            background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); 
        }
        
        .price {
            font-size: 18px;
            margin-top: 5px;
            color: #E3900F;
        }
        
    }
    
    .itemNotFound {
        border-top: 1px solid #EEE;
    }
    
    .notFound {
        float: right;
        color: #f0970d;
        cursor: pointer;
        padding: 16px;
    }

}

.back {
    font-size: 20px;
    padding-left: 5px;
}

.scroll-results {
  margin-top:60px;
}
