@import '../../../styles/app-variables';

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

.results-details-content {

    .card {
        padding: 0;
    }

}

.results-details {

    .row {
        margin-left: 0;
    }

    .features {

        border: 0;

        i {
            float: right;
        }
    }

    .item-divider {
        margin: 0;
    }

    .item-input {
        margin-left: 0;
    }

    select:disabled {
        opacity: .6;
    }

    .features-details {
        border-top: 0;
        border-bottom: 0;
    }

    .attributes {
        border: 0;
    }

    .row-details {
        display: flex;

        .col {
            padding: 0;
        }
    }

    .details-box {

        padding: 5px;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;

        i {
            color: #fff;
            border-radius: 2px;
            padding: 10px;
            text-align: center;
            width: 42px;
            min-width: 42px;
            font-size: 19px;
            opacity: .8;
            -webkit-box-shadow: inset 0px -20px 0px 0px rgba(255,255,255,0.1);
            -moz-box-shadow: inset 0px -20px 0px 0px rgba(255,255,255,0.1);
            box-shadow: inset 0px -20px 0px 0px rgba(255,255,255,0.1);
        }

        .bk-energized { background-color: $energized; }
        .bk-assertive { background-color: $assertive; }

        .detail {
            font-size: 14px;
            padding: 10px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }

    .item-button {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .priceLabel {
        font-size: 10px;
    }

    input.userPrice {
        height: 20px;
    }

    .item-divider {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-aling-items: center;
    }

    .toggle {
        margin-left: 10px;
    }

    .enablePurchasing, .enableRent {
        margin-left: 10px;
        font-size: 10px;
    }

}
