<template name="adminPromotions">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Promotions</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="/" class="button button-clear">
      <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
    </a>
  {{/contentFor}}

  {{#ionView}}
      {{#ionContent class="admin-promotions overflow-scroll"}}

        <h1>Lorem ipsum</h1>

        {{#if isUserPermited}}
          {{#if Template.subscriptionsReady}}
            {{#each allUsers}}
              <p>{{ profile.name }}</p>
            {{/each}}
          {{else}}
            	<p>loading data...</p>
          {{/if}}
        {{else}}
          <p>no permission...</p>
        {{/if}}
      {{/ionContent}}
  {{/ionView}}
</template>
