<template name="adminPromotions">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Promotions</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="/" class="button button-clear">
      <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
    </a>
  {{/contentFor}}

  <div class="tabs-background-royal tabs-top tabs-color-light tabs-icon-top">
    <div class="tabs darken-element">
      <a class="tab-item {{#if isActiveClass "general" }} active {{/if}}" data-id="general" href="general"><i class="icon ion-ios-people"></i>GENERAL</a>
      <a class="tab-item {{#if isActiveClass "duke" }} active {{/if}}" data-id="duke" href="duke"><i class="icon ion-university"></i>DUKE</a>
      <a class="tab-item {{#if isActiveClass "yale" }} active {{/if}}" data-id="yale" href="yale"><i class="icon ion-university"></i>YALE</a>
      <a class="tab-item {{#if isActiveClass "others" }} active {{/if}}" data-id="others" href="others"><i class="icon ion-earth"></i>OTHERS</a>
    </div>
  </div>

  {{#ionView}}

      {{#ionContent class="admin-promotions has-tabs-top overflow-scroll"}}
        {{#if isUserPermitted}}
          {{#if Template.subscriptionsReady}}
             
            <div class="list card userList">
              <div class="item">
                <h2>Listing {{countUsersByArea}} users</h2>
                <span class="item-note">
                  <b>Total Transactions:</b> ${{ transactionsTotalByArea }}
                </span>
              </div>
            </div>

            {{#each usersByArea}}
              <div class="list card userList">
                <div class="item item-avatar">
                  <img src="{{profile.avatar}}">
                  
                  <h2>{{profile.name}}</h2>
                  <p>{{../filterLabel profile.area}}</p>
                  <p>E ${{../transactionEarnByUserId _id}} / S ${{../transactionSpentByUserId _id}}</p> 
                                   
                 <!--  <p>{{ ../hasChildren _id }}</p>
                  <p>{{profile.area}}</p>
                  <p>$0,00</p>
                  <p>$0,00</p> -->
                  <span class="badge badge-energized">{{ ../childrenCount _id }} friends</span>
                  <span class="item-note">
                    <b>Friends Total:</b> E ${{../childrenEarnTotal _id}} / S ${{../childrenSpentTotal _id}}
                  </span>
                </div>

                {{#each ../userChildren _id }}
                  <div class="item item-text-wrap item-avatar child">
                    <!-- <div class="item "> -->
                      <img src="{{profile.avatar}}">

                      <h3>{{profile.name}}</h3>
                      <p>{{../../filterLabel profile.area}}</p>
                     <!--  <p>$0,00</p>
                      <p>$0,00</p> -->
                    <!-- </div>  -->
                      <span class="item-note">
                        E ${{../../transactionEarnByUserId _id}} / S ${{../../transactionSpentByUserId _id}}
                      </span>
                  </div>
                {{/each}}
                
              </div>
            {{/each}}

            
          {{else}}
            <div class="list card">
                <div class="item title">
                  loading data...
                </div>
            </div>
          {{/if}}
        {{else}}
          <div class="list card">
                <div class="item title">
                  no permission
                </div>
            </div>
        {{/if}}
      {{/ionContent}}
  {{/ionView}}
</template>
