<template name="shoutoutDetails">
    
    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title" style="text-align:center">Details</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <a href="/" class="button button-clear">
          <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
        </a>
    {{/contentFor}}

    {{#ionView class="shout-out-details"}}
    
        {{#ionContent class="overflow-scroll"}}
    
            {{#with shout}}
    
                <div class="list card">
                    <a class="item item-avatar" href="#">
                      <img src="{{user.avatar}}">
                      <p>
                          <span class="user-name">{{user.name}}</span> 
                          <span class="user-message">{{message}}</span>
                      </p>
                      <p class="user-time">{{../getTime createdAt}}</p>
                    </a>
                </div>
    
            {{/with}}
    
        {{/ionContent}}
    
    {{/ionView}}
    
</template>