<template name="notifications">
  {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
          {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
          {{else}}
          {{> ionIcon icon='navicon' class="energized"}}
          {{/if}}
        </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Notifications</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="/" class="button button-clear">
        <img id="spinner-logo-simple" src="/logo/spinner-logo-simple.png" />
    </a>
  {{/contentFor}}

<!--
  {{#contentFor "headerButtonRight"}}
    {{#if profileEdit}}
       <button id="saveProfile" class="button button-clear button-energized">Save</button>
    {{/if}}
  {{/contentFor}}
-->

  {{#ionView}}
    {{#ionContent}}

    <ul class="list">
      {{#each notifications}}
      <li class="item item-icon-left item-icon-right show-message item-text-wrap">
        {{> ionIcon icon="ios-information-outline" class="energized little-icon"}}
        <h3 class="dark">{{{message}}}</h3>
        <h4 class="grey">{{cleanDate}}</h4>
        {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
      </li>
      {{/each}}
    </ul>

    {{/ionContent}}
  {{/ionView}}
</template>
