<template name="main">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
        {{else}}
        {{> ionIcon icon='navicon' class="energized"}}
        {{/if}}
      </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">
        <object id="spinner-logo-simple" data="logo/spinner-logo-simple.svg" type="image/svg+xml"></object>
    </h1>
  {{/contentFor}}
    
  {{#ionView class="main"}}
    <div class="content overflow-scroll has-header">
<!--
	    <div id="bottom-triangle">
	    	<div id="top-triangle"></div>
	    </div>

	    <div class="top-part flex-aligner" data-ion-modal="lend">
	    	<div class="top-part-margin center">
	    		<img src="img/lend_white.png" class="lend-image">
	    		<br><br>
	    		{{> ionIcon icon='android-arrow-back' class=""}}
	    		<span class="center">SHARE &nbsp;&nbsp;&nbsp;&nbsp;</span>
	    	</div>
	    </div>

	    <div class="bottom-part flex-aligner">
	    	<div class="bottom-part-margin center">
	    		<img src="img/borrow_white.png" class="borrow-image">
	    		<br><br>
		    	<span class="">RENT&nbsp;</span>{{> ionIcon icon='android-arrow-forward' class=""}}
	    	</div>
	    </div>
-->
        
         <div class="lend top-part flex-aligner" data-ion-modal="lend">
	    	<div class="center">
	    		<img src="img/lend_white.png" class="lend-image">
	    		<br><br>
                <div class="share-box">
	    		     <span class="share">SHARE</span>
                </div>
	    	</div>
	    </div>

	    <div class="rent bottom-part flex-aligner">
	    	<div class="center">
	    		<img src="img/borrow_white.png" class="borrow-image">
	    		<br><br>
                <div class="share-box">
		    	 <span class="rent">BORROW</span>
                </div>
	    	</div>
	    </div>
        

    </div>
  {{/ionView}}
</template>
