// Add Custom/Override Variables Here:

// $positive: #FB4B4E;
// $calm: #2A2C2B;
// $assertive: #FF5252;
// $royal: #293E51;
// $royal: #263238;

$royal: #272727;
$energized: #f0970d;
$assertive: #df5707;
// $stable: #bdc3c7;
// $royal: #263238;
$base-background-color: #eceff1;

$loading-font-size: 22px;
$main-texture: '/square_bg_@2X.png';
$menu-color: #FFFFFF;
$border-black: #1E1E20;
$bluegrey: #607d8b;
$ios-statusbar-height: 20px !default;



$font-family-sans-serif:          "Futura", "Roboto", "Segoe UI", sans-serif !default;
$font-family-light-sans-serif:    "Futura", "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;

$font-family-base:                $font-family-sans-serif !default;
