// Add Custom/Override Variables Here:

// $positive: #FB4B4E;
// $calm: #2A2C2B;
// $assertive: #FF5252;
// $royal: #293E51;
// $royal: #263238;

$royal: #272727;
$energized: #f0970d;
$assertive: #df5707;
// $stable: #bdc3c7;
// $royal: #263238;
$base-background-color: #fafafa;


$grey: #BDC3C7;

$loading-font-size: 22px;
$main-texture: '/square_bg_@2X.png';
$menu-color: #FFFFFF;
$border-black: #1E1E20;
$bluegrey: #607d8b;
$ios-statusbar-height: 20px !default;
$cordovaStatusBar: style(1); //Light


@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(/fonts/Ubuntu/Ubuntu-Light.ttf) format('truetype'), url(/fonts/Ubuntu/Ubuntu-Light.woff2) format('woff2'), url(/fonts/Ubuntu/Ubuntu-Light.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Ubuntu/Ubuntu.eot);
  src: local('Ubuntu'), url(/fonts/Ubuntu/Ubuntu.ttf) format('truetype'), url(/fonts/Ubuntu/Ubuntu.eot?#iefix) format('embedded-opentype'), url(/fonts/Ubuntu/Ubuntu.svg#Ubuntu) format('svg'), url(/fonts/Ubuntu/Ubuntu.woff2) format('woff2'), url(/fonts/Ubuntu/Ubuntu.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(/fonts/Ubuntu/Ubuntu-Bold.ttf) format('truetype'), url(/fonts/Ubuntu/Ubuntu-Bold.woff2) format('woff2'), url(/fonts/Ubuntu/Ubuntu-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(/fonts/Ubuntu/Ubuntu-Light-Italic.ttf) format('truetype'), url(/fonts/Ubuntu/Ubuntu-Light-Italic.woff2) format('woff2'), url(/fonts/Ubuntu/Ubuntu-Light-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(/fonts/Ubuntu/Ubuntu-Italic.ttf) format('truetype'), url(/fonts/Ubuntu/Ubuntu-Italic.woff2) format('woff2'), url(/fonts/Ubuntu/Ubuntu-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(/fonts/Ubuntu/Ubuntu-Bold-Italic.ttf) format('truetype'), url(/fonts/Ubuntu/Ubuntu-Bold-Italic.woff2) format('woff2'), url(/fonts/Ubuntu/Ubuntu-Bold-Italic.woff) format('woff');
}


$font-family-sans-serif:          "Ubuntu", sans-serif !default;
$font-family-light-sans-serif:    "Ubuntu", sans-serif-light !default;
//$font-family-sans-serif:          "Futura", "Roboto", "Segoe UI", sans-serif !default;
//$font-family-light-sans-serif:    "Futura", "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;

$font-family-base:                $font-family-sans-serif !default;
