<!-- TAB 2 - BARCODE -->
<template name="barcode">
    <div class="barcode">
        <div class="content">
<!--
            <div class="list">
                <div class="item item-input-inset">
                    <input id="manualInput" type="tel" placeholder="Enter barcode number">
                    <button id="manualSubmit" class="button button-small button-energized button-outline">Submit</button>
                </div>
            </div>
-->

            <div class="box-barcode hide-on-keyboard-open" id="barcode">
                <div class="icon-box">
                    <i class="fa fa-barcode"></i>
                    <p class="caption">TAP TO <br/> SCAN BARCODE</p>
                </div>
             </div>
            
<!--
            <div class="viewfinder get-photo has-header hide-on-keyboard-open" id="barcode">
                <p>SCAN BARCODE</p>
            </div>
-->
        </div>
    </div>
</template>
