ion-side-menu.menu-left.menu {
  background-color: red !important;
}

.menu-left {
  background-color: #272727 !important;
  color: #FFFFFF !important;
  overflow: hidden;
  // background: url('/dvsup_@2X.png') repeat;
}

.transparent-list {

    .badge.badge-notification {
        right: 8px;
        top: -8px;
        max-width: 20px;
        max-height: 20px;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
    }

    .item.top {
        border: 0;
        margin-top: 10px;
        padding-bottom: 0;
        background-color: transparent;

        h5 {
            font-size: 13px;
        }

        .notification {
            position: absolute;
            left: 235px;
        }

        i {
            font-size: 24px;
        }
    }

    .menu-icon {
        width: 14px;
        display: inline-block;
    }

    .logo-container {
        // background-color: green;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        height: 28vh;
        margin-top: 1vh;
    }

    .text {
        margin-top: -5vh;
        margin-bottom: 3vh;
    }

    .logo-container img {
        height: 19vh;
    }

    .logo-container-login img {
        height: 22vh;
    }

    h5 {
        margin-top: 0;
        margin-bottom: -5px;
    }

    .item.menutext {
        background-color: transparent;
        border-color: rgba(0, 0, 0, 0.3);
        color: #F0F1F1;
        padding-bottom: 2.4vh;
        padding-top: 2.4vh;
    }

    #logout {
        background-color: transparent;
        color: #ffffff;
        border-radius: 24px;
        min-width: 200px;
        min-height: 40px;
        height: 40px;
        border: 2px solid #ffffff;
        line-height: 28px;
        position: fixed;
        bottom: 20px;
        margin-left: 30px;
    }

    .beta {
        font-size: 0.7em;
        bottom: 1em;
        text-align: center;
        color: gray;
        position: fixed;
        bottom: 0;
        margin-left: 110px;
    }

}
