<!-- PART 1 -->

<template name="tutorial_p1_step1">
    <div class="tutorial">
        <div class="list padding start-tutorial">
            <div class="logo-container">
                <img src="{{ getImage 'sidemenu-logo' }}"/>
            </div>
        </div>
    </div>
</template>

<template name="tutorial_p1_step2">
    <div class="tutorial">
        <p>Start sharing an item by clicking on share box.</p>
    </div>
</template>

<!--PART 2 -->

<template name="tutorial_p2_step1">
    <div class="tutorial">
        <div class="center">
            <h3>SHARE</h3>
        </div>
       <p>Add a product using the search bar at top or one of the 3 options at bottom.</p>
    </div>
</template>

<template name="tutorial_p2_step2">
    <div class="tutorial">
        <div class="center">
            <h3>MANUAL ENTRY</h3>
        </div>
        <p>
            A product can be added manually using the manual entry. 
            You are able to share a product with 4 price options: day, week, month and semester (4 months).
        </p>
        <p>Additionally, you can sell the product adding the price and enabling the selling option.</p>
    </div>
</template>

<template name="tutorial_p2_step3">
    <div class="tutorial">
        <div class="center">
            <h3>BARCODE SCANNER</h3>
        </div>
        <p>Also, you can add a product using the barcode scanner or...</p>
    </div>
</template>

<template name="tutorial_p2_step4">
    <div class="tutorial">
        <div class="center">
            <h3>IMAGE SEARCH</h3>
        </div>
        <p>...simply take a picture of the product!</p>
    </div>
</template>

<!-- PART 3 -->

<template name="tutorial_p3_step1">
     <div class="tutorial">
        <p>You can borrow an item by clicking on borrow box.</p>
    </div>
</template>

<template name="tutorial_p3_step2">
     <div class="tutorial">
        <p>You can borrow an item by clicking on borrow box.</p>
    </div>
</template>

<!-- PART 4 -->

<template name="tutorial_p4_step1">
    <div class="tutorial">
        <div class="center">
            <h3>BORROW</h3>
        </div>
        <p>Select the product you want to borrow and request the item.</p>
        <p>Additionally, you can user the search and categories bar to filter the products.</p>
    </div>
</template>

<!-- PART 5 -->

<template name="tutorial_p5_step1">
    <div class="tutorial">
        <div class="center">
            <h3>TRANSACTIONS</h3>
        </div>
        <p>Finally, after borrow and pay the product you can check your transactions.</p>
    </div>
</template>


<!-- PARTIO TUTORIAL -->

<template name="partioTutorial">
    {{#if tutorialEnabled}}
        {{#if tutorialPart 1}}
            {{> tutorial options 1}}
        {{/if}}
        {{#if tutorialPart 2}}
            {{> tutorial options 2}}
        {{/if}}
        {{#if tutorialPart 3}}
            {{> tutorial options 3}}
        {{/if}}
        {{#if tutorialPart 4}}
            {{> tutorial options 4}}
        {{/if}}
        {{#if tutorialPart 5}}
            {{> tutorial options 5}}
        {{/if}}
    {{/if}}
</template>



<template name="profileTutorial_step1">
    <div class="tutorial">
        <p>Remember keep your profile updated!</p>
    </div>
</template>

<template name="profileTutorial_step2">
    <div class="tutorial">
        <p>Remember keep your profile updated!</p>
    </div>
</template>

<template name="profileTutorial_step3">
    <div class="tutorial">
        <p>Product will be filtered in borrow screen according with your location!</p>
    </div>
</template>

<template name="profileTutorial_step4">
    <div class="tutorial">
        <p>Add a payment card to share and borrow items!</p>
        <p>Note: You need fill the birth date field to add a payment card.</p>
    </div>
</template>

<template name="profileTutorial_step5">
    <div class="tutorial">
        <p>Add a friend in the promotion screen and invite friends to add you!</p>
<!--        <p>You will receive exta money for each friend!</p>-->
    </div>
</template>

<template name="profileTutorial_step6">
    <div class="tutorial">
        <p>If you have questions, please contact us!</p>
        <p>Let's partiO!</p>
    </div>
</template>

<!-- PARTIO PROFILE TUTORIAL -->

<template name="partioProfileTutorial">
    {{#if profileTutorialEnabled}}
        {{> tutorial options}}
    {{/if}}
</template>


<template name="appTutorial">
  
  {{#ionModal title="Tutorial" class="tutorial"}}
      
      {{#if isTutorialStarted}}
    
      {{#ionSlideBox}}
        {{#ionSlide class="slide-1"}}
          <div class="slide-item" style="background:url({{ getTutorialImage 'Home-Screen' }})">
            <div class="obs">Choose whether you want to share an item you own or borrow an item from a peer.</div>
          </div>
        {{/ionSlide}}

        {{#ionSlide class="slide-2"}}
          <div class="slide-item" style="background:url({{ getTutorialImage 'Take-Photo' }})">
            <div class="obs">To share an item, simply take a picture of the object, scan the barcode, or enter it manually.</div>
          </div>
        {{/ionSlide}}

        {{#ionSlide class="slide-3"}}
          <div class="slide-item" style="background:url({{ getTutorialImage 'Setting-Rental-Prices' }})">
            <div class="obs">Confirm the details of your item, and set rental prices.</div>
          </div>
        {{/ionSlide}}

        {{#ionSlide class="slide-4"}}
          <div class="slide-item" style="background:url({{ getTutorialImage 'Request-Received' }})">
            <div class="obs">Then just wait for someone to request your product!</div>
          </div>
        {{/ionSlide}}

        {{#ionSlide class="slide-5"}}
          <div class="slide-item" style="background:url({{ getTutorialImage 'Listing' }})">
            <div class="obs">To borrow an item, choose the categories you want to search in. Then scroll or enter a description of the product.</div>
          </div>
        {{/ionSlide}}

        {{#ionSlide class="slide-6"}}
          <div class="slide-item" style="background:url({{ getTutorialImage 'Requesting-Product' }})">
            <div class="obs">Select the product you want to rent and request the item.</div>
          </div>
        {{/ionSlide}}

        {{#ionSlide class="slide-7"}}
          <div class="slide-item" style="background:url({{ getTutorialImage 'Contact-Menu' }})">
            <div class="obs">Once your request is approved, you can begin to communicate with the owner.</div>
          </div>
        {{/ionSlide}}

        {{#ionSlide class="slide-8"}}
          <div class="slide-item" style="background:url({{ getTutorialImage 'Chat' }})">
            <div class="obs">Lenders and borrowers can communicate with other users over chat and over a phone call.</div>
          </div>
        {{/ionSlide}}

        {{#ionSlide class="slide-9"}}
          <div class="slide-item" style="background:url({{ getTutorialImage 'Allow-Renting' }})">
            <div class="obs">Then, you can set a location to exchange the product, and you’re ready to partiO! </div>
          </div>
        {{/ionSlide}}


        {{#ionSlide class="slide-10" active-slide="finalSlide"}}
          <div class="slide-item" style="background:url({{ getTutorialImage 'Sidemenu' }})">
            <div class="obs">Additionally, the menu makes everything easy access. Go ahead, get started!</div>
          </div>
        {{/ionSlide}}

      {{/ionSlideBox}}
    
      {{else}}
    
            <div class="list padding start-tutorial">
                <div class="logo-container">
                    <div class="logo"><img src="{{ getImage 'sidemenu-logo' }}"/></div>
                </div>
                <button id="startTutorial" class="button button-block button-energized">Start Tutorial!</button>
                <a id="jumpTutorial">JUMP TUTORIAL</a>
            </div>
    
      {{/if}}
    
    
  {{/ionModal}}
</template>