.tutorial {
	.content {
		overflow-y: auto !important;

		.slide-item {
			height:calc(100% - 67px);
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-size: contain !important;
			position: relative;
			margin-top:8px;


			.obs {
				width: 100%;
		    	font-size: 14px;
		    	text-align: center;
		    	position: absolute;
		    	bottom: 0;
		    	background-color: rgba(255, 255, 255, 0.8);
		    	padding:5px;
			}

			/*div {
			    width: 90%;
			    margin: auto;
			    text-align: center;
			}*/
		} 
	}
}