<template name="register">

  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="/"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Sign up</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a class="button button-clear">
        <object id="spinner-logo-simple" data="/logo/spinner-logo-simple.svg" type="image/svg+xml"></object>
    </a>
  {{/contentFor}}

  {{#ionView class="register"}}
<!--    {{#ionContent}}-->
  <div class="content ion-content overflow-scroll has-header">

      <div class="center">
        <object id="spinner-logo-signup" data="/logo/spinner-logo-simple-black.svg" type="image/svg+xml"></object>
          <div class="spinner-logo-caption">Let's Share.</div>
      </div>

    <div class="list padding-horizontal padding-vertical">
      <label class="item item-input">
        <i class="icon ion-ios-person energized placeholder-icon"></i>
        &nbsp;<input type="text" name="name" class="border-radius-20" placeholder="Name">
      </label>
      <br>

      <label class="item item-input">
        <i class="icon ion-ios-email energized placeholder-icon"></i>
        &nbsp;<input type="email" name="email" class="border-radius-20" placeholder="Email">
      </label>
      <br>
      <label class="item item-input">
        <i class="icon ion-ios-telephone energized placeholder-icon"></i>
        &nbsp;<input type="text" name="mobile" class="border-radius-20" placeholder="Mobile">
      </label>
      <br />
      <label class="item item-input">
        <i class="icon ion-ios-locked energized placeholder-icon"></i>
        &nbsp;<input type="password" name="password" class="border-radius-20" placeholder="Password">
      </label>
      <br>

    <label class="item item-input item-select">
      <i class="icon ion-university energized placeholder-icon"></i>
      <div class="input-label border-radius-20"><p>College</p></div>
      <select id="college" class="border-radius-20">
        <option selected><p>Select</p></option>
        <option>Duke University</option>
        <option>Rollins College</option>
        <option>Test Gmail IDs</option>
      </select>
    </label>

      <!-- <br>

      <label class="item item-input" data-ion-modal="map">
        <i class="icon ion-ios-location energized placeholder-icon"></i>
        <div class="location-box"><p>{{fetchedLocation}}</p></div>
      </label> -->

<!--           <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-location energized placeholder-icon"></i>
        <p>Record album</p>
        <span class="item-note">
          Grammy
        </span>
      </a> -->

    </div>

    <div class="padding-horizontal center">
      <button id="registerButton" class="border-radius-20 button button-energized">REGISTER</button>
    </div>
  </div>
<!--    {{/ionContent}}-->
  {{/ionView}}
</template>
