<template name="shoutout">

    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear" data-ion-menu-toggle="left">
            {{> ionIcon icon='navicon' class="energized"}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title" style="text-align:center">Shout Out</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <a href="/" class="button button-clear">
          <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
        </a>
    {{/contentFor}}

    {{#ionView class="shout-out"}}

          <div class="bar has-header item-input-inset" style="padding:0;" data-keyboard-attach>
            <label class="item-input-wrapper" style="padding:0;">
              <textarea id="messageInput" type="text" rows="1" placeholder="What do you need?"></textarea>
            </label>
            <button id="shoutSubmit" class="button-assertive button button-clear">Send</button>
          </div>

        {{#ionContent class="has-subheader overflow-scroll"}}

            <div class="list-shouts">

                {{#if tabMyShouts}}

                    {{#each ../myShouts}}

                        <div class="list col-xs-12 col-sm-12 col-md-6 col-lg-4 {{productExist}}">
                            <div class="card">
                                <a class="item item-avatar" href="{{#if ../isTypeShout type}}
                                                                    /shoutout/{{_id}}
                                                                  {{else}}
                                                                    /listing/search/{{sharedProducts.[0]._id}}?ownerId={{sharedProducts.[0].ownerId}}
                                                                  {{/if}}">
                                  {{#with ../getUser userId}}
                                      <img src="{{profile.avatar}}">
                                      <span class="user-name">{{profile.name}}</span>
                                  {{/with}}

                                  {{#if ../isTypeShout type}}
                                    {{#if ../hasSharedProducts sharedProducts.length}}
                                        <span class="badge badge-energized badge-items">{{../getSharedProductsBadge sharedProducts.length}}</span>
                                    {{/if}}
                                  {{/if}}

                                  <span class="user-message">{{message}}</span>

                                  <p class="user-time">{{../getTime createdAt}}</p>

                                  <div class="item-icon-right">
                                    {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
                                  </div>
                                </a>
                            </div>
                        </div>

                    {{/each}}

                {{else}}

                    {{#each shouts}}

                        <div class="list col-xs-12 col-sm-12 col-md-6 col-lg-4 {{productExist}}">
                            <div class="card">
                                <a class="item item-avatar" href="{{#if ../isTypeShout type}}
                                                                    /shoutout/{{_id}}
                                                                  {{else}}
                                                                    /listing/search/{{sharedProducts.[0]._id}}?ownerId={{sharedProducts.[0].ownerId}}
                                                                  {{/if}}">
                                  {{#with ../getUser userId}}
                                      <img src="{{profile.avatar}}">
                                      <span class="user-name">{{profile.name}}</span>
                                  {{/with}}

                                  {{#if ../isTypeShout type}}
                                    {{#if ../hasSharedProducts sharedProducts.length}}
                                        <span class="badge badge-energized badge-items">{{../getSharedProductsBadge sharedProducts.length}}</span>
                                    {{/if}}
                                  {{/if}}

                                  <span class="user-message">{{message}}</span>

                                  <p class="user-time">{{../getTime createdAt}}</p>

                                  <div class="item-icon-right">
                                    {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
                                  </div>
                                </a>
                            </div>
                        </div>

                    {{/each}}

                {{/if}}

            </div>

            {{>loader}}

        {{/ionContent}}

        <div class="tabs-background-royal tabs-color-light {{ hideClass }} tabs-icon-top">
            <div class="tabs darken-element">
                <a class="tab-item tab-shout-out {{isActivated 0}}" id="tabShoutOut"><i class="icon ion-speakerphone"></i>SHOUT OUT</a>
                <a class="tab-item tab-my-shouts {{isActivated 1}}" id="tabMyShouts"><i class="icon ion-ios-heart"></i>MY SHOUTS</a>
            </div>
        </div>
    {{/ionView}}

</template>
