@import '../../styles/app-variables';

.shout-out {
    
    #messageInput {
        width: 100%;
    }
    
    .hidden { display: none; }
    
    .content {
        height: calc(100% - 135px);
    }
    
    .card {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .tab-item {
        background-color: #353535;
        
        &.active {
            background-color: $royal;
        }
    }
    
    .item-input-wrapper {
        background-color: #ffffff;
    }
    
    .item {
        
        .user-name {
            font-size: 14px;
            color: $assertive;
            font-weight: bold;
            white-space: normal;
            overflow: visible;
        }
        
        .user-message {
            font-size: 14px;
            font-weight: bold;
            line-height: 16px;
            white-space: normal;
            padding-right: 10px;
            overflow: visible;
        }
        
        .user-time {
            font-size: 12px;
            height: 15px;
            color: #757575;
            padding-top: 2px;
        }

    }
}