@import '../../styles/app-variables';

.shout-out {

    .content {
        padding: 10px 0;
        height: calc(100% - 135px);
    }

    .list {
        padding: 5px 10px;
        margin: 0;
    }

    .card {
        margin: 0;
        // margin-top: 10px;
        // margin-bottom: 10px;
    }

    .hidden { display: none; }

    #messageInput {
        width: 100%;
        height: 44px;
        padding-top: 14px;
        padding-left: 16px;
    }

    #shoutSubmit {
        padding-right: 16px;
    }

    .tab-item {
        background-color: #353535;

        &.active {
            background-color: $royal;
        }
    }

    .item-input-wrapper {
        background-color: #ffffff;
    }

    @media screen and (min-width: 972px) {
        .item.item-avatar {
            height: 100px;
        }

        .user-message {
            overflow: hidden;
            max-height: 34px;
            display: block;
        }
    }

    .item {

        .user-name {
            font-size: 14px;
            color: $assertive;
            font-weight: bold;
            white-space: normal;
            overflow: visible;
        }

        .user-message {
            font-size: 14px;
            font-weight: bold;
            line-height: 16px;
            white-space: normal;
            padding-right: 10px;
        }

        .user-time {
            font-size: 12px;
            height: 15px;
            color: #757575;
            padding-top: 2px;
        }

        .badge-items {
            bottom: 10px;
            right: 40px;
            top: initial;
            font-size: 9px;
        }

    }
}
