.renting-list {

    .item-avatar-2 .product-avatar {
        position: absolute;
        height: 100px;
        width: 70px;
        padding-right: 10px;
        border-right: 1px solid #DDD;
        left: 12px;
        -webkit-justify-content: center;
        justify-content: center;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-items: center;
        -webkit-flex-direction: column;
        flex-direction: column;
        
        &.purchasing {
            height: 70px;
        }
    }

    .product-avatar-inner {
        max-width: 100%;
        max-height: 100%;
    }

    .item-divider {
        padding-top: 12px;
        padding-bottom: 12px;

        h3 {
            height: 17px;
        }

        i {
            float: right;
        }
    }

    .main-title-text {
        padding-left: 10px;
    }

    .main-sub-text {

        padding-left: 10px;

        .ion-ios-calendar-outline, .ion-cash, .ion-ios-clock-outline {
            font-size: 16px;
            display: inline-flex;
            width: 20px;
            padding-right: 5px;
            justify-content: center;
        }

        .price {
            font-size: 18px;
            color: #f0970d;
        }
    }

    .badge.rent-status {
        top: 0;
        height: 15px;
        line-height: 1;
        border-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #8B8B8B;
        background-color: #DDDDDD;
    }

    .item .badge.rent-status {
        top: 0;
    }

    .not-yet {

        i {
            color: #272727;
        }
    }
    
}
