<template name="renting">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{> ionIcon icon='navicon' class="energized"}}
      </button>

      {{> searchHeader}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Borrowed Items</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="/" class="button button-clear">
        <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
    </a>
  {{/contentFor}}

<!--   {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="lend">{{> ionIcon icon="ios-plus-outline" class="assertive"}}</button>
  {{/contentFor}} -->

  {{#if isTapping}}

      {{> searchBox}}

      {{#ionView}}
        {{#ionContent class="has-subheader overflow-scroll"}}
          {{> searchResult}}
        {{/ionContent}}
      {{/ionView}}

  {{else}}

  {{#ionView}}
    {{#ionContent class="renting-list"}}

    {{#if dataExists}}
      <div class="list">
      {{#if toBeApproved.count}}
          <div class="item item-divider waiting"><h3>Waiting for Owner's Approval <i class="chevron-icon icon ion-chevron-down"></i></h3></div>
        <div class="waiting-item">
            {{#each toBeApproved}}
              {{#ionItem path='connectRent' _id=this._id class="item-avatar-2"}}
                <div class="product-avatar">
                    <img class="product-avatar-inner" src="{{ getImage 'spinner-logo' }}" onLoad="this.src='{{productData.image}}';this.style.animation='none'"/>
                </div>
                <p class="main-title-text">{{productData.title}}</p>
                <p class="main-sub-text">
                    Condition of the item: <b>{{../getProductCondition productData.conditionId}}</b>
                </p>
                <p class="main-sub-text">
                    <i class="icon ion-ios-calendar-outline"></i>
                    {{../getTotalDays borrowDetails.date.totalDays}}
                    ({{../getStartDate borrowDetails.date.start}} to {{../getEndDate borrowDetails.date.end}})
                </p>
                <p class="main-sub-text">
                    {{#if ../isTimeOver borrowDetails.date.start borrowDetails.date.end}}
                        <span style="color:red">
                            <i class="icon ion-ios-clock-outline"></i>
                            {{../getDaysLeft borrowDetails.date.start borrowDetails.date.end}}
                        </span>
                    {{else}}
                        <i class="icon ion-ios-clock-outline"></i>
                        {{../getDaysLeft borrowDetails.date.start borrowDetails.date.end}}
                    {{/if}}
                </p>
                <p class="main-sub-text">
                    <i class="icon ion-cash"></i>
                    <span class="price">${{borrowDetails.price.total}}</span>
                </p>
                <span class="badge rent-status">{{state}}</span>
                <div class="item-icon-right">
                    {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
                </div>
              {{/ionItem}}
            {{/each}}
        </div>
      {{/if}}

      {{#if toBePaid.count}}
        <div class="item item-divider payment"><h3>Waiting for Payment <i class="chevron-icon icon ion-chevron-down"></i></h3></div>
        <div class="payment-item">
            {{#each toBePaid}}
              {{#ionItem path='connectRent' _id=this._id class="item-avatar-2"}}
                <div class="product-avatar">
                    <img class="product-avatar-inner" src="{{ getImage 'spinner-logo' }}" onLoad="this.src='{{productData.image}}';this.style.animation='none'"/>
                </div>
                <p class="main-title-text">{{productData.title}}</p>
                <p class="main-sub-text">
                    Condition of the item: <b>{{../getProductCondition productData.conditionId}}</b>
                </p>
                <p class="main-sub-text">
                    <i class="icon ion-ios-calendar-outline"></i>
                    {{../getTotalDays borrowDetails.date.totalDays}}
                    ({{../getStartDate borrowDetails.date.start}} to {{../getEndDate borrowDetails.date.end}})
                </p>
                <p class="main-sub-text">
                    {{#if ../isTimeOver borrowDetails.date.start borrowDetails.date.end}}
                        <span style="color:red">
                            <i class="icon ion-ios-clock-outline"></i>
                            {{../getDaysLeft borrowDetails.date.start borrowDetails.date.end}}
                        </span>
                    {{else}}
                        <i class="icon ion-ios-clock-outline"></i>
                        {{../getDaysLeft borrowDetails.date.start borrowDetails.date.end}}
                    {{/if}}
                </p>
                <p class="main-sub-text">
                    <i class="icon ion-cash"></i>
                    <span class="price">${{borrowDetails.price.total}}</span>
                </p>
                <span class="badge rent-status">{{state}}</span>
                <div class="item-icon-right">
                    {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
                </div>
              {{/ionItem}}
            {{/each}}
        </div>
      {{/if}}

      {{#if currentlyBorrowed.count}}
        <div class="item item-divider borrowed"><h3>Borrowed Items <i class="chevron-icon icon ion-chevron-down"></i></h3></div>
        <div class="borrowed-item">
            {{#each currentlyBorrowed}}
            <!-- <div class="borrowedBookDetail"> -->
              {{#ionItem path="connectRent" class="item-avatar-2"}}
                <div class="product-avatar">
                    <img class="product-avatar-inner" src="{{ getImage 'spinner-logo' }}" onLoad="this.src='{{productData.image}}';this.style.animation='none'"/>
                </div>
                <p class="main-title-text">{{productData.title}}</p>
                <p class="main-sub-text">
                    Condition of the item: <b>{{../getProductCondition productData.conditionId}}</b>
                </p>
                <p class="main-sub-text">
                    <i class="icon ion-ios-calendar-outline"></i>
                    {{../getTotalDays borrowDetails.date.totalDays}}
                    ({{../getStartDate borrowDetails.date.start}} to {{../getEndDate borrowDetails.date.end}})
                </p>
                <p class="main-sub-text">
                    {{#if ../isTimeOver borrowDetails.date.start borrowDetails.date.end}}
                        <span style="color:red">
                            <i class="icon ion-ios-clock-outline"></i>
                            {{../getDaysLeft borrowDetails.date.start borrowDetails.date.end}}
                        </span>
                    {{else}}
                        <i class="icon ion-ios-clock-outline"></i>
                        {{../getDaysLeft borrowDetails.date.start borrowDetails.date.end}}
                    {{/if}}
                </p>
                <p class="main-sub-text">
                    <i class="icon ion-cash"></i>
                    <span class="price">${{borrowDetails.price.total}}</span>
                </p>
                <span class="badge rent-status">{{state}}</span>
                <div class="item-icon-right">
                    {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
                </div>
              {{/ionItem}}
            <!-- </div> -->
            {{/each}}
        </div>
      {{/if}}

    {{#if isReturned.count}}
        <div class="item item-divider returned"><h3>Returned Items <i class="chevron-icon icon ion-chevron-down"></i></h3></div>
        <div class="returned-item">
            {{#each isReturned}}
              {{#ionItem path="connectRent" class="item-avatar-2"}}
                <div class="product-avatar">
                    <img class="product-avatar-inner" src="{{ getImage 'spinner-logo' }}" onLoad="this.src='{{productData.image}}';this.style.animation='none'"/>
                </div>
                <p class="main-title-text">{{productData.title}}</p>
                <p class="main-sub-text">
                    Condition of the item: <b>{{../getProductCondition productData.conditionId}}</b>
                </p>
                <p class="main-sub-text">
                    <i class="icon ion-ios-calendar-outline"></i>
                    {{../getTotalDays borrowDetails.date.totalDays}}
                    ({{../getStartDate borrowDetails.date.start}} to {{../getEndDate borrowDetails.date.end}})
                </p>
                <p class="main-sub-text">
                    {{#if ../isTimeOver borrowDetails.date.start borrowDetails.date.end}}
                        <span style="color:red">
                            <i class="icon ion-ios-clock-outline"></i>
                            {{../getDaysLeft borrowDetails.date.start borrowDetails.date.end}}
                        </span>
                    {{else}}
                        <i class="icon ion-ios-clock-outline"></i>
                        {{../getDaysLeft borrowDetails.date.start borrowDetails.date.end}}
                    {{/if}}
                </p>
                <p class="main-sub-text">
                    <i class="icon ion-cash"></i>
                    <span class="price">${{borrowDetails.price.total}}</span>
                </p>
                <span class="badge rent-status">{{state}}</span>
                <div class="item-icon-right">
                    {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
                </div>
              {{/ionItem}}
            {{/each}}
        </div>
      {{/if}}
      </div>
    {{else}}
        <div class="center padding-horizontal not-yet">
          <div style="width:100%">
            <img src="{{ getImage 'spinner-logo' }}" class="btnshadow" style="height:150px" /> <br/>
            <a href="/listing" class="btn">START BORROWING!</a>
            <p class="dark">Browse listings on partiO and start borrow!</p>
          </div>
        </div>
    {{/if}}

    {{/ionContent}}
  {{/ionView}}

  {{/if}}
</template>
