<template name="inventory">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
        {{else}}
        {{> ionIcon icon='navicon' class="energized"}}
        {{/if}}
      </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Inventory</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="/" class="button button-clear">
        <object id="spinner-logo-simple" data="/logo/spinner-logo-simple.svg" type="image/svg+xml"></object>
    </a>
  {{/contentFor}}

<!--
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="lend">{{> ionIcon icon="ios-plus-outline" class="assertive"}}</button>
  {{/contentFor}}
-->

  {{#ionView}}
    {{#ionContent class="product-list"}}

    {{#if dataExists}}
      {{#if newRequests.count}}
        <div class="list">
        <div class="item item-divider"><h3>Requests from others</h3></div>
        {{#each newRequests}}

          {{#if statusWaiting}}
              {{#ionItem path="connect" _id=this._id class="item-avatar-2 item-button-right" iconRight=true}}
                  <div  class="book-avatar"><div class="book-avatar-inner" style="background: url('{{productData.image}}') no-repeat; background-size:cover; background-position: 50% 20%;"></div></div>
                  <p class="main-title-text">{{productData.title}}</p>
                  <p class="main-sub-text">Rent: ${{productData.rentPrice.day}}|${{productData.rentPrice.week}}|${{productData.rentPrice.month}}|${{productData.rentPrice.semester}}</p>
<!--                  <button id="respondToReq" class="button button-energized request-lower"><h6>Respond</h6></button>-->
                  {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
              {{/ionItem}}
          {{else}}
              {{#ionItem path="connect" _id=this._id class="item-avatar-2  item-button-right" iconRight=true}}
              <div  class="book-avatar"><div class="book-avatar-inner" style="background: url('{{productData.image}}') no-repeat; background-size:cover; background-position: 50% 20%;"></div></div>
              <p class="main-title-text">{{productData.title}}</p>
              <p class="main-sub-text">Rent: ${{productData.rentPrice.day}}|${{productData.rentPrice.week}}|${{productData.rentPrice.month}}|${{productData.rentPrice.semester}}</p>
<!--                <span class="badge badge-low badge-energized">{{state}}</span>-->
                {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
              {{/ionItem}}
          {{/if}}

        {{/each}}
        </div>
      {{/if}}

      {{#if myBooks.count}}
        <div class="list">
        <div class="item item-divider"><h3>My Products</h3></div>
        {{#each myBooks}}

          {{#ionItem path='inventoryDetail' _id=this._id iconRight=true class="item-avatar-2"}}
              <div class="book-avatar"><div class="book-avatar-inner" style="background: url('{{image}}') no-repeat; background-size:cover; background-position: 50% 20%;"></div></div>
              <p class="main-title-text">{{title}}</p>
              <p class="main-sub-text">Rent: ${{rentPrice.day}}|${{rentPrice.week}}|${{rentPrice.month}}|${{rentPrice.semester}}</p>
              <p class="main-sub-text">Condition of the item: {{getCondition}}</p>
              {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
          {{/ionItem}}
        {{/each}}
        </div>
      {{/if}}
    {{else}}
      <div class="Aligner">
        <h6 class="dark">Start sharing your items on partiO!</h6>
      </div>
    {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>
