.product-list {

    @media screen and (min-width: 450px) {
        
        .loading-wrapper {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    
    .item-divider {
        padding-top: 12px;
        padding-bottom: 12px;

        h3 {
            height: 17px;
        }

        i {
            float: right;
        }
    }

    .main-title-text {
        padding-left: 10px;
    }

    .main-sub-text {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        padding-left: 10px;
        
        b {
            padding-left: 5px;
        }

        .ion-ios-calendar-outline, .ion-cash, .ion-ios-clock-outline {
            display: inline-flex;
            display: -webkit-inline-flex;
            justify-content: center;
            -webkit-justify-content: center;
            font-size: 16px;
            width: 25px;
            min-width: 25px;
            padding-right: 5px;
        }

        .price {
            font-size: 18px;
            color: #f0970d;
        }
    }

    .badge.share-status {
        top: 0;
        height: 15px;
        line-height: 1;
        border-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #8B8B8B;
        background-color: #DDDDDD;
    }

    .item-avatar-2 .product-avatar {
        position: absolute;
        height: 100px;
        width: 70px;
        padding-right: 10px;
        border-right: 1px solid #DDD;
        left: 12px;
        -webkit-justify-content: center;
        justify-content: center;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-items: center;
//        -webkit-flex-direction: column;
//        flex-direction: column;

        &.my-products {
            height: 80px;
        }
        
        &.purchasing {
            height: 70px;
        }
    }

    .product-avatar-inner {
        max-width: 100%;
        max-height: 100%;
    }

    table.rent-table {
        width: 90%;
        max-width: 300px;
        font-size: 10px;
        margin-left: 5px;
        margin-top: 5px;

        tr {
            height: 16px;
            display: flex;
            width: 100%;
            margin-top: -1px;
        }

        th {
            font-size: 7px;
            color: rgba(39, 39, 39, 0.7);
        }

        td {
            color: rgba(39, 39, 39, 0.75);
            background-color: #DDDDDD;
            border-radius: 10px;
        }

        th, td {
            width: 25%;
            margin-right: 3px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 16px;
        }

    }

    .not-yet {

        i {
            color: #272727;
        }
    }

}
