<template name="inventoryDetail">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="inventory" class="backFromEdit"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Product Details</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear icon ion-ios-compose-outline button-energized" id="editCurrent"></button>
  {{/contentFor}}

  {{#ionView}}
     {{#ionContent class="inventory-details overflow-scroll"}}

    <div class="card">

        <div class="center">
            <img class="product-image" src="{{image}}"/>


            {{#if editMode}}
            <div class="details-box">
              <input name="title" class="detail title" style="text-align:center;border:0" value="{{title}}">
              <input type="hidden" class="last_title" value="{{title}}">
            </div>
            {{else}}
                <span class="product-title"> {{title}} </span>
            {{/if}}

        </div>

        <div class="row-details">
             <div class="col col-50">
                <div class="details-box">
                    <i class="icon {{getCategoryIcon}} bk-energized"></i>
                    <span class="detail">{{amazonCategory}}</span>
                </div>
            </div>
            <div class="col col-50">
                <div class="details-box">
                    <i class="icon ion-cash bk-energized"></i>
                    <span class="detail">{{price}}</span>
                </div>
            </div>
         </div>

        <div class="item item-divider features"><h2>Features <i class="chevron-icon icon ion-chevron-right"></i></h2></div>
<!--
        <div class="subtitle-box features">
            <div class="center">
                <span>FEATURES </span><i class="chevron-icon icon ion-chevron-right"></i>
            </div>
        </div>
-->

        <div class="row features-details hidden">
            <div class="col col-25">
                {{#each attributes}}
                <p>{{key}}</p>
                {{/each}}
            </div>
            <div class="col col-75 scan-result">
                {{#each attributes}}
                <p>{{value}}</p>
                {{/each}}
            </div>
        </div>

<!--
        <div class="subtitle-box">
            <div class="center">
                <span>CONDITION OF THE ITEM</span>
            </div>
        </div>

        <div class="row">
            <div class="col col-100">
                {{#if editMode}}
                    <textarea name="description" class="fieldDescriptionLend" rows="8">{{description}}</textarea>
                {{else}}
                    <textarea name="description" class="fieldDescriptionLend" rows="8" disabled>{{description}}</textarea>
                {{/if}}
            </div>
        </div>
-->

        
        <div class="item item-divider"><h2>Rent Price</h2></div>
<!--
        <div class="subtitle-box">
            <div class="center">
                <span>RENT PRICE</span>
            </div>
        </div>
-->

        <div class="item-table">
            <table class="rent-table">
                <tbody>
                    <tr>
                        <th><i class="icon">D</i></th>
                        <th><i class="icon">W</i></th>
                        <th><i class="icon">M</i></th>
                        <th><i class="icon">S</i></th>
                    </tr>
                    <tr>
                        {{#if editMode}}
                        <td><input class="detail dayPrice" type="number" id="editPrice" value="{{rentPrice.day}}"></td>
                        <td><input class="detail weekPrice" type="number" id="editPrice" value="{{rentPrice.week}}"></td>
                        <td><input class="detail monthPrice" type="number" id="editPrice" value="{{rentPrice.month}}"></td>
                        <td><input class="detail semesterPrice" type="number" id="editPrice" value="{{rentPrice.semester}}"></td>
                        {{else}}
                        <td>${{rentPrice.day}}</td>
                        <td>${{rentPrice.week}}</td>
                        <td>${{rentPrice.month}}</td>
                        <td>${{rentPrice.semester}}</td>
                        {{/if}}
                    </tr>
                </tbody>
            </table>
        </div>
        
<!--
        <div class="row-details">
            <div class="col col-50">
                <div class="details-box">
                    <span class="customPrice bk-energized"> D </span>
                    {{#if editMode}}
                        <input class="detail dayPrice" type="number" id="editPrice" value="{{rentPrice.day}}">
                    {{else}}
                        <span class="detail">${{rentPrice.day}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="col col-50">
                <div class="details-box">
                    <span class="customPrice bk-energized"> W </span>
                    {{#if editMode}}
                        <input class="detail weekPrice" type="number" id="editPrice" value="{{rentPrice.week}}">
                    {{else}}
                        <span class="detail">${{rentPrice.week}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row-details">
            <div class="col col-50">
                <div class="details-box">
                    <span class="customPrice bk-assertive"> M </span>
                    {{#if editMode}}
                        <input class="detail monthPrice" type="number" id="editPrice" value="{{rentPrice.month}}">
                    {{else}}
                        <span class="detail">${{rentPrice.month}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="col col-50">
                <div class="details-box">
                    <span class="customPrice bk-assertive"> S </span>
                    {{#if editMode}}
                        <input class="detail semesterPrice" type="number" id="editPrice" value="{{rentPrice.semester}}">
                    {{else}}
                        <span class="detail">${{rentPrice.semester}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
-->

        {{#if editMode}}
            <div class="padding-horizontal">
                <button id="editSave" class="button button-block button-energized">SAVE</button>
            </div>
<!--
        {{else}}
            <div class="padding-horizontal">
                <button id="editCurrent" class="button button-block">EDIT</button>
            </div>
-->
        {{/if}}

    </div>

     {{/ionContent}}
  {{/ionView}}
</template>
