<template name="inventory">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon' class="energized"}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Inventory</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="/" class="button button-clear">
        <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
    </a>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="product-list"}}

      <!-- FINALIZED REQUESTS -->

      {{#if myProducts.count}}
        {{#if finalizedRequests.count}}
          <div class="item item-divider final-requests">
              <h3>Finalized requests <i class="chevron-icon icon ion-chevron-down"></i></h3>
          </div>
          <div class="final-request-item">
              {{#each finalizedRequests}}
                {{#ionItem path="connect" _id=productData._id class="item-avatar-2"}}
                  <div class="product-avatar">
                    <img class="product-avatar-inner" src="{{productData.image}}" >
                  </div>
                  <p class="main-title-text">{{productData.title}}</p>
                  <p class="main-sub-text">
                      Condition of the item: <b>{{../getCondition productData.conditionId}}</b>
                  </p>
                  <p class="main-sub-text">
                    <i class="icon ion-ios-calendar-outline"></i>
                    {{../getTotalDays borrowDetails.date.totalDays}}
                    ({{../getStartDate borrowDetails.date.start}} to {{../getEndDate borrowDetails.date.end}})
                  </p>
                  <p class="main-sub-text">
                      <i class="icon ion-ios-clock-outline"></i>
                      {{../getDaysLeft borrowDetails.date.start borrowDetails.date.end}}
                  </p>
                  <p class="main-sub-text">
                      <i class="icon ion-cash"></i>
                      <span class="price">${{borrowDetails.price.total}}</span>
                  </p>
                  <span class="badge share-status">{{../labelState state}}</span>
                  <div class="item-icon-right">
                    {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
                  </div>
                {{/ionItem}}
              {{/each}}
          </div>
        {{/if}}

        <!-- NEW REQUESTS -->

        {{#if newRequests.count}}
          <div class="item item-divider requests">
              <h3>Requests from others <i class="chevron-icon icon ion-chevron-down"></i></h3>
          </div>
          <div class="request-item">
              {{#each newRequests}}
                {{#ionItem path="connect" _id=productData._id class="item-avatar-2"}}
                  <div class="product-avatar">
                    <img class="product-avatar-inner" src="{{ getImage 'spinner-logo' }}" onLoad="this.src='{{productData.image}}';this.style.animation='none'"/>
                  </div>
                  <p class="main-title-text">{{productData.title}}</p>
                  <p class="main-sub-text">
                      Condition of the item: <b>{{../getCondition productData.conditionId}}</b>
                  </p>
                  <p class="main-sub-text">
                    <i class="icon ion-ios-calendar-outline"></i>
                    {{../getTotalDays borrowDetails.date.totalDays}}
                    ({{../getStartDate borrowDetails.date.start}} to {{../getEndDate borrowDetails.date.end}})
                  </p>
                  <p class="main-sub-text">
                      <i class="icon ion-ios-clock-outline"></i>
                      {{../getDaysLeft borrowDetails.date.start borrowDetails.date.end}}
                  </p>
                  <p class="main-sub-text">
                      <i class="icon ion-cash"></i>
                      <span class="price">${{borrowDetails.price.total}}</span>
                  </p>
                  <span class="badge share-status">{{../labelState state}}</span>
                  <div class="item-icon-right">
                    {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
                  </div>
                {{/ionItem}}
              {{/each}}
          </div>
        {{/if}}

        <!-- LISTING ALL USER PRODUCTS -->
        <div class="item item-divider products">
            <h3>My products <i class="chevron-icon icon ion-chevron-down"></i></h3>
        </div>
        <div class="product-item">
            {{#each myProducts}}
              {{#ionItem path='inventoryDetail' _id=_id class="item-avatar-2"}}
                <div class="product-avatar">
                  <img class="product-avatar-inner" src="{{ getImage 'spinner-logo' }}" onLoad="this.src='{{image}}';this.style.animation='none'"/>
                </div>
                <p class="main-title-text">{{title}}</p>
                <p class="main-sub-text">Condition of the item: <b>{{../getCondition conditionId}}</b></p>
                <p class="main-sub-text">Rent Price:</p>
                <p class="main-sub-text">
                  <table class="rent-table">
                    <tbody>
                      <tr>
                        <th class="one"><i class="icon">D</i></th>
                        <th class="two"><i class="icon">W</i></th>
                        <th class="three"><i class="icon">M</i></th>
                        <th class="four"><i class="icon">S</i></th>
                      </tr>
                      <tr>

                        <td>${{rentPrice.day}}</td>
                        <td>${{rentPrice.week}}</td>
                        <td>${{rentPrice.month}}</td>
                        <td>${{rentPrice.semester}}</td>
                      </tr>
                    </tbody>
                  </table>
                </p>
                <div class="item-icon-right">
                {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
                </div>
              {{/ionItem}}
            {{/each}}
        </div>
      {{else}}
        <div class="center padding-horizontal not-yet">
          <div style="width:100%">
            <img src="{{ getImage 'spinner-logo' }}" style="height:150px" /> <br/>
            <a class="btn start-share">START SHARING!</a>    
            <p class="dark">Start sharing your items on partiO!</p>
          </div>
        </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
