<template name="productDetail">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="listing"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Product Details</h1>
  {{/contentFor}}


  {{#ionView}}
    {{#ionContent}}
      <div class="card">

        <div class="row item row-center">
          <div class="col col-33">
            <div class="bookDetail-container">
              <div class="bookThumbnail" style="background-image: url('{{image}}'); "></div>
            </div>
          </div>
          <div class="col col-67 item-text-wrap">
            <h3>{{title}}</h3>
            <p class="line-height-one">{{authors}}</p>
          </div>
        </div>

        <div class="item no-padding small-font">

          <div class="row row-center">
            <div class="col-offset-10"></div>
            <div class="col col-33">
              <div class="profile-image-container-2">
                {{#if noProfileYet}}
                <div class="profile-avatar-2" style="background: url('profile_image_placeholder.jpg') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
                {{else}}
                <div class="profile-avatar-2" style="background: url('{{profileImage}}') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
                {{/if}}
              </div>
            </div>
            <div class="col col-67 item-text-wrap keep-inside-padding">
              {{#with userInfo}}
              <p class="dark">{{name}}</p>
              <p class="dark line-height-one">{{college}}</p>
              {{/with}}
            </div>
          </div>

          <div class="row">
            <div class="col-offset-10"></div>
            {{#if manualEntry}}
              <div class="col col-33 ">
                <p>Publisher</p>
                <p>Description</p>
              </div>
              <div class="col col-67 item-text-wrap keep-inside-padding">
                <p>{{publisher}}</p>
                <p>{{comments}}</p>
              </div>
            {{else}}
              <div class="col col-33">
                <p>Amazon $</p>
                <p>Publisher</p>
                <p>Binding</p>
                <p>Pages</p>
                <p>EAN</p>
              </div>
              <div class="col col-67 scan-result keep-inside-padding">
                <p>{{price}}</p>
                <p>{{publisher}}</p>
                <p>{{binding}}</p>
                <p>{{pages}}</p>
                <p>{{ean}}</p>
              </div>
            {{/if}}
          </div>

        </div>

        <div class="row item">
          <div class="col-offset-10">
          </div>
          <div class="col col-33"><p>You Pay</p></div>
          <div class="col col-50"><p><span class="assertive">${{customPrice}} / week</span></p></div>
        </div>
      </div>

      <div class="padding-horizontal">
        <button id="request-book" class="button button-block button-assertive">REQUEST PRODUCT</button>
        </div>

    {{/ionContent}}
  {{/ionView}}
</template>
