<template name="login">
  {{#contentFor "headerTitle"}}
    <h1 class="title">
        <object id="spinner-logo-simple" data="logo/spinner-logo-simple.svg" type="image/svg+xml"></object>
    </h1>
  {{/contentFor}}


  {{#ionView class="login"}}
<!--    {{#ionContent class="slice-screen no-header"}}-->
    <div class="content ion-content overflow-scroll has-header">
    <!-- <div class="content has-header"> -->
      <div class="center">
          <object id="login-logo" data="logo/logo.svg" type="image/svg+xml"></object>

          <input type="email" name="email" placeholder="Username">
          <input type="password" name="password" placeholder="Password">

          <h5 id="triggerGPS">Sign up here</h5>
          <h5 id="forgot-password">Forgot Password?</h5>

          <button id="loginButton" class="button sign-in">Sign in</button>
          <button id="fblogin" class="button sign-in-facebook icon-left ion-social-facebook">Sign in with facebook</button>

      </div>
    </div>
  {{/ionView}}

  <!-- </div> -->
</template>
