.login {

    background: url(img/login-background-soft.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;

    h5 {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0;
        color: #ffffff;
        cursor: pointer;
    }

    #login-logo {
        // ---
        // commented out by @perak - it covers login form in smaller resolution screens, and login is impossible
        // width: 80%;
        // margin-top: 40%;
        // ---
        margin-bottom: 10px;
        opacity: .9;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 20px;
    }

    path {
        border: 1px solid rgba(38, 50, 56, 0.5);
    }

    input[type="text"], input[type="password"], input[type="email"] {
        margin:10px auto;
        display:block;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        padding-left: 15px;
        width: 65%;
        background-color: rgba(250, 250, 250, 0.7);
        border: 1px solid rgba(38, 50, 56, 0.5);
    }

    ::-webkit-input-placeholder {
        color: #606d74;
    }

    button {
        margin:10px auto;
        display:block;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        border-radius: 25px;
        width: 65%;
        color: #ffffff;

        &:hover {
            color: #ffffff;
        }
    }

    .sign-in {
        background-color: rgba(224, 86, 6, 0.7);
        border: 1px solid rgba(38, 50, 56, 0.5);

        &:hover {
            background-color: rgba(224, 86, 6, 0.8);
        }
    }

    .sign-in-facebook {
        background-color: rgba(65, 94, 155, 0.7);
        border: 1px solid #415e9b;

        &:hover {
            background-color: rgba(65, 94, 155, 0.8);
        }
    }

}
