.datepicker table tr td.range, .datepicker table tr td.range:hover, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover {
    display: table-cell;
}
.requestRent{
    .range-end,.datepicker,.table-condensed,div.range{
        width: 100%;
    }
}

.modal.requestRent {
    background-color: #f5f5f5;
}

.datepicker{
    border: 1px solid #E8E8E8;
    table{
        thead{
            tr{
                &:first-child{
                    border-bottom: 1px solid #E57838;
                }
                &:last-child{

                    th{
                        border-radius: 0px;
                        background: #F4B350;
                        border-radius: 0px;
                        color: #fff;
                    }
                }
            }
        }
    }
    table tr td{
         &.today{
            background: none;
            font-weight: 600;
            text-decoration: underline;
        }
        &.selected.active, &.selected, &.range{
            color: #000000;
            background-color: #ffdb99;
            border-color: #ffb733;
            border-radius: 0px;
        }
    }
}
.date-periods{
    padding-bottom: 10px;
}
.datepicker-days{
    tr{
        th{
            font-size: 15px;
        }
        td{
            font-size: 14px;
        }
    }
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding-top: 8px;
}

.request-tab{
    h3{
        text-align: center;
        i{
            float: right;
        }
    }
}

.range {
    padding: 0;
    font-size: 17px;
    display: inline-block;
    width: 260px;
    margin: 0 auto;
}
.rent-period{
    font-size: 13px;
    color: #999;
}
.requestRent {

    color: #272727;

    .item-divider {
        i {
            position: absolute;
            right:20px;
            top:9px;
            display: block;

        }
    }

    .rent-price-item {
        display: none;
    }

    table.rent-table {
        width: 100%;

        th, td {
            text-align: center;
            width: 25%;
            padding: 5px;
            border: 1px solid #ffffff;
        }

        th {
            color: #ffffff;
            -webkit-box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            -moz-box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            opacity: .8;

            &:first-child {
                border-top-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
            }

        }

        .prices {

            th {
                &.one { background-color: #FF9800 }
                &.two { background-color: #FB8C00 }
                &.three { background-color: #F57C00 }
                &.four { background-color: #EF6C00 }
            }

        }

        .details {

            th {
                background-color: #9E9E9E;
            }

            th.active {
                &.one { background-color: #FF9800 }
                &.two { background-color: #FB8C00 }
                &.three { background-color: #F57C00 }
                &.four { background-color: #EF6C00 }
            }

            td {
                color: #9E9E9E;
                font-size: 13px;
            }
            td.active {
                color: #272727;
            }
        }

        td {
            background-color: #f5f5f5;
            border-bottom: 1px solid #eeeeee;
        }
        td.total_price{
            background: #E8E8E8;
            color: #000000;
            font-size: 15px;
        }
    }
    
    .item.item-button {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}