<template name="requestRent">

   {{#ionModal class="requestRent" customTemplate=true}}
        <div class="bar bar-header bar-royal">

          <h2 class="title" style=" display:inline-block;
								width:60%;
				                white-space: nowrap;
								overflow:hidden !important;
								text-overflow: ellipsis;
								margin:0 auto">
              Rent Request
          </h2>

          <button type="button" id="closeRequest" data-dismiss="modal" style="right: 5px;position: absolute;" title="Close" class="button button-clear">
                    <i class="icon ion-ios-close-outline"></i>
          </button>
        </div>

    <div class="list has-header">

        <div class="padding-horizontal padding-vertical">

            <div class="list">

<!--

                <div class="item item-divider rent-price">
                    <h3>Rent Price <i class="chevron-icon icon ion-chevron-up"></i></h3>
                </div>

                <div class="item center rent-price-item">
                    <table class="rent-table">
                         <tbody class="prices">
                            <tr>
                                <th class="one"><i class="icon">D</i></th>
                                <th class="two"><i class="icon">W</i></th>
                                <th class="three"><i class="icon">M</i></th>
                                <th class="four"><i class="icon">S</i></th>
                            </tr>
                            <tr>
                                <td>${{rentPrice.day}}</td>
                                <td>${{rentPrice.week}}</td>
                                <td>${{rentPrice.month}}</td>
                                <td>${{rentPrice.semester}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
-->

                <div class="item item-divider request-tab"><h3>Rent Period <i class="fa fa-calendar"></i></h3></div>

                <div class="item center">
                    <div class="range">
                        <div class="range-start" style="display:none;"></div>
                        <div class="range-end"></div>
                    </div>
                </div>

                <div class="item item-divider request-tab"><h3>Rent Price<i class="fa fa-money"></i></h3></div>

                <div class="item">
                    <div class="center">
                    <p class="date-periods"><span class="rent-days"></span> <span class="rent-period"></span></p>

                        <table class="rent-table">
                            <tbody class="details">
                                <tr>
                                    <th class="{{activeDays}} one"><i>D</i></th>
                                    <th class="{{activeWeeks}} two"><i>W</i></th>
                                    <th class="{{activeMonths}} three"><i>M</i></th>
                                    <th class="{{activeSemesters}} four"><i>S</i></th>
                                </tr>
                                <tr>
                                    <td class="price_header {{activeDays}}">${{rentPrice.day}}</td>
                                    <td class="price_header {{activeWeeks}}">${{rentPrice.week}}</td>
                                    <td class="price_header {{activeMonths}}">${{rentPrice.month}}</td>
                                    <td class="price_header {{activeSemesters}}">${{rentPrice.semester}}</td>
                                </tr>
                                <tr>
                                    <td class="{{activeDays}}">x{{numberDays}}</td>
                                    <td class="{{activeWeeks}}">x{{numberWeeks}}</td>
                                    <td class="{{activeMonths}}">x{{numberMonths}}</td>
                                    <td class="{{activeSemesters}}">x{{numberSemesters}}</td>
                                </tr>
                                <tr>
                                    <td class="{{activeDays}}">${{totalPriceDays}}</td>
                                    <td class="{{activeWeeks}}">${{totalPriceWeeks}}</td>
                                    <td class="{{activeMonths}}">${{totalPriceMonths}}</td>
                                    <td class="{{activeSemesters}}">${{totalPriceSemesters}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="active total_price">Total: ${{calculatedPrice}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <button id="sendRequest" class="button button-block button-energized" {{enableRequest}}>SEND REQUEST</button>
        </div>
    </div>

  {{/ionModal}}
</template>
