.datepicker table tr td.range, .datepicker table tr td.range:hover, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover {
    display: table-cell;
}

.range {
    padding: 0;
    font-size: 17px;
    display: inline-block;
    width: 260px;
    margin: 0 auto;
}

.requestRent {
    
    color: #272727;
    
    .item-divider {
        i {
            float: right;
        }
    }
    
    .rent-price-item {
        display: none;
    }
    
    table.rent-table {
        width: 100%;
        
        th, td {
            text-align: center;
            width: 25%;
            padding: 5px;
            border: 1px solid #ffffff;
        }
        
        th {
            color: #ffffff;
            -webkit-box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            -moz-box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            opacity: .8;
            
            &:first-child {
                border-top-left-radius: 5px;
            }
            
            &:last-child {
                border-top-right-radius: 5px;
            }
        
        }
        
        .prices {
        
            th {
                &:nth-child(odd) {
                    background-color: #f0970d; 
                }

                &:nth-child(even) {
                    background-color: #df5707; 
                }
            }  
        }
        
        .details {
            
            th { 
                background-color: #9E9E9E; 
            }
            th.active {      
                &:nth-child(odd) {
                    background-color: #f0970d; 
                }

                &:nth-child(even) {
                    background-color: #df5707; 
                }
            }
            td {
                color: #9E9E9E;
            }
            td.active {
                color: #272727;
            }
        }
        
        td {
            background-color: #f5f5f5;
            border-bottom: 1px solid #eeeeee;
        }
        
    }
}