<template name="listing">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear" data-ion-menu-toggle="left">
        {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
        {{else}}
          {{> ionIcon icon='navicon' class="energized"}}
        {{/if}}
      </button>

      {{> searchHeader}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Search Products</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="/" class="button button-clear">
      <img id="spinner-logo-simple" src="logo/spinner-logo-simple.png" />
    </a>
  {{/contentFor}}
<!--
 {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right">
    </button>
 {{/contentFor}}
-->

<!--   {{#contentFor "headerButtonRight"}}
    <button data-ion-modal="filter" class="button button-clear custom-icon ion-ios-keypad button-energized"></button>
  {{/contentFor}} -->

  {{> searchBox}}

  {{#ionView}}
    {{#ionContent class="has-subheader overflow-scroll"}}
      {{> searchResult}}
    {{/ionContent}}
  {{/ionView}}
</template>


<template name="searchBox">

<!--
    <div class="list list-inset" style="margin:0">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" id="search-box" placeholder="type keywords to search..." value="{{searchText}}">
      </label>
    </div>
-->

    <div class="bar bar-subheader categoriesFilter center" style="padding:0;">
        <div class="row">
            <div class="categoryFilter col col-15 {{isActivated 0}}">
                <i class="{{getCategoryIcon 0}}"></i>
                <span>{{getCategory 0}}</span>
            </div>
            <div class="categoryFilter col col-15 {{isActivated 1}}">
                <i class="{{getCategoryIcon 1}}"></i>
                <span>{{getCategory 1}}</span>
            </div>
            <div class="categoryFilter col col-15 {{isActivated 2}}">
                <i class="{{getCategoryIcon 2}}"></i>
                <span>{{getCategory 2}}</span>
            </div>
            <div class="categoryFilter col col-15 {{isActivated 3}}">
                <i class="{{getCategoryIcon 3}}"></i>
                <span>{{getCategory 3}}</span>
            </div>
            <div class="categoryFilter col col-15 {{isActivated 4}}">
                <i class="{{getCategoryIcon 4}}"></i>
                <span>{{getCategory 4}}</span>
            </div>
            <div class="categoryFilter col col-15 {{isActivated 5}}">
                <i class="{{getCategoryIcon 5}}"></i>
                <span>{{getCategory 5}}</span>
            </div>
        </div>
    </div>

</template>

<template name="searchResult">
  <div id="search-meta">
    {{#if isLoading}}
      {{>loadingTemplate}}
    {{/if}}
  </div>

  {{#if getPackages}}
    <div id='search-result' class="list">
      {{#each getPackages}}
        <div class="package {{isCategorySelected}}">
            {{#ionItem path='search' _id=this._id iconRight=true class="item-avatar-2 qty-check"}}
          <!-- {{#ionItem path='bookDetail' _id=this._id iconRight=true class="item-avatar-2"}} -->
                <div class="product-avatar">
                  <img class="product-avatar-inner" src="{{image}}"/>
                </div>
                <p class="main-title-text">{{{title}}}</p>
                <p class="main-sub-text">{{{authors}}}</p>
                <!-- <p class="main-sub-text">Description: {{{description}}}</p> -->
                <!-- <span class="badge badge-mid {{qtyClass qty}}">{{qtyFormat qty}}</span> -->
                {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
            {{/ionItem}}
        </div>
      {{/each}}
    </div>
  {{else}}
    {{#if isLoading}}
    {{else}}
      <div class="Aligner">
        <h6 class="dark">Nothing found!</h6>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="loadingTemplate"></template>
