.list-inset {
    margin: 0;
}

.item-input {
    border: 1px solid #e0e0e0;
}

.categoriesFilter {
    
    .row {
        padding: 0;     
        margin: 0;
        height: 40px;
    
        .categoryFilter {
            color: #899195;
            background-color: #ddd;
            border-bottom: 2px solid #899195;      
            font-size: 24px;
            height: 44px;
            -webkit-justify-content: center;
            justify-content: center;
            display: -webkit-flex; /* Safari */
            -webkit-align-items: center; /* Safari 7.0+ */
            display: flex;
            align-items: center;
            -webkit-flex-direction: column;
            flex-direction: column;
            
            span {
                display: none;
            }
        }
        
        .active {
            color: #263238;
            background-color: #f5f5f5;
            border-bottom: 2px solid #263238;
        }
    }

}

#search-result {
    .disabled {
        display: none;
    }
    
    .product-avatar {
        position: absolute;
        //height: 60px;
        height: 65%;
        width: 50px;
        left: 12px;
        -webkit-justify-content: center;
        justify-content: center;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-items: center;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .product-avatar-inner {
        max-width: 100%;
        max-height: 100%;
    }
    
    .badge-qty-users {
        bottom: 0;
        display: flex;
        position: absolute;
        font-size: 0.5em;
        font-weight: 200;
        right: 30px;
        color: #8B8B8B;
        background-color: #DDDDDD;
        padding-left: 10px;
        padding-right: 10px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px
    }
    
    .ellipsis {
        overflow: hidden;
        max-height: 40px;
        width: 95%;
        margin-bottom: 2px;

        .main-title-text {
            white-space: normal;
        }
    }

//    .ellipsis:before {
//        content:"";
//        float: left;
//        width: 5px; 
//        height: 40px; 
//    }
//
//    .ellipsis > *:first-child {
//        float: right;
//        width: 100%;
//        margin-left: -5px; 
//    }		
//
//    .ellipsis:after {
//        content: "\02026";  
//
//        box-sizing: content-box;
//        -webkit-box-sizing: content-box;
//        -moz-box-sizing: content-box;
//
//        float: right; position: relative;
//        top: -20px; 
//        left: 100%; 
//        width: 3em; 
//        margin-left: -3em;
//        padding-right: 5px;
//
//        text-align: right;
//
//        background: -webkit-gradient(linear, left top, right top,
//            from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
//        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);			
//        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
//        background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
//        background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); 
//    }
    
    table.rent-table {     
        width: 70%;
        max-width: 300px;
        font-size: 10px;
        
        tr {
            height: 16px;
            display: flex;
            width: 100%;
            margin-top: -1px;
        }
        
        th {
//            text-align: left;
            font-size: 7px;
        }
        
//        td {
//            text-align: center;
//        }
        
        th, td {
            width: 25%;
            //border: 1px solid #ffffff;
            color: #899195;
            border-right: 3px solid #ffffff;
            display: inline-flex;
            height: 16px;
//            &.one { 
//                color: #FF9800;
////                border-bottom: 2px solid #FF9800; 
//                -webkit-box-shadow: inset 0px -3px 0px 0px rgba(255,152,0,1);
//                -moz-box-shadow: inset 0px -3px 0px 0px rgba(255,152,0,1);
//                box-shadow: inset 0px -3px 0px 0px rgba(255,152,0,1);
//            }
//            &.two { 
//                color: #FB8C00;
//                -webkit-box-shadow: inset 0px -3px 0px 0px rgba(251,140,0,1);
//                -moz-box-shadow: inset 0px -3px 0px 0px rgba(251,140,0,1);
//                box-shadow: inset 0px -3px 0px 0px rgba(251,140,0,1);
//            }
//            &.three { 
//                color: #F57C00;
//                -webkit-box-shadow: inset 0px -3px 0px 0px rgba(245,124,0,1);
//                -moz-box-shadow: inset 0px -3px 0px 0px rgba(245,124,0,1);
//                box-shadow: inset 0px -3px 0px 0px rgba(245,124,0,1);
//            }
//            &.four { 
//                color: #EF6C00;
//                -webkit-box-shadow: inset 0px -3px 0px 0px rgba(239,108,0,1);
//                -moz-box-shadow: inset 0px -3px 0px 0px rgba(239,108,0,1);
//                box-shadow: inset 0px -3px 0px 0px rgba(239,108,0,1);
//            }
        }
        
//        th {
//            color: #ffffff; 
//            -webkit-box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
//            -moz-box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
//            box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
//            opacity: .8;          
//            
//            &:nth-child(odd) {
//                background-color: #f0970d; 
//            }
//
//            &:nth-child(even) {
//                background-color: #df5707; 
//            }
//            
//            &:first-child {
//                border-top-left-radius: 5px;
//            }
//            
//            &:last-child {
//                border-top-right-radius: 5px;
//            }
//        
//        }
        
    }
}

