.list-inset {
    margin: 0;
}

.item-input {
    border: 1px solid #e0e0e0;
}

.categoriesFilter {
    
    .row {
        padding: 0;     
        margin: 0;
        height: 40px;
    
        .categoryFilter {
            color: #899195;
            background-color: #ddd;
            border-bottom: 2px solid #899195;      
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            
            span {
                display: none;
            }
        }
        
        .active {
            color: #263238;
            background-color: #f5f5f5;
            border-bottom: 2px solid #263238;
        }
    }

}

#search-result {
    .disabled {
        display: none;
    }
    
    .product-avatar {
        position: absolute;
        height: 70px;
        width: 50px;
        left: 12px;
        -webkit-justify-content: center;
        justify-content: center;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-items: center;
    }

    .product-avatar-inner {
        max-width: 100%;
        max-height: 100%;
    }
    
    .main-title-text {
        padding-bottom: 7px;
    }
    
    .badge-qty-users {
        bottom: 0;
        display: flex;
        position: absolute;
        font-size: 0.5em;
        font-weight: 200;
        right: 30px;
        color: #8B8B8B;
        background-color: #DDDDDD;
        padding-left: 10px;
        padding-right: 10px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px
    }
    
    table.rent-table {     
        width: 75%;
        max-width: 300px;
        font-size: 12px;
        
        th, td {
            text-align: center;
            width: 25%;
            padding: 1px;
            border: 1px solid #ffffff;
            color: #899195;
        }
        
        th {
            color: #ffffff;
            font-size: 12px;
            -webkit-box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            -moz-box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            opacity: .8;
            
            &:nth-child(odd) {
                background-color: #f0970d; 
            }

            &:nth-child(even) {
                background-color: #df5707; 
            }
            
            &:first-child {
                border-top-left-radius: 5px;
            }
            
            &:last-child {
                border-top-right-radius: 5px;
            }
        
        }
        
    }
}

