.list-inset {
    margin: 0;
}

.item-input {
    border: 1px solid #e0e0e0;
}

.categoriesFilter {
    
    .row {
        padding: 0;     
        margin: 0;
        height: 40px;
    
        .categoryFilter {
            color: #899195;
            background-color: #ddd;
            border-bottom: 2px solid #899195;      
            font-size: 24px;
            height: 44px;
            -webkit-justify-content: center;
            justify-content: center;
            display: -webkit-flex; /* Safari */
            -webkit-align-items: center; /* Safari 7.0+ */
            display: flex;
            align-items: center;
            -webkit-flex-direction: column;
            flex-direction: column;
            
            span {
                display: none;
            }
        }
        
        .active {
            color: #263238;
            background-color: #f5f5f5;
            border-bottom: 2px solid #263238;
        }
    }

}

#search-result {
    
    .item {
        height: 105px;
    }
    
    .disabled {
        display: none;
    }
    
    .product-avatar {
        position: absolute;
        //height: 60px;
        height: 65%;
        width: 60px;
        left: 12px;
        -webkit-justify-content: center;
        justify-content: center;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-items: center;
        -webkit-flex-direction: column;
        flex-direction: column;
        border-right: 1px solid #dddddd;
        padding-right: 10px;
    }

    .product-avatar-inner {
        max-width: 100%;
        max-height: 100%;
    }
    
    .badge-qty-users {
        bottom: 0;
        display: flex;
        position: absolute;
        font-size: 0.5em;
        font-weight: 200;
        right: 30px;
        color: #8B8B8B;
        background-color: #DDDDDD;
        padding-left: 10px;
        padding-right: 10px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px
    }
    
    .ellipsis {
        overflow: hidden;
        max-height: 40px;
        width: 95%;
        margin-bottom: 2px;
        padding-left: 5px;

        .main-title-text {
            white-space: normal;
        }
    }

    table.rent-table {     
        width: 70%;
        max-width: 300px;
        font-size: 10px;
        margin-left: 5px;
        
        tr {
            height: 16px;
            display: flex;
            width: 100%;
            margin-top: -1px;
        }
        
        th {
            font-size: 7px;
        }
        
        th, td {
            width: 25%;
            margin-right: 2px; 
            color: rgba(39, 39, 39, 0.7);
            display: inline-flex;
            align-items: center;
            padding-top: 2px;
            height: 16px;
            &.one { 
                border-bottom: 3px solid #FF9800; 
//                -webkit-box-shadow: inset 0px -3px 0px 0px rgba(255,152,0,1);
//                -moz-box-shadow: inset 0px -3px 0px 0px rgba(255,152,0,1);
//                box-shadow: inset 0px -3px 0px 0px rgba(255,152,0,1);
            }
            &.two { 
                border-bottom: 3px solid #FB8C00; 
//                -webkit-box-shadow: inset 0px -3px 0px 0px rgba(251,140,0,1);
//                -moz-box-shadow: inset 0px -3px 0px 0px rgba(251,140,0,1);
//                box-shadow: inset 0px -3px 0px 0px rgba(251,140,0,1);
            }
            &.three { 
                border-bottom: 3px solid #F57C00; 
//                -webkit-box-shadow: inset 0px -3px 0px 0px rgba(245,124,0,1);
//                -moz-box-shadow: inset 0px -3px 0px 0px rgba(245,124,0,1);
//                box-shadow: inset 0px -3px 0px 0px rgba(245,124,0,1);
            }
            &.four { 
                border-bottom: 3px solid #EF6C00; 
//                -webkit-box-shadow: inset 0px -3px 0px 0px rgba(239,108,0,1);
//                -moz-box-shadow: inset 0px -3px 0px 0px rgba(239,108,0,1);
//                box-shadow: inset 0px -3px 0px 0px rgba(239,108,0,1);
            }
        }
        
    }
}

