<template name="inventoryDetail">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="inventory" class="backFromEdit"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Product Details</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear icon ion-ios-compose-outline button-energized" id="editCurrent"></button>
  {{/contentFor}}

  {{#ionView}}
     {{#ionContent class="inventory-details overflow-scroll"}}
       <div class="card">
         <div class="item image">
             <div class="item-image-box">
                <img class="product-image" src="{{product.image}}"/>
             </div>
          </div>
         
          <label class="item item-input">
             <input type="text" value="{{product.title}}" class="title" style="text-align:center;border:0" {{../isEditMode}}>
          </label>

          
          <label class="item item-input item-select">
                <div class="input-label">
                  <p>Condition:</p>
                </div>
                <select class="condition" {{../isEditMode}}>
                    {{#each ../getConditions}}
                        <option value="{{index}}" {{../selectCondition index}}>{{value}}</option>
                    {{/each}}
                </select>
         </label>

           
          <div class="item item-divider features">
            <h2>Features <i class="chevron-icon icon ion-chevron-up"></i></h2>
          </div>

          <div class="features-details" style="display: none">
                <div class="item no-padding row-details">
                    <div class="col col-50">
                        <div class="details-box">
                            <i class="icon {{getCategoryIcon}} bk-energized"></i>
                            <span class="detail">{{product.amazonCategory}}</span>
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="details-box">
                            <i class="icon ion-cash bk-energized"></i>
                            <span class="detail">{{product.price}}</span>
                        </div>
                    </div>
                </div>

                <div class="row item attributes">
                    <div class="col col-33">
                        {{#each product.attributes}}
                            <p>{{key}}</p>
                        {{/each}}
                    </div>
                    <div class="col col-67 scan-result">
                        {{#each product.attributes}}
                            <p>{{value}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
           
          <div class="item item-divider">
            <h2>Rent Price</h2>
          </div>
            
        <label class="item item-input">
            <span class="input-label"><p>Day:</p></span>
            <input type="number" class="price dayPrice" value="{{product.rentPrice.day}}" {{../isEditMode}}>
        </label>
        <label class="item item-input">
            <span class="input-label"><p>Week:</p></span>
            <input type="number" class="price weekPrice" value="{{product.rentPrice.week}}" {{../isEditMode}}>
        </label>
        <label class="item item-input">
            <span class="input-label"><p>Month:</p></span>
            <input type="number" class="price monthPrice" value="{{product.rentPrice.month}}" {{../isEditMode}}>
        </label>
        <label class="item item-input">
            <span class="input-label"><p>Semester (4m):</p></span>
            <input type="number" class="price semesterPrice" value="{{product.rentPrice.semester}}" {{../isEditMode}}>
        </label>       
           
          {{#if editMode product._id}}
            <div class="padding-horizontal">
                <button id="editSave" class="button button-block button-energized">SAVE</button>
            </div>

           <div class="padding-horizontal">
                <button id="editRemove" class="button button-block button-assertive">REMOVE</button>
            </div>

          {{/if}}
        </div>
     {{/ionContent}}
  {{/ionView}}
</template>
