<template name="inventoryDetail">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="inventory" class="backFromEdit"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Product Details</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear icon ion-ios-compose-outline button-energized" id="editCurrent"></button>
  {{/contentFor}}

  {{#ionView}}
     {{#ionContent class="inventory-details overflow-scroll"}}
       <div class="card">
         <div class="center">
            <img class="product-image" src="{{product.image}}"/>
            {{#if editMode product._id }}
              <div class="details-box">
                <input name="title" class="detail title" style="text-align:center;border:0" value="{{product.title}}">
                <input type="hidden" class="last_title" value="{{product.title}}">
              </div>
            {{else}}
              <span class="product-title">{{product.title}}</span>
            {{/if}}
          </div>

          <div class="row-details">
            <div class="col col-50">
                <div class="details-box">
                <i class="icon {{getCategoryIcon product.category}} bk-energized"></i>
                <span class="detail">{{product.amazonCategory}}</span>
              </div>
            </div>
            <div class="col col-50">
              <div class="details-box">
                <i class="icon ion-cash bk-energized"></i>
                <span class="detail">{{product.price}}</span>
              </div>
            </div>
          </div>

          <div class="item item-divider features">
            <h2>Features <i class="chevron-icon icon ion-chevron-up"></i></h2>
          </div>

          <div class="row features-details" style="display: none;">
            <div class="col col-25">
              {{#each product.attributes}}
                <p>{{key}}</p>
              {{/each}}
            </div>
            <div class="col col-75 scan-result">
              {{#each product.attributes}}
                <p>{{value}}</p>
              {{/each}}
            </div>
          </div>

          <div class="item item-divider">
            <h2>Rent Price</h2>
          </div>

          <div class="item-table">
            <table class="rent-table">
              <tbody>
                <tr>
                  <th><i class="icon">D</i></th>
                  <th><i class="icon">W</i></th>
                  <th><i class="icon">M</i></th>
                  <th><i class="icon">S</i></th>
                </tr>
                <tr>
                  {{#if editMode product._id }}
                    <td><input class="detail dayPrice" type="number" id="editPrice" value="{{product.rentPrice.day}}"></td>
                    <td><input class="detail weekPrice" type="number" id="editPrice" value="{{product.rentPrice.week}}"></td>
                    <td><input class="detail monthPrice" type="number" id="editPrice" value="{{product.rentPrice.month}}"></td>
                    <td><input class="detail semesterPrice" type="number" id="editPrice" value="{{product.rentPrice.semester}}"></td>
                  {{else}}
                    <td>${{product.rentPrice.day}}</td>
                    <td>${{product.rentPrice.week}}</td>
                    <td>${{product.rentPrice.month}}</td>
                    <td>${{product.rentPrice.semester}}</td>
                  {{/if}}
                </tr>
              </tbody>
            </table>
          </div>
          {{#if editMode product._id}}
            <div class="padding-horizontal">
                <button id="editSave" class="button button-block button-energized">SAVE</button>
            </div>
          {{/if}}
        </div>
     {{/ionContent}}
  {{/ionView}}
</template>
