<template name="itemLocation">
	<div class="item item-divider item-location">
	    <!-- Item Location -->
		Product Location
	   	<p>This location wont be shown to other users</p>
	</div>
	<div class="item padding item-location">
		<label class="toggle toggle-assertive toggle-location">
		  <input type="checkbox" checked>
		  <div class="track">
			<div class="handle"></div>
		  </div>
	  	</label>

		<span class="locationSwitch">CURRENT LOCATION</span>

		<input type="hidden" name="item_lat" />
	    <input type="hidden" name="item_lng" />
	</div>

</template>
