.logos img{
    width: 60%;
    margin: auto;
    margin-top: 15px;
}

.logos span{
    font-size: 14px;
}

.logos div {
        width: 90%;
    margin: auto;
    text-align: center;
}

.slider-pager {

    bottom: 50px !important;
}