<template name="inventoryDetail">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton class="backFromEdit"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Product Details</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
<!--    <button class="button button-clear icon ion-ios-compose-outline button-energized" id="editCurrent"></button>-->
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="inventory-details overflow-scroll"}}

      {{#if Template.subscriptionsReady}}
        <script>
          Meteor.setTimeout(function(){
              $('.loadbox').fadeOut('medium',function(){
                  $('.loading-wrapper').fadeIn('medium');
              });
          }, 500);
        </script>
      {{/if}}

      {{>loader}}

      {{#if editMode product._id}}
      {{else}}
          <a class="fab-button">
             <i id="editCurrent" class="icon ion-ios-compose-outline"></i>
          </a>
      {{/if}}

      <div class="loading-wrapper">
        <div class="card card-limited list">

          <div class="item">
            {{#if editMode product._id}}
                <span class="product-title">Click to edit images</span>
                <div class="image-container">
                    <a data-ion-modal="inventoryEditImages">
                        <img class="product-image" src="{{product.image}}">
                    </a>
                </div>
            {{else}}
                <span class="product-title">{{product.title}}</span>
                <div class="image-container">
                    <a data-ion-modal="slideInventoryImages">
                        <img class="product-image" src="{{product.image}}">
                    </a>
                </div>
            {{/if}}
          </div>

          {{#if editMode product._id}}
            <div class="item item-input">
                <input type="text" value="{{product.title}}" class="title" style="text-align:center;border:0" {{../isEditMode}}>
            </div>
          {{/if}}

          <div class="item item-input item-select">
            <div class="input-label">
              <p>Condition:</p>
            </div>
            <select class="condition" {{../isEditMode}}>
              {{#each ../getConditions}}
                <option value="{{index}}" {{../selectCondition index}}>{{value}}</option>
              {{/each}}
            </select>
          </div>

          <div class="item item-input item-select no-border">
                <div class="input-label">
                  <p style="height:16px;">Category:</p>
                </div>
                <select class="category" {{../isEditMode}}>
                    {{#each ../getCategories}}
                        <option {{../selectedCategory text}}>{{text}}</option>
                    {{/each}}
                </select>
          </div>

<!--
          <div class="item item-divider features">
            <h2>Features <i class="chevron-icon icon ion-chevron-up"></i></h2>
          </div>

          <div class="features-details" style="display: none">
            <div class="item no-padding row-details">
              <div class="col col-50">
                <div class="details-box">
                  <i class="icon {{getCategoryIcon}} bk-energized"></i>
                  <span class="detail">{{product.amazonCategory}}</span>
                </div>
              </div>
              <div class="col col-50">
                <div class="details-box">
                  <i class="icon ion-cash bk-energized"></i>
                  <span class="detail">{{product.price}}</span>
                </div>
              </div>
            </div>

            <div class="row item attributes">
              <div class="col col-33">
                {{#each product.attributes}}
                  <p><b>{{key}}</b></p>
                {{/each}}
              </div>
              <div class="col col-67 scan-result">
                {{#each product.attributes}}
                  <p>{{value}}</p>
                {{/each}}
              </div>
            </div>
          </div>
-->

          <div class="item item-divider">
            Rent

            <label class="toggle toggle-assertive toggle-rent">
              <input type="checkbox" {{../rentingStatusChecked}} {{../isEditMode}}>
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
            {{#if isRentingStatusOn}}
               <span class="enableRent">ON</span>
            {{else}}
               <span class="enableRent">OFF</span>
            {{/if}}
          </div>

          <div class="item row">
            <div class="col col-50">
                <div class="priceLabel">DAY</div>
                <input type="number" class="price dayPrice" value="{{product.rentPrice.day}}" placeholder="0.00" {{../isEditMode}}>
            </div>
            <div class="col col-50">
                <div class="priceLabel">WEEK</div>
                <input type="number" class="price weekPrice" value="{{product.rentPrice.week}}" placeholder="0.00" {{../isEditMode}}>
            </div>
         </div>
        <div class="item row no-border">
            <div class="col col-50">
                <div class="priceLabel">MONTH</div>
                <input type="number" class="price monthPrice" value="{{product.rentPrice.month}}" placeholder="0.00" {{../isEditMode}}>
            </div>
            <div class="col col-50">
                <div class="priceLabel">SEMESTER</div>
                <input type="number" class="price semesterPrice" value="{{product.rentPrice.semester}}" placeholder="0.00" {{../isEditMode}}>
            </div>
        </div>

          <div class="item item-divider">
                Sell

                <label class="toggle toggle-assertive toggle-purchasing">
                  <input type="checkbox" {{../sellingStatusChecked}} {{../isEditMode}}>
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
                {{#if isSellingStatusOn}}
                   <span class="enablePurchasing">ON</span>
                {{else}}
                   <span class="enablePurchasing">OFF</span>
                {{/if}}
            </div>

            <li class="item row">
                <div class="col col-100">
                    <div class="priceLabel">PRICE</div>
                    <input type="number" class="price sellingPrice" value="{{product.selling.price}}" placeholder="0.00" {{../isEditMode}}>
                </div>
           </li>

          {{#if editMode product._id}}
            <div class="padding-horizontal">
              <button id="editSave" class="button button-block button-energized">SAVE</button>
            </div>

            <div class="center padding-vertical">
              <a id="editCancel" class="">CANCEL</a>
                <span class="padding-horizontal" style="margin-right: 3px;color: #DDD;">|</span>
              <a id="editRemove" class="">REMOVE</a>
            </div>
<!--

            <div class="padding-horizontal">
              <button id="editRemove" class="button button-block button-assertive">REMOVE</button>
            </div>
-->
          {{/if}}
        </div>
      </div>
<!--      <input type="file" id="browser-file-upload" style="display:none">-->
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="slideInventoryImages">

    {{#ionModal title="Images" class="inventory-details slide-inventory-images"}}

        {{#ionSlideBox}}
            {{#each slideElements}}
                {{#ionSlide}}
                <div class="product-avatar">
                    <img class="slide-image" src="{{photo}}"/>
                </div>
                {{/ionSlide}}
            {{/each}}
        {{/ionSlideBox}}

    {{/ionModal}}

</template>

<template name="inventoryEditImages">

    {{#ionModal title="Images" class="inventory-details inventory-edit-images"}}

        <div class="row">

            <div class="col col-50">
                {{#unless isMaxImages}}
                    <i class="ion-image select-image"></i>
                    <span class="add-image">ADD IMAGE</span>
                {{/unless}}
                <input type="file" id="browser-file-upload" style="display:none">
                <button class="button button-block button-energized" id="saveImages">SAVE</button>
                <a href="#" id="cancelImages">CANCEL</a>
            </div>

            <div class="col col-50">
                {{#if isMinImages}}
                    <span class="drag-message">Drag to reorder</span>
                {{/if}}
                <ul class="dragabble-images-box">
                    {{#each slideElements}}
                        <li class="dragabble-image-item">
                            <div class="close">&times;</div>
                            <span class="cover">COVER</span>
                            <img class="dragabble-image" src="{{photo}}"/>
                        </li>
                    {{/each}}
                </ul>
            </div>

        </div>



    {{/ionModal}}
</template>
