<template name="search">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="listing"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Select from Owner</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="listing-search overflow-scroll"}}

    <div class="item item-divider product-header-title"><h2>{{ search.title }}</h2></div>

      <div class="list">
        {{#each products }}

        <a class="item" href="#">
          <div class="profile-image-box">
            <div style="background: url({{ ../ownerAvatar ownerData.profile.avatar }}) no-repeat; background-size:cover; background-position: 50% 50%;" class="profile-avatar"></div>
            <p class="main-title-text"> {{ ownerData.profile.name }} </p>
            <span class="rating-box">{{ > rating}}</span>
          </div>
          <div class="profile-content">
          <!-- <img src="{{userThumbnail ownerId}}"> -->
              <p class="main-sub-text">Rent Price:</p>
              <p class="main-sub-text">
                    <table class="rent-table">
                        <tbody>
                            <tr>
                                <th><i class="icon">D</i></th>
                                <th><i class="icon">W</i></th>
                                <th><i class="icon">M</i></th>
                                <th><i class="icon">S</i></th>
                            </tr>
                            <tr>
                                <td>${{rentPrice.day}}</td>
                                <td>${{rentPrice.week}}</td>
                                <td>${{rentPrice.month}}</td>
                                <td>${{rentPrice.semester}}</td>
                            </tr>
                        </tbody>
                    </table>
              </p>
              <p class="main-sub-text">Condition of the item: <strong>{{ ../getCondition conditionId }}</strong></p>
              <button id="moreInfo" class="button button-block">MORE INFO <i class="fa fa-plus "></i></button>
              {{#if ../requestSent}}
                <button class="button button-block" disabled>REQUEST SENT <i class="fa fa-check "></i></button>
              {{else}}
                {{#if ../isOwner}}

                {{else}}
                    {{#if ../qtynotZero}}
                      <button id="requestProduct" class="button button-block">REQUEST <i class="fa fa-shopping-cart "></i></button>
                    {{else}}
                      <button class="button button-block" disabled>UNAVAIBLE <i class="fa fa-ban "></i></button>
                    {{/if}}
                {{/if}}
              {{/if}}


          </div>
        </a>
        {{/each}}
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
