.datepicker table tr td.highlighted {
    background: #FFFFFF;
}

.listing-search {
    
    .item {
        border: 0;
        
        &.product {
            border-top: 1px solid #ddd;
        }
    }
    
    .item-divider {
        padding-bottom: 12px;
    }
    
    hr {
        margin-bottom: 0;
        border-top: 1px solid #ddd;
    }
    
//  PRODUCT DETAILS
    
    .product-avatar {
        -webkit-justify-content: center;
        justify-content: center;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }

    .product-avatar-inner {
        width: auto;
        height: auto;
        max-height: 140px;
        max-width: 140px;
    }
    
    p.product-title-text {
        white-space: normal;
        text-align: center;
        color: #272727;
        display: table-row;
    }
    
    .rent-details-box {
        
        width: calc(100% - 130px);
        height: 170px;
        padding-top: 10px;
        
        display: inline-flex;
        display: -webkit-inline-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        flex-direction: column;
        -webkit-flex-direction: column;
        
        p.price {
            padding-bottom: 5px;
        }
        
        p.condition {
            text-align: center;
            padding-left: 5px;
            padding-top: 15px;
            width: 100%;
            max-width: 300px;
            font-size: 12px;
        }
        
        button {
            margin-top: 25px;
            border-radius: 100px;
        }
    }
        
    table.rent-table {     
        width: 100%;
        max-width: 300px;
        font-size: 10px;
        margin-left: 5px;

        tr {
            height: 16px;
            display: flex;
            width: 100%;
            margin-top: -1px;
        }

        th {
            font-size: 7px;
            color: rgba(39, 39, 39, 0.7);
        }

        td {
            color: rgba(39, 39, 39, 0.75);
            background-color: #DDDDDD;
            border-radius: 10px;
        }

        th, td {
            width: 25%;
            margin-right: 3px; 
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 16px;
        }

    }

    a {
        cursor: pointer;

        &:hover {
            opacity: .7;
        }

        &.activated {
            opacity: .8;
        }
    }
    
//  -END- PRODUCT DETAILS
    
//  PROFILE DETAILS
    
    .profile-image-box {
        vertical-align: top;
        display: inline-block;
        text-align: center;
        padding-right: 15px;
        width: 120px;
        min-width: 120px;
        max-width: 120px;
        
        .main-title-text {
            padding-top: 10px;
        }
        
        a {
            color: #df5707;
            text-decoration: none;
            font-size: 14px;
            
            &:hover {
                color: rgba(223, 87, 7, 0.7);
            }
        }

        .rating-box {
            display: block;
        }

        .profile-avatar-box {
            &.activated {
                .profile-avatar {
                    opacity: .8;
                }
            }
        }
        
        .profile-avatar {
            margin: 0;
            
            &:hover {
                opacity: .6;
            }
        }

        p {
            white-space: normal;
            font-size: 13px !important;
            
            &.rating-number {
                padding-top: 5px;
            }
        }
        
    }
    
// -END-  PROFILE DETAILS
    
}

