.analytics {
    
    .item {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
    }
    
    .card {
        min-height: 220px;
    }
    
    canvas {
        z-index: 1;
    }
    
    .donut-inner {
        position: absolute;
        width: 150px;
        height: 150px;
        display: flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    
    // USERS
    
    
    
    // PRODUCTS
    
    .product-sold {
        font-size: 50px;
    }
    
    // CONNECTIONS
    
    .average-price {
        font-size: 35px;
    }
    
    .connections-average-days {
        font-size: 115px;    
    }
    
    .average-borrow-price,
    .average-purchasing-price {
        font-size: 25px;
    }
    
    // TRANSACTIONS
    
    .total-spending {
        font-size: 25px;
    }
    
}
