<template name="analytics"> 
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title" style="text-align:center;">Analytics</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <a href="/" class="button button-clear">
            <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
        </a>
    {{/contentFor}}
    
    {{#ionView}}
        {{#ionContent class="analytics"}}    
    
        {{#if isUserPermited}}
    
            <div class="container">
                
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="card">
                        <div class="item item-divider">
                            <span style="text-transform:capitalize;">{{../getAnalyticsId}} by University</span> 
                        </div>
                        <div class="item">
                            <div class="donut-inner">
                                <h2>{{../getLenght}}</h2>
                            </div>
                            <canvas id="{{../getAnalyticsId}}Chart" width="150" height="150"></canvas>
                        </div>
                    </div>
                </div>
                
                {{#if ../isUserAnalytics}}
                
                    {{#with ../getLastUser}}
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">Last Register</span> 
                            </div>
                            <div class="item user-box">
                                <img class="user-avatar" src="{{avatar}}">
                                <span class="user-name">{{name}}</span>
                                <span class="created-at">{{createdAt}}</span>
                            </div>
                        </div>
                    </div>
                    {{/with}}
                
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">Register this Week</span> 
                            </div>
                            <div class="item">
                                <canvas id="{{../getAnalyticsId}}DateDaysChart" class="padding"></canvas>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">Register by Month (2016)</span> 
                            </div>
                            <div class="item">
                                <canvas id="{{../getAnalyticsId}}DateChart" class="padding"></canvas>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">Duke Users</span> 
                            </div>
                            <div class="item" style="padding:0;">
                                <table class="user-table">
                                    <tr>
                                        <th>Name</th>
                                        <th>Total Products</th>
                                    </tr>
                                    {{#each ../getUsersByUniversity 1}}
                                        <tr>
                                            <td>{{profile.name}}</td>
                                            <td>{{../getUserTotalProducts _id}}</td>
                                        </tr>
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">Yale Users</span> 
                            </div>
                            <div class="item" style="padding:0;">
                                <table class="user-table">
                                    <tr>
                                        <th>Name</th>
                                        <th>Total Products</th>
                                    </tr>
                                    {{#each ../getUsersByUniversity 2}}
                                        <tr>
                                            <td>{{profile.name}}</td>
                                            <td>{{../getUserTotalProducts _id}}</td>
                                        </tr>
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">Other Users</span> 
                            </div>
                            <div class="item" style="padding:0;">
                                <table class="user-table">
                                    <tr>
                                        <th>Name</th>
                                        <th>Total Products</th>
                                    </tr>
                                    {{#each ../getUsersByUniversity 0}}
                                        <tr>
                                            <td>{{profile.name}}</td>
                                            <td>{{../getUserTotalProducts _id}}</td>
                                        </tr>
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>
                
                {{/if}}
                
                {{#if ../isProductsAnalytics}}
                
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">{{../getAnalyticsId}} Sold</span> 
                            </div>
                            {{#with ../getSoldProducts}}
                                <div class="item">
                                    <p class="product-sold">{{total}}</p>
                                </div>
                                <div class="item item-divider">
                                    <span style="text-transform:capitalize;">Average Price</span> 
                                </div>
                                <div class="item">
                                    <p class="average-price">${{averagePrice}}</p>
                                </div>
                            {{/with}}
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">{{../getAnalyticsId}} by Categories</span> 
                            </div>
                            <div class="item">
                                <canvas id="{{../getAnalyticsId}}CategoriesChart" class="padding"></canvas>
                            </div>
                        </div>
                    </div>
                
                {{/if}}
                
                {{#if ../isConnectionsAnalytics}}
                
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">{{../getAnalyticsId}} Average Days</span> 
                            </div>
                            {{#with ../getBorrowConnectionsAverageDaysAndPrice}}
                                <div class="item">
                                    <p class="connections-average-days">{{days}}</p>
                                </div>
                            {{/with}}
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">Av. Borrow Price</span> 
                            </div>
                            {{#with ../getBorrowConnectionsAverageDaysAndPrice}}
                                <div class="item">
                                    <p class="average-borrow-price">${{price}}</p>
                                </div>
                            {{/with}}
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">Av. Purchasing Price</span> 
                            </div>
                            <div class="item">
                                <p class="average-purchasing-price">${{../getPurchasingConnectionsAveragePrice}}</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">{{../getAnalyticsId}} F/InP</span> 
                            </div>
                            <div class="item">
                                <canvas id="{{../getAnalyticsId}}ProgressChart" width="150" height="150"></canvas>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">{{../getAnalyticsId}} by Borrow State (InP)</span> 
                            </div>
                            <div class="item">
                                <canvas id="{{../getAnalyticsId}}StateChart" class="padding"></canvas>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">{{../getAnalyticsId}} by Borrow State (F)</span> 
                            </div>
                            <div class="item">
                                <canvas id="{{../getAnalyticsId}}StateFinishedChart" class="padding"></canvas>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">{{../getAnalyticsId}} by Purchasing State (InP)</span> 
                            </div>
                            <div class="item">
                                <canvas id="{{../getAnalyticsId}}PurchasingChart" class="padding"></canvas>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">{{../getAnalyticsId}} by Purchasing State (F)</span> 
                            </div>
                            <div class="item">
                                <canvas id="{{../getAnalyticsId}}PurchasingFinishedChart" class="padding"></canvas>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">{{../getAnalyticsId}} Requested by Month (2016)</span> 
                            </div>
                            <div class="item">
                                <canvas id="{{../getAnalyticsId}}RequestedChart" class="padding"></canvas>
                            </div>
                        </div>
                    </div>
                
                {{/if}}
                
                {{#if ../isTransactionsAnalytics}}
                
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="card">
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">Total Spending</span> 
                            </div>
                            <div class="item">
                                <p class="total-spending">${{../getTotalSpending}}</p>
                            </div>
                            <div class="item item-divider">
                                <span style="text-transform:capitalize;">Average Spending</span> 
                            </div>
                            <div class="item">
                                <p class="total-spending">${{../getAverageSpending}}</p>
                            </div>
                        </div>
                    </div>
                
                {{/if}}
    
            </div>
    
        {{/if}}
    
        {{/ionContent}}
    {{/ionView}}
</template>