<template name="transactions">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{> ionIcon icon='navicon' class="energized"}}
      </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Transactions</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="/" class="button button-clear">
        <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
    </a>
  {{/contentFor}}

  {{#ionView class="transactions-view"}}
    <!-- <div class="Aligner">
    <h6 class="dark">No transactions yet!</h6>
    </div> -->
    {{ transaction }}

    <div class="tabs tabs-top">
      <a class="tab-item {{#if spendingClicked}} {{else}} tab-bg {{/if}}" id="earningButton">
        EARNED
      </a>
      <a class="tab-item {{#if spendingClicked}} tab-bg {{else}} {{/if}}" id="spendingButton">
        SPENT
      </a>
    </div>

    {{#ionContent class="transactions has-tabs-top"}}
      {{#if spendingClicked}}

        <div class="card card-special padding-vertical">
            <div class="item item-text-wrap center">
                <span class="dollar-text">$</span>{{totalSpending}}
            </div>
        </div>

        <div class="card list list-inset">

            {{#if spendingAvailable}}

                {{#each spending}}
                    <div class="item icon-left">
                        <p>
                            <i class="icon ion-cash"></i> <span class="amount">${{ ../formatValue paidAmount }}</span>
                            <span class="transaction-date">{{ ../formatDate date }}</span>
                        </p>
                        <p class="product-title">{{productName}}</p>
                    </div>
                {{/each}}

            {{else}}
                <div class="Aligner">
                    <h6 class="dark">No transactions yet!</h6>
                </div>
            {{/if}}

        </div>

      {{else}}

          <div class="card card-special padding-vertical">
              <div class="item item-text-wrap center">
                  <span class="dollar-text">$</span>{{totalEarning}}
              </div>
          </div>

          <div class="card list list-inset">

              {{#if earningAvailable}}

                      {{#each earning}}
                      <div class="item icon-left">
                          <p>
                              <i class="icon ion-cash"></i> <span class="amount">${{ ../formatValue receivedAmount }}</span>
                              <span class="transaction-date">{{ ../formatDate date }}</span>
                          </p>
                          <p class="product-title">{{productName}}</p>
                      </div>
                  {{/each}}

              {{else}}
                  <div class="Aligner">
                      <h6 class="dark">No transactions yet!</h6>
                  </div>
              {{/if}}

          </div>


      {{/if}}
      <div class="center">
          <a class="email-support" href="mailto:support@partioapp.com" data-rel='external'>CONTACT US</a>
      </div>
    {{/ionContent}}


  {{/ionView}}

</template>
