.transactions-view {
    
    a {
        text-decoration: none;
        cursor: pointer;
        
        &:hover {
            color: rgba(39, 39, 39, 0.75);
        }
    }

    .tabs.tabs-top {
        background-color: #E0E0E0;
    }
    
    .tab-bg {
        -webkit-transition: all 0.3s ease, border 1ms;         
        -moz-transition: all 0.3s ease, border 1ms;       
        -o-transition: all 0.3s ease, border 1ms;
        -ms-transition: all 0.3s ease, border 1ms;          
        transition: all 0.3s ease, border 1ms;
        background-color: #F5F5F5;
        color: #272727 !important;
        border-bottom: 2px solid #272727; 
    }
}

.transactions {
    
    .card-special {
        .item.item-text-wrap.center {
            padding-bottom: 5px;
            padding-top: 5px;
            -webkit-transform:scale(1.2, 1.0);
            -moz-transform:scale(1.2, 1.0);
            -ms-transform:scale(1.2, 1.0);
            -o-transform:scale(1.2, 1.0);
            transform:scale(1.2,1.0);
        }
    }
    
    .dollar-text {
        font-size: 28px;
        color: #95a5a6;
    }

    .card-special .item {
        background-color: transparent !important;
    }

    .card-special {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .card-special div {
        font-size: 40px;
        color: #df5707;
        padding: 40px 0;
        font-family: Futura-CondensedMedium;
    }
    
}