.manual-entry {
     -webkit-transition: all 0s ease;                  
    -moz-transition: all 0s ease;                 
    -o-transition: all 0s ease;   
    -ms-transition: all 0s ease;          
    transition: all 0s ease;
    padding-bottom: 50px;
//    background-color: #ffffff;
    .input-label{
        font-size: 13px;
        color: #AAA;
    }
    .manualCategory{
        font-size: 13px;
    }
    .item p{
        font-size: 13px;
        color: #AAA;
    }
    .button.button-energized{
        border-color: #d8880c;
        background-color: #f0970d;
        color: #fff;
    }
}