<template name="connectRent">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Rent Request</h1>
  {{/contentFor}}

  {{#ionView class="connectRent-view"}}
    {{#ionContent class="connectRent prevent-keyboardglitch"}}

      {{#if Template.subscriptionsReady}}
        <script>
          Meteor.setTimeout(function(){
            $('.loadbox').fadeOut('medium',function(){
              $('.loading-wrapper').fadeIn('medium');  
            });
          }, 500);
        </script>
      {{/if}}

      {{>loader}}

      <div class="loading-wrapper">
        <div class="card padding-horizontal padding-vertical list">
          <div class="item item-divider product-details"><h2>Product Details <i class="chevron-icon icon ion-chevron-up"></i></h2>
          </div>

          <div class="item product-details-item">
              
            <div class="item">
                <span class="product-title">{{connectData.productData.title}}</span>
                <div class="image-container">
                    <a>
                        <img src="{{connectData.productData.image}}">
                    </a>
                </div>
            </div>
              
            <div class="item product-features no-padding-top">
                <div class="col col-50">
                    <p><i class="icon {{../getCategoryIcon}}"></i> {{connectData.productData.amazonCategory}}</p>
                </div>
                <div class="col col-50">
                   <p><i class="icon ion-clipboard"></i> {{../getCondition}}</p>
                </div>
            </div>
              
          </div>

          <div class="item product-details-item center hidden">
            <table class="rent-table">
              <tbody class="prices">
              <tr>
                <th><i>D</i></th>
                <th><i>W</i></th>
                <th><i>M</i></th>
                <th><i>S</i></th>
              </tr>
              <tr>
                <td>${{connectData.productData.rentPrice.day}}</td>
                <td>${{connectData.productData.rentPrice.week}}</td>
                <td>${{connectData.productData.rentPrice.month}}</td>
                <td>${{connectData.productData.rentPrice.semester}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="item item-divider profile-details"><h2>Lending Details</h2></div>

          <div class="item request-date">
            <span>{{../getRequestDate}}</span>
          </div>

          <div class="item profile">
            <div class="profile-image-box">
              <a href="/profile/items/{{ connectData.owner }}">
                <div style="background: url('{{connectData.productData.ownerData.profile.avatar}}') no-repeat; 
                            background-size:cover; background-position: 50% 50%;" class="profile-avatar"></div>
              </a>
              <p class="main-title-text">{{connectData.productData.ownerData.profile.name}}</p>
            </div>

          </div>
          <div class="item tabs tabs-icon-left">
            <a class="tab-item" href="{{pathFor 'talk' _id=connectData._id}}">
              <i class="icon ion-chatbubbles assertive"></i>
              CHAT
            </a>
            <a class="tab-item" id="btnCallUser">
              <i class="icon ion-ios-telephone"></i>
              CALL
            </a>
            {{#if ../paymentPending}}
              <a class="tab-item" id="cancelRequest">
                <i class="icon ion-ios-close royal"></i>
                CANCEL
              </a>
            {{/if}}
          </div>
          {{#if ../isNotPurchasing}}
          <div class="item details">
            <i class="icon ion-ios-calendar-outline"></i>
            {{../getTotalDays}} ({{../getStartDate}} to {{../getEndDate}})
          </div>
          <div class="item details">
            <i class="icon ion-ios-clock-outline"></i>
            {{../getDaysLeft}}
<!-- <input type="range" id="myRange" min="0" max="{{connectData.borrowDetails.date.totalDays}}" value="{{../getDaysLeftValue}}" class="range range-assertive" disabled>-->
          </div>
          {{/if}}
          <div class="item details">
            <i class="icon ion-cash"></i>
              {{#if couponChecked}}
                <span class="price old">
                    ${{../getTotalPrice connectData.borrowDetails.price.total}}
                    <p class="fee">(${{../getFee connectData.borrowDetails.price.total}} fee)</p>
                </span>
                <span class="price padding-left">
                    ${{../getNewPrice connectData.borrowDetails.price.total}}
                    <p class="fee">(${{../getNewFee connectData.borrowDetails.price.total}} fee)</p>
                </span>
              {{else}}
                <span class="price">
                    ${{../getTotalPrice connectData.borrowDetails.price.total}}
                    <p class="fee">(${{../getFee connectData.borrowDetails.price.total}} fee)</p>
                </span>
              {{/if}}
          </div>
            
          {{#if ../paymentState}}
                {{#if ../hasCoupon}}
            
                      <div class="item item-checkbox">
                       <label class="checkbox">
                           {{#if couponChecked}}
                                <input type="checkbox" class="check-coupon" checked>
                           {{else}}
                                <input type="checkbox" class="check-coupon">
                           {{/if}}
                        </label>
                        <p class="coupon-text"> 
                            Use Coupon 
                            ( 
                                {{#if couponChecked}}
                                    <span class="cupon-value old">${{../getCouponValue}}</span>
                                    <span class="cupon-value padding-left">${{../getNewCouponPrice connectData.borrowDetails.price.total}}</span>
                                {{else}}
                                    <span class="cupon-value">${{../getCouponValue}}</span>
                                {{/if}}
                             )</p>
                      </div>    
            
                {{/if}}
          {{/if}}
            
          {{#if ../isReturned}}
          {{else}}
            <div class="item details">
              <i class="icon ion-location"></i>{{{ ../getLocation preferredLocation }}}
            </div>
          {{/if}}

          <div style="padding-bottom:16px;"></div>

          <!--  RENTING  -->
          {{#if ../isNotPurchasing}}
            
              {{#if ../paymentDone}}
                {{#if ../itemReturnDone}}
                  <div class="item">
                    <button class="button button-block" disabled>RETURNED</button>
                  </div>
                {{else}}
                  <div class="item">
                    <button id="returnItem" class="button button-block">RETURN ITEM</button>
                  </div>
            
                  {{#if ../selfCheck}}
                    <div class="item self-check-item no-padding-top">
                        <a class="self-check" data-ion-modal="reportItem">REPORT ITEM</a>
                        <span class="time-left">{{../getSelfCheckTimeLeft}}</span>
                    </div>
                  {{/if}}
                {{/if}}
            
                {{#if ../itemReported}}
                    <div class="item self-check-item no-padding-top">
                        <span class="item-reported">ITEM REPORTED</span>
                        <span class="item-reported-message center">You have 24h to return the item and receive confirmation from owner</span>
                        <span class="time-left">{{../getReportTimeLeft}}</span>
                    </div>           
                {{/if}}
            
              {{else}}
                <div class="item">
                  {{#if ../approvedStatus}}
                    
                    {{#if couponChecked}}
                        <button id="payment" paymentType="RENTING" class="button button-block button-energized">
                            PAY TOTAL &nbsp; 
                            ${{newPriceWithFee}}
                        </button>
                    {{else}}
                        <button id="payment" paymentType="RENTING" class="button button-block button-energized">
                            PAY TOTAL &nbsp; 
                            ${{../getTotalPrice connectData.borrowDetails.price.total}}
                        </button>
                    {{/if}}
                    
                  {{else}}
                        {{#if ../isTimeOver}}
                          <button class="button button-block" disabled>TIME IS OVER</button>
                        {{else}}
                          <button class="button button-block button-energized disabled">AWAITING APPROVAL</button>
                        {{/if}}
                  {{/if}}
                </div>
              {{/if}}
        
          <!--  PURCHASING  -->
          {{else}}
              {{#if ../paymentDone}}
                  {{#if ../itemSold}}
            
                      {{#if ../itemReported}}
                          <div class="item">
                            <button id="confirmReceived" class="button button-block">RETURN ITEM</button>
                          </div>
            
                          <div class="item self-check-item no-padding-top">
                            <span class="item-reported">ITEM REPORTED</span>
                            <span class="item-reported-message center">You have 24h to return the item and receive confirmation from owner</span>
                            <span class="time-left">{{../getReportTimeLeft}}</span>
                          </div>  
                      {{else}}
                          <div class="item">
                            <button id="confirmReceived" class="button button-block">ITEM OK</button>
                          </div>
                      {{/if}}
            
                      {{#if ../selfCheck}}
                        <div class="item self-check-item no-padding-top">
                            <a class="self-check" data-ion-modal="reportItem">REPORT ITEM</a>
                            <span class="time-left">{{../getSelfCheckTimeLeft}}</span>
                        </div>
                      {{/if}}
                  {{/if}}
              {{else}}
                <div class="item">
                  {{#if ../approvedStatus}}
                    {{#if couponChecked}}
                        <button id="payment" paymentType="PURCHASING" class="button button-block button-energized">
                          PAY TOTAL &nbsp; 
                          ${{newPriceWithFee}}
                        </button>
                    {{else}}
                        <button id="payment" paymentType="PURCHASING" class="button button-block button-energized">
                          PAY TOTAL &nbsp; 
                          ${{../getTotalPrice connectData.borrowDetails.price.total}}
                        </button>
                    {{/if}}
                  {{else}}
                    <button class="button button-block button-energized disabled">AWAITING APPROVAL</button>
                  {{/if}}
                </div>
              {{/if}}
          {{/if}}
            
        </div>

        <div class="center">
          <a class="email-support" href="/contact" data-rel='external'>CONTACT US</a>
        </div>

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="reportItem">
  {{#ionModal title="Report Item" class="report-item"}}
  
    <div class="card list">
        <div class="item no-border">
            <span class="main-text">Select at least one of the following items.</span>
        </div>
        <div class="item item-checkbox no-border">
           <label class="checkbox">
                <input type="checkbox" class="check-problem broken">
            </label>
            <p class="problem">Item broken</p>
        </div>
        <div class="item item-checkbox no-border">
           <label class="checkbox">
                <input type="checkbox" class="check-problem working">
            </label>
            <p class="problem">Item not working</p>
        </div>
        <div class="item item-checkbox no-border">
           <label class="checkbox">
                <input type="checkbox" class="check-problem condition">
            </label>
            <p class="problem">Condition not match</p>
        </div>
        <div class="item no-border">
            <button class="button button-block button-energized send-report" {{sendEnabled}}>SEND REPORT</button>
        </div>
    </div>
    
  {{/ionModal}}
</template>
