@import '../../../styles/app-variables';

.admin-search {
    
    .card {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .item {
        
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        flex-direction: column;
        -webkit-flex-direction: column;

        .user-email {
            font-size: 12px;
            color: #bdbdbd;
            overflow: hidden;
            margin-right: 20px;
            min-height: 18px;
            text-overflow: ellipsis;
        }
        
        .user-name {
            overflow: hidden;
            margin-right: 20px;
            text-overflow: ellipsis;
        }
        
        .date {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 10px;
        }
        
    }
    
}

.admin-search-box {
    display: inline-flex;
    display: -webkit-inline-flex;
    width: 100%;
    margin-right: 50px;
    margin-left: 20px;

    .search-icon {
        color: $royal;
        z-index: 20;
        font-size: 25px;
        line-height: 30px;
    }

    .search-input {
        background-color: #BBB;
        border-top: 1px solid #bdbdbd;
        width: 100%;
        color: $royal;
        z-index: 10;
        border-radius: 5px;
        height: 30px;
        margin-left: -30px;
        line-height: 30px;
        padding-left: 40px;
        padding-top: 0;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -ms-transition: width 0.3s;
        -o-transition: width 0.3s;
        transition: width 0.3s;
        
        &::-webkit-input-placeholder {
            color: rgba(39, 39, 39, 0.6);
        }
        
        &::-moz-placeholder {
            color: rgba(39, 39, 39, 0.6);
        }
    }

}