<template name="adminSearch">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    
        {{>adminSearchBox}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title" style="text-align:center;"></h1>    
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <a href="/" class="button button-clear">
            <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
        </a>
    {{/contentFor}}
    
    {{#ionView}}
        {{#ionContent class="admin-search overflow-scroll"}}    

        {{#if isUserPermited}}
    
            <div class="list">

                {{#if ../isUserSearch}}
                
                    {{#each users}}

                        <div class="card">
                            <a class="item item-avatar" href="/admin/search/users/{{_id}}">
                              <img src="{{profile.avatar}}">
                              <span class="user-name">{{profile.name}}</span> 
                              <span class="user-email">{{emails.[0].address}}</span> 

                              <div class="item-icon-right">
                                {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
                              </div>    
                            </a>
                        </div>

                    {{/each}}
                
                {{/if}}
                
                {{#if ../isProductSearch}}
                
                    {{#each products}}

                        <div class="card">
<!--                            <a class="item item-avatar" href="/admin/search/products/{{_id}}">-->
                            <a class="item item-avatar" href="#">
                              <img src="{{image}}">
                              <span class="user-name">{{title}}</span> 
                              <span class="user-email">{{ownerData.profile.name}}</span> 

                              <div class="item-icon-right">
                                {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
                              </div>    
                            </a>
                        </div>

                    {{/each}}
                
                
                {{/if}}
                
            </div>
    
            {{>loader}}
    
        {{/if}}
    
        {{/ionContent}}
    {{/ionView}}

</template>

<template name="adminSearchBox">
    <div class="admin-search-box">
        <i class="mdi mdi-magnify search-icon"></i>
        <input type="text" class="search-input" placeholder="{{placeholder}}" value="{{adminSearchText}}">
    </div>
</template>