<template name="resetpassword">
    
    {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">
        <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
    </h1>
    {{/contentFor}}
    
	{{#ionView}}
	<div class="content has-header">
<!--
		<div class="logo-container-login">
			<img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
		</div>
-->

		<div class="card list list-inset">
			<label class="item item-input">
				&nbsp;<input type="password" name="password1" placeholder="New Password">
			</label>

			<label class="item item-input">
				&nbsp;<input type="password" name="password2" placeholder="Re-enter Password">
			</label>
            
            <div class="padding-horizontal">
                <button id="new-password" class="button button-block button-energized">Set Password</button>
            </div>
		</div>

	</div>
	{{/ionView}}
</template>
