<head>
  <title>Partio</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
</body>

<template name="appLayout">
  {{#ionBody}}
    
    {{#ionSideMenuContainer side="left"}}
        {{#ionSideMenu}}
          <div class="">

            <div class="logo-container">
              <a href="/" data-ion-menu-close><img src="main_logo.png"/></a>&nbsp;
          	</div>
            
          	<div class="list transparent-list">
              <a href="{{pathFor "listing"}}" class="item" data-ion-menu-close>
                {{> ionIcon icon="search" class="energized"}} &nbsp;&nbsp; SEARCH
              </a>
          		<a href="{{pathFor "inventory"}}" class="item" data-ion-menu-close>
          			{{> ionIcon icon="ios-briefcase" class="energized"}} &nbsp;&nbsp; INVENTORY
          		</a>
          		<a href="{{pathFor "renting"}}" class="item" data-ion-menu-close>
          			{{> ionIcon icon="ios-browsers" class="energized"}} &nbsp;&nbsp; RENTING
          		</a>
          		<a href="{{pathFor "transactions"}}" class="item" data-ion-menu-close>
          			{{> ionIcon icon="card" class="energized"}} &nbsp;&nbsp; TRANSACTIONS
          		</a>
          		<a href="{{pathFor "profile"}}" class="item" data-ion-menu-close>
          			{{> ionIcon icon="person" class="energized"}} &nbsp;&nbsp; MY PROFILE
          		</a>
          		<!-- <a href="{{pathFor "main"}}" class="item" data-ion-menu-close>
          			{{> ionIcon icon="ios-information" class="energized"}} &nbsp;&nbsp; ABOUT
          		</a> -->
          		<a id="logout" class="item" data-ion-menu-close>
          			{{> ionIcon icon="android-exit" class="energized"}} &nbsp;&nbsp; LOGOUT
          		</a>
          	</div>
            <p class="padding beta">beta v0.2.2</p>
          </div>
        {{/ionSideMenu}}

      {{#ionSideMenuContent}}
        {{> ionNavBar class="bar-royal"}}
        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}
      {{/ionSideMenuContent}}
    {{/ionSideMenuContainer}}

  {{/ionBody}}
</template>


<template name="main">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
        {{else}}
        {{> ionIcon icon='navicon' class="energized"}}
        {{/if}}
      </button>
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">parti-O</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{> notifications}}
  {{/contentFor}}

  {{#ionView}}
    <div class="content has-header">
	    <div id="bottom-triangle">
	    	<div id="top-triangle"></div>
	    </div>

	    <div class="top-part flex-aligner" data-ion-modal="lend">
	    	<div class="top-part-margin center">
	    		<img src="lend_white.png" class="lend-image">
	    		<br><br>
	    		{{> ionIcon icon='android-arrow-back' class=""}}
	    		<span class="center">SHARE &nbsp;&nbsp;&nbsp;&nbsp;</span>
	    	</div>
	    </div>

	    <div class="bottom-part flex-aligner">
	    	<div class="bottom-part-margin center">
	    		<img src="borrow_white.png" class="borrow-image">
	    		<br><br>
		    	<span class="">RENT&nbsp;</span>{{> ionIcon icon='android-arrow-forward' class=""}}
	    	</div>
	    </div>

    </div>
  {{/ionView}}
</template>



<template name="notifications">
</template>
