<!-- TAB 2 - BARCODE -->
<template name="barcode">
	<div class="list">
		<div class="item item-input-inset">
			<label class="item-input-wrapper">
				<input id="manualInput" type="tel" placeholder="Enter barcode number">
			</label>
			<button id="manualSubmit" class="button button-small button-energized button-outline">Submit</button>
		</div>
	</div>

  <div class="content has-header">
    <div class="container">
      <div class="viewfinder get-photo hide-on-keyboard-open" id="cam-find">
        <p>SCAN BARCODE</p>
      </div>
    </div>
  </div>
</template>
