<!-- TAB 1 - CAMFIND -->
<template name="camfind">
    <div class="camfind">
        <div class="list">
            <div class="item item-input-inset">
<!--                <label class="item-input-wrapper">-->
                    <input id="manualInputCamFind" type="text" placeholder="Search product">
<!--                </label>-->
                <button id="manualSubmitCamFind" class="button button-small button-energized button-outline">Submit</button>
            </div>
        </div>

         <div class="content has-header">
             <div class="viewfinder hide-on-keyboard-open" id="cam-find">
                 <p>TAKE IMAGE</p>
                  <img id="photo-take-now">
                    {{imageurl}}
             </div>
         </div>
    </div>
</template>
