<template name="chat">
  {{#ionModal customTemplate=true}}
  <div class="bar bar-header bar-royal">
    <button type="button" data-dismiss="modal" class="button button-clear"> Close</button>
    <h2 class="title">Chat</h2>
  </div>

  <!-- {{#ionContent class="discussion"}} -->
  <div class="content has-header overflow-scroll discussion">
      <div class="chatContainer">
        {{#each messages}}
          <div class="bubble {{bubble sender}}">
            <p>{{message}}</p>
          </div>
        {{/each}}
      </div>
  </div>
  <!-- {{/ionContent}} -->

  <div class="bar bar-footer item-input-inset">
    <label class="item-input-wrapper">
    <input id="messageInput" type="text">
    </label>
    <button id="chatSubmit" class="button-assertive button button-clear">Send</button>
  </div>

  {{/ionModal}}
</template>