<template name="chat">

  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h2 class="title"><i class="icon ion-ios-chatboxes-outline user-messages-top-icon"></i> <div class="msg-header-username">{{chatWith}}</div></h2>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" id="btnCallUser">{{> ionIcon icon="ios-telephone" class="assertive"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
        {{#if inCall}}
          <div class="call-wrapper">
            <h2>{{incomingCaller}}</h2>
            <p>{{callStatus}}</p>
            <div class="call-controls">
              <button class="end-call button button-block button-energized">Hang Up</button>
            </div>
          </div>
        {{else}}
          <div class="message-wrapper" data-keyboard-attach>
          {{#each messages}}
            <div class="each-chatblock {{direction}}">

              <div class="chat-bubble {{direction}}">
                <div class="message">
                  {{message}}
                </div>

                <div class="message-detail small-font">
                  <p>{{cleanDate}}</p>
                </div>
              </div>
              <img class="profile-pic {{direction}}" src={{profilePic avatar}}>

            </div>
          {{/each}}

          <div class="cf"></div>

        </div>
      {{/if}}
    {{/ionContent}}
    {{#unless inCall}}
      <form>
        <div class="bar bar-footer chat-footer item-input-inset" data-keyboard-attach>
          <label class="item-input-wrapper">
            <textarea id="messageInput" type="text" rows="1" placeholder="Write your message..."></textarea>
          </label>
          <button id="chatSubmit" class="button-assertive button button-clear disabled">Send</button>
        </div>
      </form>
    {{/unless}}

    {{/ionView}}

</template>
