<template name="lend">

	<!-- MODAL -->
	{{#ionModal title="Share Product" customTemplate=true}}
    <div class="bar bar-header bar-royal">
      <button type="button" id="closeLend" class="button button-clear pull-left"> <h6 class="light">CLOSE</h6></button>
      <h2 class="title">Share Product</h2>
			<button type="button" id="cancelScan" class="button button-clear pull-right"> <h6 class="light">RESET</h6></button>
    </div>

		<!-- DYNAMIC TEMPLATE -->
    {{#ionContent class="padding"}}
			{{> UI.dynamic template=dynamicTemplate}}
		{{/ionContent}}

		<!-- TAB -->
		{{>lendTabs}}

  {{/ionModal}}
	<!-- END MODAL -->

</template>

<!-- NEW TAB -->
<template name="lendTabs">
  {{#ionTabs style="ios" class="tabs-background-dark tabs-color-light"}}
		<a class="tab-item" data-id="camfind"><i class="icon ion-android-image"></i>IMAGE SEARCH</a>
  	<a class="tab-item" data-id="barcode"><i class="icon ion-ios-barcode"></i>BARCODE</a>
  	<a class="tab-item" data-id="manual"><i class="icon ion-ios-compose"></i>MANUAL ENTRY</a>
  {{/ionTabs}}
</template>
