<template name="lend">
	{{#ionModal customTemplate=true}}
      <div class="bar bar-header bar-royal">
        <button type="button" data-dismiss="modal" id="cancelScan" class="button button-clear"> Cancel</button>
        <h2 class="title">Share Product</h2>
      </div>
      
      <div class="content has-header overflow-scroll">
      {{#if scanResult}}
        {{#with scanResult}}
        <br>
      	<div class="viewfinder">
      		<p><img src="{{image}}"/></p>
      	</div>

        <div class="card hide-on-keyboard-open">
          {{#if bookResult}}
            <div class="row item">
              <div class="col col-33">
                <p>Amazon Price</p>
                <p>Title</p>
                <p>Author</p>
                <p>Publisher</p>
                <p>Binding</p>
                <p>Pages</p>
                <p>EAN</p>
              </div>
              <div class="col col-67 scan-result">
                <p><strong>{{price}}</strong></p>
                <p><strong>{{title}}</strong></p>
                <p>{{authors}}</p>
                <p>{{publisher}}</p>
                <p>{{binding}}</p>
                <p>{{pages}}</p>
                <p>{{ean}}</p>
              </div>
            </div>
          {{else}}
              <div class="row item">
                <div class="col col-33">
                  <p>Amazon Price</p>
                  <p>Title</p>
                  <p>Manufacturer</p>
                  <p>Model</p>
                  <p>ASIN</p>
                </div>
                <div class="col col-67 scan-result">
                  <p><strong>{{price}}</strong></p>
                  <p><strong>{{title}}</strong></p>
                  <p>{{manufacturer}}</p>
                  <p>{{model}}</p>
                  <p>{{asin}}</p>
                </div>
              </div>
          {{/if}}
        </div>


<!--         <div class="list list-inset">
         <label class="item item-input">
          <span class="input-label">Availability (weeks)</span>
          <input id="lendingPeriod" class="center" type="number" placeholder="2">&nbsp;
        </label>
        <label class="item item-input item-select">
          <div class="input-label"> Make Available for</div>
          <select>
            <option selected>2 weeks</option>
            <option >3 weeks</option>
            <option>4 weeks</option>
            <option>Indefinite</option>
          </select>
        </label>
        </div> -->

        <div class="list list-inset">
        <label class="item item-input">
            <span class="input-label"><p>Set Rent/Week &nbsp;$</p></span>
            <input type="number" id="userPrice" value="{{calculatedPrice}}">
          </label>
        </div>

        <div class="padding-horizontal">
          <button id="submitProduct" class="button button-block button-energized" {{waitingForPrice}}>
          {{#if userPrice}}
            Lend this item at <strong>${{userPrice}}</strong> per week
          {{else}}
            Enter your price above
          {{/if}}
          </button>      
        </div>

        {{/with}}
      {{else}}
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input id="manualInput" type="tel" placeholder="Enter barcode number">
            </label>
            <button id="manualSubmit" class="button button-small button-energized button-outline">Submit</button>
          </div>
        </div>
        <p class="stable center">OR</p>
        <br>
        <div class="viewfinder">
          <p>Scan Barcode</p>
        </div>

      {{/if}}

      </div>
  	{{/ionModal}}
</template>

