<template name="lend">
	{{#ionModal customTemplate=true}}
      <div class="bar bar-header bar-royal">
        <button type="button" data-dismiss="modal" class="button button-clear"> Cancel</button>
        <h2 class="title">Share your Book</h2>
      </div>
      
      <div class="content has-header login-bg overflow-scroll">
      <br>
      {{#if scanResult}}
        {{#with scanResult}}
      	<div class="viewfinder">
      		<p><img src={{thumbnail}}/></p>
      	</div>

        <div class="card hide-on-keyboard-open">
          <div class="row item">
            <div class="col col-33">
                <p>Original Price</p>
                <p>Title</p>
                <p>Subtitle</p>
                <p>ISBN-10</p>
                <p>Authors</p>
                <p>Publisher</p>
                <p>Language</p>
                <p>PageCount</p>
            </div>
            <div class="col col-67 scan-result">
                <p><strong>${{price}}</strong></p>
                <p><strong>{{title}}</strong></p>
                <p>{{subtitle}}</p>
                <p>{{isbn10}}</p>
                <p>{{author}}</p>
                <p>{{publisher}}</p>
                <p>{{language}}</p>
                <p>{{pageCount}}</p>
            </div>
          </div>
        </div>

        <div class="list list-inset">
         <label class="item item-input">
          <span class="input-label">Availability (weeks)</span>
          <input id="lendingPeriod" class="center" type="number" placeholder="2">&nbsp;
        </label>
            <!-- <label class="item item-input item-select">
              <div class="input-label"> Make Available for</div>
              <select>
                <option selected>2 weeks</option>
                <option >3 weeks</option>
                <option>4 weeks</option>
                <option>Indefinite</option>
              </select>
            </label> -->
        </div>

        <div class="padding-horizontal">
          <button id="submitProduct" class="button button-block button-energized">{{calculatedPrice}}</button>      
        </div>

        {{/with}}
      {{else}}
        <div class="viewfinder">
          <p>Scan Barcode</p>
        </div>
      {{/if}}

      </div>
  	{{/ionModal}}
</template>

<template name="mybooks">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
        {{else}}
        {{> ionIcon icon='navicon' class="energized"}}
        {{/if}}
      </button>
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">My Books</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="lend">{{> ionIcon icon="ios-plus-outline" class="assertive"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    
    <div class="list">
    {{#each myBooks}}
      <!-- {{#ionItem path='showMerchantInventory' _id=this._id iconRight=true class="item-avatar"}} -->
      {{#ionItem iconRight=true class="item-avatar"}}
          <img src="{{thumbnail}}"/>
          <h2>{{title}}</h2>
          <p><span class="tinytext">Weekly Price: ${{customPrice}}</span></p>
          {{> ionIcon icon="ios-arrow-right" class="priceFont"}}
      {{/ionItem}}
    {{/each}}
    </div>

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="borrow">
  <p>BORROW</p>
</template>