<template name="listing">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear " data-ion-menu-toggle="left">
        {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
        {{else}}
          {{> ionIcon icon='navicon' class="energized"}}
        {{/if}}
      </button>
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">Search Products</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button data-ion-modal="filter" class="button button-clear custom-icon ion-ios-keypad button-energized"></button>
    <!-- <button id="bookFilter" class="button button-clear custom-icon ion-ios-keypad button-energized"></button> -->
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}  
      {{> searchBox}}
      {{> searchResult}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="filter">
  {{#ionModal customTemplate=true}}
      <div class="bar bar-header bar-stable">
        <button class="button icon button-clear ion-ios-checkmark-outline"></button>
        <h2 class="title">Categories</h2>
        <button type="button" data-dismiss="modal" class="button button-clear">Done</button>
      </div>
      
      <div class="content has-header overflow-scroll"> 

        <ul class="list">

          <li class="item item-checkbox">
           <label class="checkbox-energized checkbox">
             <input id="checkBooks" type="checkbox" checked="{{checkBooks}}">
           </label>Books
         </li>

         <li class="item item-checkbox">
           <label class="checkbox-energized checkbox">
             <input id="checkElectronics" type="checkbox" checked="{{checkElectronics}}">
           </label>Electronics
         </li>

         <li class="item item-checkbox">
           <label class="checkbox-energized checkbox">
             <input id="checkSports" type="checkbox" checked="{{checkSports}}">
           </label>Sports
         </li>

         <li class="item item-checkbox">
           <label class="checkbox-energized checkbox">
             <input id="checkOthers" type="checkbox" checked="{{checkOthers}}">
           </label>Others
         </li>
       </ul>

      </div>
  {{/ionModal}}
</template>


<template name="searchBox">
  <div class="bar item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" id="search-box" placeholder="type keywords to search..." />
    </label>
  </div>  
</template>

<template name="searchResult">
  <div id='search-result' class="list">
    <div id="search-meta">
      {{#if isLoading}}
        {{>loadingTemplate}}
      {{/if}}
    </div>

    {{#each getPackages}}
        <div class="package">
        {{#ionItem path='bookDetail' _id=this._id iconRight=true class="item-avatar-2"}}
          <img src="{{image}}"/>
          <h3>{{{title}}}</h3>
          <p><span class="tinytext">Weekly Price: ${{{customPrice}}}</span></p>
          {{> ionIcon icon="ios-arrow-right" class="energized"}}
        {{/ionItem}}
        </div>
    {{/each}}
  </div>
</template>

<template name="loadingTemplate"></template>