<template name="listing">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear " data-ion-menu-toggle="left">
        {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
        {{else}}
          {{> ionIcon icon='navicon' class="energized"}}
        {{/if}}
      </button>
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">Search Products</h1>
  {{/contentFor}}

<!--   {{#contentFor "headerButtonRight"}}
    <button data-ion-modal="filter" class="button button-clear custom-icon ion-ios-keypad button-energized"></button>
  {{/contentFor}} -->

  {{#ionView}}
    {{#ionContent class="overflow-scroll"}}
      {{> searchBox}}
      {{> searchResult}}
    {{/ionContent}}
  {{/ionView}}
</template>


<template name="searchBox">
  <div class="bar item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" id="search-box" placeholder="type keywords to search..." />
    </label>
  </div>  
</template>

<template name="searchResult">
  <div id='search-result' class="list">
    <div id="search-meta">
      {{#if isLoading}}
        {{>loadingTemplate}}
      {{/if}}
    </div>

    {{#each getPackages}}
        <div class="package">
        {{#ionItem path='bookDetail' _id=this._id iconRight=true class="item-avatar-2"}}
          <div class="book-avatar"><div class="book-avatar-inner" style="background: url('{{image}}') no-repeat; background-size:cover; background-position: 50% 20%;"></div></div>
          <p class="main-title-text">{{{title}}}</p>
          <p class="main-sub-text">Weekly Price: ${{{customPrice}}}</p>
          {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
        {{/ionItem}}
        </div>
    {{/each}}
  </div>
</template>

<template name="loadingTemplate"></template>