<template name="login">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Login</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="dont-slice-screen"}}
  <!-- {{#ionContent class="ion-content has-header overflow-scroll"}} -->
  <!-- <div class="content has-header"> -->
    <div class="logo-container-login hide-on-keyboard-open">
      <img src="main_logo.png">
    </div>

    <div class="padding">
      <button id="fblogin" class="button button-block icon-left ion-social-facebook-outline button-positive">CONNECT WITH FACEBOOK</button>
    </div>

    <div class="list list-inset reduce-bottom-margin">
      <!-- <form> -->
        <label class="item item-input">
          <i class="icon ion-ios-email energized placeholder-icon"></i>
          &nbsp;<input type="email" name="email" placeholder="Email">
        </label>

        <label class="item item-input">
          <i class="icon ion-ios-locked energized placeholder-icon"></i>
          &nbsp;<input type="password" name="password" placeholder="Password">
        </label>
      <!-- </form> -->
    </div>
    <div class="padding-horizontal"><h6 id="forgot-password" class="right-align graytext">Forgot Password?</h6></div>

    <div class="padding-horizontal">
      <button id="loginButton" class="button button-block button-energized">LOGIN</button>
    </div>

    <div class="padding-horizontal center">
      <button data-ion-modal="register" id="triggerGPS" class="button button-clear button-energized">DON'T HAVE AN ACCOUNT? SIGN UP!</button>
    </div>

    <br>
    <!-- </div> -->

    {{/ionContent}}
  {{/ionView}}

    <!-- </div> -->
</template>
