<template name="map">
  {{#ionModal customTemplate=true}}
      
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper" style="margin-top: 0px">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" id="map-search" placeholder="Search" value="{{newLocation}}">
        </label>
        <button data-dismiss="modal" class="button button-clear">Done</button>
      </div>

      {{#ionView}}
      <div id="map-box">
      </div>
      {{/ionView}}

  {{/ionModal}}
</template>