<template name="mybooks">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
        {{else}}
        {{> ionIcon icon='navicon' class="energized"}}
        {{/if}}
      </button>
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">Inventory</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="lend">{{> ionIcon icon="ios-plus-outline" class="assertive"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    
    {{#if dataExists}}
      {{#if newRequests.count}}
        <div class="list">
        <div class="item item-divider"><h3>Requests from others</h3></div>
        {{#each newRequests}}
          {{#ionItem path='connect' _id=this._id class="item-avatar-2"}}
              <div class="book-avatar"><div class="book-avatar-inner" style="background: url('{{bookData.image}}') no-repeat; background-size:cover; background-position: 50% 20%;"></div></div>
              <p class="main-title-text">{{bookData.title}}</p>
              <p class="main-sub-text">Rent/Week: ${{bookData.customPrice}}</p>
              <span class="badge badge-low badge-energized">{{state}}</span>
          {{/ionItem}}

        {{/each}}
        </div>
      {{/if}}

      {{#if myBooks.count}}
        <div class="list">
        <div class="item item-divider"><h3>My Products</h3></div>
        {{#each myBooks}}

          {{#ionItem path='mybookDetail' _id=this._id iconRight=true class="item-avatar-2"}}
              <div class="book-avatar"><div class="book-avatar-inner" style="background: url('{{image}}') no-repeat; background-size:cover; background-position: 50% 20%;"></div></div>
              <p class="main-title-text">{{title}}</p>
              <p class="main-sub-text">Rent/Week: ${{customPrice}}</p>
              {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
          {{/ionItem}}
        {{/each}}
        </div>
      {{/if}}
    {{else}}
      <div class="Aligner">
        <h6 class="dark">Start sharing your items on Parti-O!</h6>
      </div>
    {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>


<template name="mybookDetail">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="mybooks" class="backFromEdit"}}
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">Product Details</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear icon ion-ios-compose-outline button-energized" id="editCurrent"></button>
  {{/contentFor}}

  {{#ionView}}
<!--     {{#ionContent}} -->
  <div class="content has-header">
      <div class="card">
        
        <div class="row item row-center">
          <div class="col col-33">
            <div class="bookDetail-container">
              <div class="bookThumbnail" style="background-image: url('{{image}}'); "></div>
            </div>
          </div>
          <div class="col col-67 item-text-wrap">
            <h3>{{title}}</h3>
            <p class="line-height-one">{{authors}}</p>
          </div>
        </div>

        <div class="item no-padding small-font">

          <div class="row row-center">
            <div class="col-offset-10"></div>
            <div class="col col-33">
            </div>
            <div class="col col-67 item-text-wrap keep-inside-padding">
              {{#with userInfo}}
              <p class="dark"><strong>{{name}}</strong></p>
              <p class="dark line-height-one">{{college}}</p>
              {{/with}}
            </div>
          </div>

          <div class="row">
            <div class="col-offset-10"></div>
            {{#if manualEntry}}
              <div class="col col-33">
                <p>Publisher</p>
                <p>Description</p>
              </div>
              <div class="col col-67 scan-result keep-inside-padding">
                <p>{{publisher}}</p>
                <p>{{comments}}</p>
              </div>
            {{else}}
              <div class="col col-33">
                <p>Amazon $</p>
                <p>Publisher</p>
                <p>Binding</p>
                <p>Pages</p>
                <p>EAN</p>
              </div>
              <div class="col col-67 scan-result keep-inside-padding">
                <p><strong>{{price}}</strong></p>
                <p>{{publisher}}</p>
                <p>{{binding}}</p>
                <p>{{pages}}</p>
                <p>{{ean}}</p>
              </div>
            {{/if}}
          </div>

        </div>

        {{#if editMode}}
        <div class="row item">
          <div class="col-offset-10">
          </div>
          <div class="col col-33"><p>Edit Price $</p></div>
          <input class="col col-50" type="number" id="editPrice" value="{{customPrice}}">
        </div>
        {{else}}
        <div class="row item">
          <div class="col-offset-10">
          </div>
          <div class="col col-33"><p>Rent</p></div>
          <div class="col col-50"><p><strong class="assertive">${{customPrice}} / week</strong></p></div>
        </div>
        {{/if}}

      </div>

      {{#if editMode}}
      <div class="padding-horizontal">
        <button id="editSave" class="button button-block button-energized">SAVE</button>   
      </div>
      {{/if}}
      </div>
    <!-- {{/ionContent}} -->
  {{/ionView}}
</template>

