<template name="profile">
  {{#contentFor "headerButtonLeft"}}
      {{#if profileEdit}}
        <button id="cancelProfile" class="button button-clear button-stable">Cancel</button>
      {{else}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
          {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
          {{else}}
          {{> ionIcon icon='navicon' class="energized"}}
          {{/if}}
        </button>
      {{/if}}
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{#if profileEdit}}
      <button id="saveProfile" class="button button-clear button-energized">Save</button>
    {{/if}}
  {{/contentFor}}

  {{#ionView}}
    <!-- {{#ionContent}} -->
    <div class="content has-header">
    
      {{> settingsProfileImage}}
      <!-- {{#with profile}} -->
      
      <div class="list list-inset">
        <form id="profileEdit">
          <label class="item item-input">
            <span class="input-label"><p>Name</p></span>
            <input id="profilename" type="text" value="{{currentUser.profile.name}}">
          </label>
          <label class="item item-input">
            <span class="input-label"><p>University</p></span>
            <input id="profileuniversity" type="text" value="{{currentUser.profile.college}}">
          </label>
          <label class="item item-input">
            <span class="input-label"><p>Mobile</p></span>
            <input id="profilemobile" type="number" value="{{currentUser.profile.mobile}}">
          </label>
        </form>
        <label class="item item-input">
          <span class="input-label"><p>Email</p></span>
          <input disabled type="email" value="{{currentUser.profile.email}}">
        </label>
        <label class="item item-input">
          <span class="input-label"><p>Password</p></span>
          <input id="changePassword" type="password" value="123456">
        </label>
      </div>
      <div class="padding-horizontal">
      
      <!-- {{#if alreadyStriped}} -->
          <a class="item item-icon-right" href="{{pathFor 'savedCards'}}" >
            <p>Saved Cards</p>
            {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
          </a>

          <a class="item item-icon-right" href="{{pathFor 'bankAccount'}}">
            <p>Bank Account</p>
            {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
          </a>
<!--       {{else}}
        <a type="button" class="button button-energized button-block item-icon-right" href="{{pathFor 'stripeAccount'}}">
          Connect Payment
        </a>
      {{/if}} -->

<!--       {{#if venmoExists}}
          <a class="item item-icon-right" href="/venmo">
            <p>Payment Account</p>
            {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
          </a>
      {{else}}
        <a type="button" href="https://api.venmo.com/v1/oauth/authorize?client_id=2865&scope=make_payments%20access_profile%20access_email%20access_phone%20access_balance&response_type=code&state={{venmoUser}}" id="venmo-connect" class="button button-block button-energized">Connect Venmo Account</a>
      {{/if}} -->
            
      </div>
      <!-- {{/with}} -->
</div>
    <!-- {{/ionContent}} -->
  {{/ionView}}
</template>

<template name="settingsProfileImage">
  <div class="profile-image-container">
    {{#if noProfileYet}}
    <div class="profile-avatar" style="background: url('profile_image_placeholder.jpg') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
    {{else}}
    <div class="profile-avatar" style="background: url('{{profileImage}}') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
    {{/if}}
  </div>
</template>


