  <template name="renting">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
        {{else}}
        {{> ionIcon icon='navicon' class="energized"}}
        {{/if}}
      </button>
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">RENTING</h1>
  {{/contentFor}}

<!--   {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="lend">{{> ionIcon icon="ios-plus-outline" class="assertive"}}</button>
  {{/contentFor}} -->

  {{#ionView}}
    {{#ionContent}}
    
    {{#if dataExists}}

      {{#if toBeApproved.count}}
        <div class="list">
        <div class="item item-divider"><h3>Waiting for Owner's Approval</h3></div>
        {{#each toBeApproved}}

          {{#ionItem path='connectRent' _id=this._id class="item-avatar-2"}}
              <div class="book-avatar"><div class="book-avatar-inner" style="background: url('{{bookData.image}}') no-repeat; background-size:cover; background-position: 50% 20%;"></div></div>
              <p class="main-title-text">{{bookData.title}}</p>
              <p class="main-sub-text">Rent/Week: ${{bookData.customPrice}}</p>
              <span class="badge-low badge badge-energized">{{state}}</span>
          {{/ionItem}}
        {{/each}}
        </div>
      {{/if}}

      {{#if currentlyBorrowed.count}}
        <div class="list">
        <div class="item item-divider"><h3>Rented Products</h3></div>
        {{#each currentlyBorrowed}}
        <!-- <div class="borrowedBookDetail"> -->

          {{#ionItem path="connectRent" iconRight=true class="item-avatar-2"}}
              <div class="book-avatar"><div class="book-avatar-inner" style="background: url('{{bookData.image}}') no-repeat; background-size:cover; background-position: 50% 20%;"></div></div>
              <p class="main-title-text">{{bookData.title}}</p>
              <p class="main-sub-text">Rent/Week: ${{bookData.customPrice}}</p>
              {{#if itemReturned}}
                <span class="badge badge-stable">RETURNED</span>
              {{else}}
                {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
              {{/if}}
          {{/ionItem}}
        <!-- </div> -->
        {{/each}}
        </div>
      {{/if}}
    {{else}}
      <div class="Aligner">
        <h6 class="dark">Browse listings on partiO and start renting!</h6>
      </div>
    {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>