<template name="transactions">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
        {{else}}
        {{> ionIcon icon='navicon' class="energized"}}
        {{/if}}
      </button>
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">Transactions</h1>
  {{/contentFor}}

  {{#ionView}}
    <!-- <div class="Aligner">
    <h6 class="dark">No transactions yet!</h6>
    </div> -->

    <div class="tabs tabs-top">
      <a class="tab-item {{#if spendingClicked}} {{else}} tab-bg {{/if}}" id="earningButton">
        EARNED
      </a>
      <a class="tab-item {{#if spendingClicked}} tab-bg {{else}} {{/if}}" id="spendingButton">
        SPENT
      </a>
    </div>

    {{#ionContent}}
    <br><br>
      {{#if spendingClicked}}
        {{> spendingList}}
      {{else}}
        {{> earningList}}
      {{/if}}
    {{/ionContent}}


  {{/ionView}}

</template>

<template name="earningList">
  <div class="card card-special">
      <div class="item item-text-wrap center">
        <span class="dollar-text">$</span>{{totalEarning}}
      </div>
    </div>

    <div class="list list-inset">

    {{#each earning}}
<!--       <a class="item" href="#">
        <p><span>{{productName}}</span><span class="item-note">${{receivedAmount}}</span></p>
      </a> -->
      <div class="item narrow-item">
        <div class="row">
          <div class="col col-75">
            <p>{{productName}}</p>
          </div>
          <div class="col right-align">
            <p>${{receivedAmount}}</p>
          </div>
        </div>
      </div>
    {{/each}}

    </div>
</template>

<template name="spendingList">
  <div class="card card-special">
      <div class="item item-text-wrap center">
        <span class="dollar-text">$</span>{{totalSpending}}
      </div>
    </div>

    <div class="list list-inset">

    {{#each spending}}
      <div class="item narrow-item">
        <div class="row">
          <div class="col col-75">
            <p>{{productName}}</p>
          </div>
          <div class="col right-align">
            <p>${{paidAmount}}</p>
          </div>
        </div>
      </div>
    {{/each}}

    </div>
</template>