.connect, .connectRent {
    
    color: #272727;
    
    .card {
        padding: 0;
    }
    
    .item {
        display: flex;
        margin-right: 1px;
        border: 0;
        
         &.button-divider {
            //border-bottom-left-radius: 5px;
            //border-bottom-right-radius: 5px;
            border-top: 1px solid #dddddd;
        }
    }
    
    .button {

        &.button-block {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: -1px;
        }
    }
    
    .item-divider {
        
        padding-top: 10px;
        padding-bottom: 10px;
        
        i {
            right: 16px;
            position: absolute;
        }
        
        h2 {
            height: 21px
        }
        
        &.product-details {
//            border-top-left-radius: 5px;
//            border-top-right-radius: 5px;
        }
        
        &.profile-details {
            border-top: 1px solid #dddddd;
        }
        
    }
    
    .item.tabs {
        background-size: 0;
        border-bottom: 0;
    }
    
    .product-details-item {
        display: none;
    }
    
    .profile-image-box, .product-image-box {
        vertical-align: top;
        display: inline-block;
        text-align: center;
        padding-right: 15px;
        padding-top: 12px;
        width: 120px;
        min-width: 120px;
        max-width: 120px;

        .rating-box {
            display: block;
        }

        .profile-avatar {
            margin: 0;
        }
        
        .college {
            font-size: 11px;
            margin-bottom: -5px;
        }
        
        p {
            white-space: normal;
        }
    }

    .profile-content {
        overflow: hidden;
        width: 100%;
    }
    
    .product-content {
        padding-left: 15px;
        overflow: hidden;
        display: inline-block;
        width: auto;
        max-width: 65%;
        border-left: 1px solid #DDD;
        
        p {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center; /* Safari 7.0+ */    
            align-items: center;
            
            &.product-title {
                padding-bottom: 10px;
                white-space: normal;
                color: #272727;
            }
        }
        
        i {
            color: #ffffff;
            border-radius: 2px;
            padding: 5px;            
            text-align: center;
            width: 30px;
            min-width: 30px;
            font-size: 15px;
            margin-right: 10px;
            background-color: #f0970d;
            -webkit-box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            -moz-box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
        }
    }
    
    table.borrow-details {
        
        font-size: 14px;
        width: 100%;
        
        tr {
            
            &:first-child {
                float: right;
                font-size: 12px;
            }
            
            &:not(:first-child) {
                
                td {
                    padding-left: 15px;
                    padding-bottom: 5px;
                    padding-top: 5px;
                }
                
                .divider {
                    border-top: 1px solid #ddd;
                    
                    i {
                        padding-right: 5px;
                        font-size: 16px;
                    }
                }
                
                .ion-ios-clock-outline {
                    padding-right: 5px;
                    font-size: 16px;
                }
                
                .price {
                    font-size: 18px;
                    color: #f0970d;
                }
                
            }
            
        }        
    }
    
    
    table.rent-table {
        width: 100%;
        
        th, td {
            text-align: center;
            width: 25%;
            padding: 5px;
            border: 1px solid #ffffff;
        }
        
        th {
            color: #ffffff;
            -webkit-box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            -moz-box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,0.1);
            opacity: .8;
            
            &:first-child {
                border-top-left-radius: 5px;
            }
            
            &:last-child {
                border-top-right-radius: 5px;
            }
        
        }
        
        .prices {
        
            th {
                &:nth-child(odd) {
                    background-color: #f0970d; 
                }

                &:nth-child(even) {
                    background-color: #df5707; 
                }
            }  
        }
        
        .details {
            
            th { 
                background-color: #9E9E9E; 
            }
            th.active {      
                &:nth-child(odd) {
                    background-color: #f0970d; 
                }

                &:nth-child(even) {
                    background-color: #df5707; 
                }
            }
            td {
                color: #9E9E9E;
            }
            td.active {
                color: #272727;
            }
        }
        
        td {
            background-color: #f5f5f5;
            border-bottom: 1px solid #eeeeee;
        }
        
    }
    
    .connect-thumbnail {
        max-height: 100px;
        max-width: 100px;
    }
    
    .title {
        color: #272727;
        font-size: 16px;
        white-space: -moz-pre-wrap; /* Mozilla */
        white-space: -o-pre-wrap; /* Opera 7 */
        white-space: pre-wrap;  /* CSS 2.1 */
        white-space: pre-line; /* CSS 3 */
        word-wrap: break-word; /* IE */
        margin-top: 10px;
    }
}