<template name="connect">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Rent Request</h1>
  {{/contentFor}}

  {{#ionView class="connect-view"}}
    {{#ionContent class="connect prevent-keyboardglitch"}}
      {{#if Template.subscriptionsReady}}
        <script>
          Meteor.setTimeout(function(){
            $('.loadbox').fadeOut('medium',function(){
                $('.loading-wrapper').fadeIn('medium');  
            });
          }, 500);
        </script>
      {{/if}}

      {{>loader}}

      <div class="loading-wrapper">
        <div class="card padding-horizontal padding-vertical list">
          <div class="item item-divider product-details"><h2>Product Details <i class="chevron-icon icon ion-chevron-up"></i></h2>
          </div>

          <div class="item product-details-item">
            <div class="product-content">
                <p class="product-title">{{connectData.productData.title}}</p>
                <p><i class="icon {{getCategoryIcon}}"></i> {{connectData.productData.amazonCategory}}</p>
                <p><i class="icon ion-cash"></i> {{connectData.productData.price}}</p>
                <p><i class="icon ion-clipboard"></i> {{getCondition}}</p>
            </div>
            <div class="product-image-box">
                <img class="connect-thumbnail" src="{{connectData.productData.image}}">
            </div>
          </div>

          <div class="item product-details-item center hidden">
            <table class="rent-table">
              <tbody class="prices">
              <tr>
                <th><i>D</i></th>
                <th><i>W</i></th>
                <th><i>M</i></th>
                <th><i>S</i></th>
              </tr>
              <tr>
                <td>${{connectData.productData.rentPrice.day}}</td>
                <td>${{connectData.productData.rentPrice.week}}</td>
                <td>${{connectData.productData.rentPrice.month}}</td>
                <td>${{connectData.productData.rentPrice.semester}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="item item-divider profile-details"><h2>Renting Details </h2></div>

          <div class="item request-date">
              <span>{{../getRequestDate}}</span>
          </div>

          <div class="item profile">
              <div class="profile-image-box">
                <a href="/profile/items/{{ connectData.requestor }}">
                    <div style="background: url('{{ ../requestorAvatar }}') no-repeat; background-size:cover; background-position: 50% 50%;" class="profile-avatar"></div>
                </a>
                <p class="main-title-text">{{requestorInfo.profile.name}} </p>
              </div>
  <!--
              <div class="profile-content">
                <a class="item" href="{{pathFor 'talk' _id=connectData._id}}">
                    <i class="icon ion-chatbubbles assertive"></i>
                    CHAT
                </a>
                <a class="item" id="btnCallUser">
                    <i class="icon ion-ios-telephone assertive"></i>
                    CALL
                </a>

                {{#if ../paymentPending}}
                    <a class="item" id="cancelRequest">
                        <i class="icon ion-ios-close royal"></i>
                        CANCEL
                    </a>
                {{/if}}
              </div>
  -->
            </div>
            <div class="item tabs tabs-icon-left">
                <a class="tab-item" href="{{pathFor 'talk' _id=connectData._id}}">
                  <i class="icon ion-chatbubbles assertive"></i>
                  CHAT
                </a>
                <a class="tab-item" id="btnCallUser">
                  <i class="icon ion-ios-telephone"></i>
                  CALL
                </a>
                {{#if ../paymentPending}}
                  <a class="tab-item" id="cancelRequest">
                      <i class="icon ion-ios-close royal"></i>
                      CANCEL
                  </a>
                {{/if}}
            </div>
            <div class="item details">
              <i class="icon ion-ios-calendar-outline"></i>
              {{../getTotalDays}} ({{../getStartDate}} to {{../getEndDate}})
            </div>
            <div class="item details">
              <i class="icon ion-ios-clock-outline"></i>
              {{../getDaysLeft}}
  <!--            <input type="range" id="myRange" min="0" max="{{connectData.borrowDetails.date.totalDays}}" value="{{../getDaysLeftValue}}" class="range range-assertive" disabled>-->
            </div>
            <div class="item details">
                  <i class="icon ion-cash"></i>
                  <span class="price">${{connectData.borrowDetails.price.total}}</span>
            </div>
            {{#if isReturned}}
            {{else}}
              <div class="item details">
                  <i class="icon ion-location"></i>
                  <a id="changeMeetupLocation" href="#">
                    {{#if ../locationSetted}}
                        <p>{{preferredLocation}}</p>
                    {{else}}
                        <p class="set-location">SET LOCATION</p>
                    {{/if}}
                  </a>
              </div>
            {{/if}}

            <div style="padding-bottom:16px;"></div>

          {{#if alreadyApproved}}
            {{#if returnItem}}
                <div class="item button-divider ">
                    <button id="confirmReturn" class="button button-block">CONFIRM RETURN</button>
                </div>
            {{else}}
                <div class="item button-divider ">
                    <button class="button button-block" disabled>BORROWED</button>
                </div>
            {{/if}}

          {{else}}
            {{#if ../isTimeOver}}
                <div class="item button-divider ">
                    <button class="button button-block" disabled>TIME IS OVER</button>
                </div>
            {{else}}
                <div class="item button-divider ">
                    <button id="ownerAccept" class="button button-block button-energized">ALLOW RENTING</button>
                </div>
            {{/if}}
          {{/if}}
        </div>

        <div class="center">
          <a class="email-support" href="/contact" data-rel='external'>CONTACT US</a>
        </div>

      </div>

    {{/ionContent}}
  {{/ionView}}
</template>
