<template name="connect">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="inventory"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Rent Request</h1>
  {{/contentFor}}

  {{#ionView class="connect-view"}}
    {{#ionContent class="connect prevent-keyboardglitch"}}
      <div class="card padding-horizontal padding-vertical list">

        <div class="item item-divider product-details"><h2>Product Details <i class="chevron-icon icon ion-chevron-up"></i></h2></div>

        <div class="item product-details-item">
          <div class="product-image-box">
              <img class="connect-thumbnail" src="{{connectData.productData.image}}">
          </div>

          <div class="product-content">
              <p class="product-title">{{connectData.productData.title}}</p>
              <p><i class="icon {{getCategoryIcon}}"></i> {{connectData.productData.amazonCategory}}</p>
              <p><i class="icon ion-cash"></i> {{connectData.productData.price}}</p>
              <p><i class="icon ion-clipboard"></i> {{getCondition}}</p>
          </div>
        </div>

        <div class="item product-details-item center hidden">
          <table class="rent-table">
            <tbody class="prices">
            <tr>
              <th><i>D</i></th>
              <th><i>W</i></th>
              <th><i>M</i></th>
              <th><i>S</i></th>
            </tr>
            <tr>
              <td>${{connectData.productData.rentPrice.day}}</td>
              <td>${{connectData.productData.rentPrice.week}}</td>
              <td>${{connectData.productData.rentPrice.month}}</td>
              <td>${{connectData.productData.rentPrice.semester}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="item item-divider profile-details"><h2>Renting Details </h2></div>

        <div class="item">
          {{#with requestorInfo }}
            <div class="profile-image-box">
              <div style="background: url('{{../requestorAvatar}}') no-repeat; background-size:cover; background-position: 50% 50%;" class="profile-avatar"></div>

              <p class="main-title-text">{{profile.name}} </p>
              <p class="college">{{profile.college}}</p>
              <span class="rating-box"> {{> rating}}</span>
            </div>
          {{/with}}

            <div class="profile-content">
              <table class="borrow-details">
                <tbody>
                  <tr>
                    <td> {{getRequestDate}} </td>
                  </tr>
                  <tr>
                    <td class="divider"> <i class="icon ion-ios-calendar-outline"></i> 
                        <b>Period:</b> {{../getTotalDays}} 
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <i class="icon ion-ios-clock-outline"></i> {{../getDaysLeft}}
<!--
                      {{#if ../isBorrowed}}
                         <i class="icon ion-ios-clock-outline"></i> {{../getDaysLeft}}
                      {{/if}}
-->
                    </td>
                  </tr>
                  <tr>
                    <td> {{getStartDate}} to {{getEndDate}} </td>
                  </tr>
                   <tr>
                    <td class="divider"> <i class="icon ion-cash"></i> <b>Price:</b> </td>
                  </tr>
                  <tr>
                    <td> Total: <span class="price">${{connectData.borrowDetails.price.total}}</span> </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>

        <div class="item tabs tabs-icon-left">
            <a class="tab-item" href="{{pathFor 'talk' _id=connectData._id}}">
                <i class="icon ion-ios-chatboxes assertive"></i>
                CHAT
            </a>

            <a class="tab-item" id="btnCallUser">
                <i class="icon ion-ios-telephone assertive"></i>
                CALL
            </a>

            {{#if paymentPending}}
            <a class="tab-item" id="cancelRequest">
                <i class="icon ion-ios-close royal"></i>
                REJECT
            </a>
            {{/if}}
        </div>

        {{#if alreadyApproved}}

            {{#if isReturned}}
            {{else}}
                <div class="item item-divider meetup">
                    <h2>Set Meetup Location</h2>
                </div>
                <a class="item item-button-right" id="changeMeetupLocation" href="#">
                    <p>{{preferredLocation}}</p>
                    <button class="button button-outline button-energized"><i class="icon ion-ios-location"></i></button>
                </a>
            {{/if}}

            {{#if returnItem}}
                <div class="item button-divider ">
                    <button id="confirmReturn" class="button button-block">CONFIRM RETURN</button>
                </div>
            {{/if}}

        {{else}}
            <div class="item button-divider ">
                <button id="ownerAccept" class="button button-block button-energized">ALLOW RENTING</button>
            </div>   
        {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
