<template name="listing">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear " data-ion-menu-toggle="left">
        {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
        {{else}}
          {{> ionIcon icon='navicon' class="energized"}}
        {{/if}}
      </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Search Products</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="/" class="button button-clear">
        <object id="spinner-logo-simple" data="logo/spinner-logo-simple.svg" type="image/svg+xml"></object>
    </a>
  {{/contentFor}}
<!--
 {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right">
        <object id="spinner-logo-simple" data="logo/spinner-logo-simple.svg" type="image/svg+xml"></object>
    </button>
 {{/contentFor}}
-->

<!--   {{#contentFor "headerButtonRight"}}
    <button data-ion-modal="filter" class="button button-clear custom-icon ion-ios-keypad button-energized"></button>
  {{/contentFor}} -->

  {{#ionView}}
    {{#ionContent class="overflow-scroll"}}
      {{> searchBox}}
      {{> searchResult}}
    {{/ionContent}}
  {{/ionView}}
</template>


<template name="searchBox">
  <div class="bar item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" id="search-box" placeholder="type keywords to search..." value="{{searchText}}" />
    </label>
  </div>
</template>

<template name="searchResult">
  <div id='search-result' class="list">
    <div id="search-meta">
      {{#if isLoading}}
        {{>loadingTemplate}}
      {{/if}}
    </div>

    {{#each getPackages}}
        <div class="package">
        <!-- {{#ionItem path='bookDetail' _id=this._id iconRight=true class="item-avatar-2"}} -->
        {{#ionItem path='search' _id=this._id iconRight=true class="item-avatar-2 qty-check"}}
          <div class="book-avatar"><div class="book-avatar-inner" style="background: url('{{image}}') no-repeat; background-size:cover; background-position: 50% 20%;"></div></div>
          <p class="main-title-text">{{{title}}}</p>
          <p class="main-sub-text">{{{authors}}}</p>
          <!-- <p class="main-sub-text">Description: {{{description}}}</p> -->
          <!-- <span class="badge badge-mid {{qtyClass qty}}">{{qtyFormat qty}}</span> -->
          {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
        {{/ionItem}}
        </div>
    {{/each}}
  </div>
</template>

<template name="search">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="listing"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Select from Owner</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="overflow-scroll"}}


    <div class="item item-divider"><h2>{{commonBookTitle}}</h2></div>


      <div class="list">
        {{#each peopleList}}
        <a class="item item-avatar-custom item-button-right" href="#">

          <div class="profile-image-container-small">
            {{#if noProfileYet}}
            <div class="item-avatar-custom-circle" style="background: url('profile_image_placeholder.jpg') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
            {{else}}
            <div class="item-avatar-custom-circle" style="background: url({{userThumbnail ownerId}}) no-repeat; background-size:cover; background-position: 50% 50%;"></div>
            {{/if}}
          </div>
          <!-- <img src="{{userThumbnail ownerId}}"> -->

          <p class="main-title-text">{{userName ownerId}} </p>
          <p>${{customPrice}}&nbsp;&nbsp; <span class="rating-box"> {{> rating}}</span></p>

          {{#if requestSent}}
            <span class="badge badge-mid">Request Sent</span>
          {{else}}
            {{#if qtynotZero}}
            <button id="requestBook" class="button request-lower"><p>Request</p></button>
            {{else}}
            <span class="badge badge-mid badge-stable">Unavailable</span>
            {{/if}}
          {{/if}}
        </a>
        {{/each}}
      </div>

    {{/ionContent}}
  {{/ionView}}

</template>

<template name="rating">
  <div class="rateit" data-rateit-value="{{avgRating ownerId}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
</template>


<template name="loadingTemplate"></template>
