<template name="search">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="listing"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Select from Owner</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="listing-search overflow-scroll"}}


    <div class="item item-divider"><h2>{{commonProductTitle}}</h2></div>


      <div class="list">
        {{#each peopleList}}
        <a class="item" href="#">

          <div class="profile-image-box">
            {{#if noProfileYet}}
            <div style="background: url('profile_image_placeholder.jpg') no-repeat; background-size:cover; background-position: 50% 50%;" class="profile-avatar"></div>
            {{else}}
            <div style="background: url({{userThumbnail ownerId}}) no-repeat; background-size:cover; background-position: 50% 50%;" class="profile-avatar"></div>
            {{/if}}

            <p class="main-title-text">{{userName ownerId}} </p>
            <span class="rating-box"> {{> rating}}</span>
          </div>

          <div class="profile-content">
          <!-- <img src="{{userThumbnail ownerId}}"> -->

              <p class="main-sub-text">Rent Price:</p>
              <p class="main-sub-text">
                    <table class="rent-table">
                        <tbody>
                            <tr>
                                <th><i class="icon">D</i></th>
                                <th><i class="icon">W</i></th>
                                <th><i class="icon">M</i></th>
                                <th><i class="icon">S</i></th>
                            </tr>
                            <tr>
                                <td>${{rentPrice.day}}</td>
                                <td>${{rentPrice.week}}</td>
                                <td>${{rentPrice.month}}</td>
                                <td>${{rentPrice.semester}}</td>
                            </tr>
                        </tbody>
                    </table>
              </p>
              <p class="main-sub-text">Condition of the item: {{getCondition}}</p>

              {{#if requestSent}}
                <button class="button button-block" disabled>REQUEST SENT</button>
              {{else}}
                {{#if isOwner}}
                    <button class="button button-block" disabled>OWNER</button>
                {{else}}
                    {{#if qtynotZero}}
                        <button id="requestProduct" class="button button-block">REQUEST</button>
                    {{else}}
                        <button class="button button-block" disabled>UNAVAIBLE</button>
                    {{/if}}
                {{/if}}
              {{/if}}

          </div>
        </a>
        {{/each}}
      </div>

    {{/ionContent}}
  {{/ionView}}

</template>
