<template name="searchHeader">
    
    <i class="icon ion-search search-header-icon"></i>
    <input type="text" class="search-header-input" style="padding:0;border-top:1px solid #bdbdbd;" placeholder="Search for a item..." value="{{searchText}}">
    
<!--
    <button class="button button-clear pull-left search-header-icon" style="padding-left:10px">
        {{> ionIcon icon='search'}} 
    </button>
    <input type="text" class="search-header-input" style="padding:0" placeholder="Search for a item..." value="{{searchText}}">
    
-->
</template>