<template name="talk">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h2 class="title"><i class="icon ion-ios-chatboxes-outline user-messages-top-icon"></i> <div class="msg-header-username">{{chatWith}}</div></h2>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="message-wrapper" data-keyboard-attach>
      {{#each messages}}
        <div class="each-chatblock {{direction}}">
          <div class="chat-bubble {{direction}}">
            <div class="message">
              {{message}}
            </div>
            <div class="message-detail small-font">
              <p>{{cleanDate}}</p>
            </div>
          </div>
          <div class="profile-pic {{direction}}" style="background: url('{{avatar}}') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
        </div>
      {{/each}}

      <div class="cf"></div>
    </div>

  {{/ionContent}}
    <form>
      <div class="bar bar-footer chat-footer item-input-inset" data-keyboard-attach>
        <label class="item-input-wrapper">
          <textarea id="messageInput" type="text" rows="1" placeholder="Write your message..."></textarea>
        </label>
        <button id="chatSubmit" class="button-assertive button button-clear disabled">Send</button>
      </div>
    </form>
  {{/ionView}}
</template>
