<template name="talk">
  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h2 class="title" style="text-align:center;"><i class="icon ion-chatbubbles user-messages-top-icon"></i> <div class="msg-header-username">{{chatWith}}</div></h2>
  {{/contentFor}}

  {{#ionView class="talk-view"}}
    {{#ionContent class="talk-content"}}

      {{#if Template.subscriptionsReady}}
        <script>
          $('.loadbox').fadeOut('medium',function(){
            $('.loading-wrapper').fadeIn('medium');  
          });
        </script>
      {{/if}}

      {{>loader}}
      
      <div class="loading-wrapper">
        <div class="list talk-list padding-horizontal">
          {{#each messages}}
            {{> message}}
          {{/each}}

          <div class="cf"></div>
        </div>
      </div>

    {{/ionContent}}

    <form>
      <div class="bar bar-footer chat-footer item-input-inset" data-keyboard-attach>
        <label class="item-input-wrapper">
          <textarea id="messageInput" type="text" rows="1" placeholder="Write your message..."></textarea>
        </label>
        <button id="chatSubmit" class="button-assertive button button-clear disabled">Send</button>
      </div>
    </form>
  {{/ionView}}
</template>

<template name="message">
  <div class="each-chatblock {{direction}}">
    <div class="chat-bubble {{direction}}">
      <div class="message">
        {{message}}
      </div>
      <div class="message-detail small-font">
        <p>{{cleanDate}}</p>
      </div>
    </div>
    <div class="profile-pic {{direction}}" style="background: url('{{avatar}}') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
  </div>
</template>