//.search-header-input {
//    width: 0%;
//    -webkit-transition: width 0.3s;
//    -moz-transition: width 0.3s;
//    -ms-transition: width 0.3s;
//    -o-transition: width 0.3s;
//    transition: width 0.3s;
//    color: #272727;
//    z-index: 10000;
//    border-radius: 20px;
//    padding: 15px;
//    display: none;
//}

.search-box {
    display: inline-flex;
    display: -webkit-inline-flex;
    width: 100%;
    margin-right: 50px;
    margin-left: 20px;
}

.search-header-icon {
    color: #272727;
    z-index: 20;
    font-size: 25px;
    line-height: 30px;
    color: #eeeeee;
}

input[type="text"].search-header-input {
    height: 30px;
    margin-left: -30px;
    line-height: 30px;
    height: 30px;
    padding: 0;
    
    &::-webkit-input-placeholder {
        color: rgba(39, 39, 39, 0.6);
    }
    &::-moz-placeholder {
        color: rgba(39, 39, 39, 0.6);
    }
}

.search-header-input {
    background-color: #BBB;
    border-top: 1px solid #bdbdbd;
    width: 0%;
    color: #272727;
    z-index: 10;
    border-radius: 5px;
    margin-left: -25px;
    display: none;
    padding-top: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}