@import "../../../styles/app-variables";

.loadingBg {
    min-height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
}

.loading-container {
    min-height: 100%;
    background-color: #272727;
    background: #4f4f4f; /* Old browsers */
    background: -moz-linear-gradient(top, #4f4f4f 1%, #272727 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4f4f4f 1%,#272727 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4f4f4f 1%,#272727 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#272727',GradientType=0 ); /* IE6-9 */

    .message {
        color: $royal;
        color: #EF9A18;
        font-size: 16px;
    }

    .loading {
        background: none !important
    }

    .logo-spinner {
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
    }

    .message {
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
    }
}


.logo-spinner {
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.38);
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.38);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}