<!-- TAB 1 - CAMFIND -->
<template name="camfind">
    <div class="camfind">
         <div class="content has-header">
<!--            {{ > camfindinput }}-->
              <div class="viewfinder hide-on-keyboard-open has-header" id="cam-find">
                 <p>TAP FOR SEARCH<br>PRODUCT<br>OR SCAN OBJECT</p>
             </div>

         </div>
    </div>
</template>
<!--
<template name="camfindinput">
  <div class="list">
      <div class="item item-input-inset">
        <input id="manualInputCamFind" type="text" placeholder="Search product" value="{{lastSearchCamFind}}" >
        <button id="manualSubmitCamFind" class="button button-small button-energized button-outline">Submit</button>
      </div>
  </div>
</template>
-->
