<template name="lend">
    {{#ionView class="lend-view"}}
<!--    {{#ionModal title="Share Product" customTemplate=true}}-->

        {{#contentFor "headerButtonLeft"}}
            <button class="button button-clear pull-left" data-ion-menu-toggle="left">
              {{> ionIcon icon='navicon' class="energized"}}
            </button>
            {{> searchShareHeader}}
        {{/contentFor}}

        {{#contentFor "headerTitle"}}
            <h1 class="title" style="text-align:center;"></h1>
        {{/contentFor}}

        {{#contentFor "headerButtonRight"}}
            <a href="/" class="button button-clear">
                <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}"  />
            </a>
<!--
            <button type="button" id="closeLend" style="right: 5px;position: absolute;" title="Close" class="button button-clear">
                <i class="icon ion-ios-close-outline"></i>
            </button>
-->
        {{/contentFor}}

        <!-- DYNAMIC TEMPLATE -->
        {{> UI.dynamic template=dynamicTemplate}}

        <!-- TAB -->
        {{>lendTabs}}

<!--    {{/ionModal}}-->
    {{/ionView}}
</template>

<!-- NEW TAB -->
<template name="lendTabs">
    <div class="tabs-background-royal tabs-color-light {{ hideClass }} tabs-icon-top">
        <div class="tabs darken-element">
            <a class="tab-item {{#if isActiveClass name="camfind" }} active {{/if}}" data-id="camfind"><i class="icon ion-android-image"></i>IMAGE SEARCH</a>
            <a class="tab-item {{#if isActiveClass name="barcode" }} active {{/if}}" data-id="barcode"><i class="icon ion-ios-barcode"></i>BARCODE</a>
            <a class="tab-item {{#if isActiveClass name="manual" }} active {{/if}}" data-id="manual"><i class="icon ion-ios-compose"></i>MANUAL ENTRY</a>
        </div>
    </div>
</template>
