.lend-view {
    
    .tab-item {
        background-color: #353535;
        
        &.active {
            background-color: #272727;
        }
    }
    
}

.tabs-background-royal {
    background-color: #272727;
}