@import '../../styles/app-variables';

.lend-view {
    
    .tab-item {
        background-color: #353535;
        
        &.active {
            background-color: $royal;
        }
    }
    
}

.tabs-background-royal {
    background-color: $royal;
}