<template name="manual">
	<div class="content manual-entry has-header overflow-scroll">
		<div class="center">
	<!--		<img class="scanResult-thumbnail2" src=" {{#if photoTaken}} {{photoTaken}} {{else}} bookplaceholder.jpg {{/if}} ">-->
	        {{#if photoTaken}}
	            <img class="scanResult-thumbnail2" src="{{photoTaken}}">
	        {{else}}
	            <i class="scanResult-thumbnail2 ion-image" style="font-size:100px;color:#DDD;"></i>
	            <span style="display:block;margin-top:-10px;color:#DDD;">ADD IMAGE</span>
	        {{/if}}
		</div>

		<div class="list list-inset overflow-scroll">
			<form>
				<label class="item item-input">
	<!--				<span class="input-label"><p>Title</p></span>-->
					<input class="manualTitle" type="text" value="" placeholder="Title">
				</label>
	<!--
				<label class="item item-input">
					<span class="input-label"><p>Author</p></span>
					<input id="manualauthor" type="text" value="">
				</label>
				<label class="item item-input">
					<span class="input-label"><p>Publisher</p></span>
					<input id="manualpublisher" type="text" value="">
				</label>
	-->
			</form>
            
            <label class="item item-input item-select">
            <div class="input-label">
              Category
            </div>
            <select class="manualCategory">
                {{#each getCategories}}
                    <option>{{text}}</option>
                {{/each}}
            </select>
          </label>
            
            <div class="item item-divider">
                Rent Price
            </div>
            <label class="item item-input">
                <span class="input-label"><p>Day</p></span>
                <input type="number" class="userPrice dayPrice" value="{{dayPrice}}">
            </label>
            <label class="item item-input">
                <span class="input-label"><p>Week</p></span>
                <input type="number" class="userPrice weekPrice" value="{{weekPrice}}">
            </label>
            <label class="item item-input">
                <span class="input-label"><p>Month</p></span>
                <input type="number" class="userPrice monthPrice" value="{{monthPrice}}">
            </label>
            <label class="item item-input">
                <span class="input-label"><p>Semester (4m)</p></span>
                <input type="number" class="userPrice semesterPrice" value="{{semesterPrice}}">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label"><p>Condition of the item:</p></span>
                <textarea name="description" class="manualDescription" rows="8" cols="40"></textarea>
            </label>

            <div class="padding-horizontal">
                <button class="submitProduct button button-block button-energized" {{waitingForPrices}}>
                    {{#if validatePrices}}
                    Share this item!
                    {{else}}
                    Enter your price above
                    {{/if}}
                </button>
            </div>
        </div>
	</div>
</template>
