<!-- RESULTS -->
<template name="resultsCamFind">

<!--
  <div class="content has-header">
     {{ > camfindinput }}
  </div>
-->

  {{#ionContent}}

    {{#if scanResult}}
        {{#with scanResult}}

<!--        <a class="back"> <i class="icon ion-ios-arrow-back"></i> Back </a>-->

        <div class="card">
            <div class="item no-padding">
                <div class="center">
                    <img class="scanResult-thumbnail" src="{{image}}">
                </div>
            </div>

            <div class="row item">
                <div class="col col-33">
                    <p>Amazon Price</p>
                    <p>Title</p>
                    <p>Category</p>
                    {{#each attributes}}
                    <p>{{key}}</p>
                    {{/each}}
                </div>
                <div class="col col-67 scan-result">
                    <p>{{price}}</p>
                    <p>{{title}}</p>
                    <p>{{amazonCategory}}</p>
                    {{#each attributes}}
                    <p>{{value}}</p>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label"><p>Set Rent/Day &nbsp;$</p></span>
                <input type="number" class="userPrice" value="{{calculatedPriceDay}}">
            </label>
                   <label class="item item-input">
                <span class="input-label"><p>Set Rent/Week &nbsp;$</p></span>
                <input type="number" class="userPrice" value="{{calculatedPriceWeek}}">
            </label>

       <label class="item item-input">
                <span class="input-label"><p>Set Rent/Month &nbsp;$</p></span>
                <input type="number" class="userPrice" value="{{calculatedPriceMonth}}">
            </label>

                   <label class="item item-input">
                <span class="input-label"><p>Set Rent/Semester (4 months) &nbsp;$</p></span>
                <input type="number" class="userPrice" value="{{calculatedPrice4Months}}">
            </label>



            <label class="item item-input">
                <span class="input-label"><p>Condition of the item:</p></span>
                <textarea name="description" class="fieldDescriptionLend" rows="8" cols="40"></textarea>
            </label>
        </div>

        <div class="padding-horizontal">
          <button class="submitProduct button button-block button-energized" {{waitingForPrice}}>
          {{#if userPrice}}
            Share this item!
          {{else}}
            Enter your price above
          {{/if}}
          </button>
        </div>
        {{/with}}

    {{else}}

        {{#if allResults}}
        <div class="resultsCamFind">
<!--            <h4 class="center" style="margin-top:10px;">Select a Product</h4>-->

            {{#each allResults}}
                {{#if isDifferentCategory}}
                    <div class="center menu-category {{splitCategory}}-menu">
                        <a class="category">
<!--                            <i class="category-icon icon {{getCategoryIcon}}"></i>-->
                            {{amazonCategory}}
                            <i class="chevron-icon icon {{#if isOnlyOneCategory}} ion-chevron-down {{else}} ion-chevron-right {{/if}}"></i>
                        </a>
                    </div>
                {{/if}}

                <div class="product {{splitCategory}} {{#if isOnlyOneCategory}} {{else}} hidden {{/if}}">
                    <div class="row">
                        <div class="col col-20">
                                <div class="center">
                                    <img class="scanResult-thumbnail" src="{{image}}">
                                </div>
                        </div>
<!--
                        <div class="col col-20">
                            <p>Amazon Price</p>
                            <p>Title</p>
                            <p>Category</p>
                        </div>
-->
                        <div class="col col-80 scan-result">
                            <p class="title">{{title}}</p>
                            <p class="price">{{price}}</p>
<!--                            <p class="category" style="display:none;">{{category}}</p>-->
<!--                            <p class="asin" style="display:none;">{{asin}}</p>-->
                        </div>
                    </div>
                </div>

            {{/each}}
        </div>
        {{else}}
            <div class="content"><p>Not found. Please try again.</p></div>
        {{/if}}
    {{/if}}

  {{/ionContent}}

</template>
