@import '../../../../styles/app-variables';

.locationSwitch {
    margin-top: -3px;
    margin-left: 10px;
    font-size: 10px;
}

.item.item-map-location {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-aling-items: center;
}

.item.item-divider.item-map-location {
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: flex-start;
    -webkit-aling-items: flex-start;

    p {
        font-size: 12px;
        padding-top: 5px;
    }
}

.modal {

    .item-input-inset.map-search-header {
        background-color: $royal;
        border: 0;

        h6 {
            color: #ffffff;
        }
    }
}
