@import '../../../../styles/app-variables';

.item.item-divider.item-divider-location {
    display: block;

    p {
        font-size: 12px;
    }
}

.item {
    .item-map-location {
        display: flex;
        -webkit-display: flex;
        align-items: center;
        -webkit-aling-items: center;

        p {
            font-size: 12px;
            padding-top: 5px;
        }

        .toggle {
            margin: 0;
        }

        a {
            margin-top: -3px;
            margin-left: 10px;
            font-size: 10px;

            &.locationDisabled {
                color: $royal;
            }
        }
    }
}

.modal {

    .item-input-inset.map-search-header {
        background-color: $royal;
        border: 0;

        h6 {
            color: #ffffff;
        }
    }
}
