<template name="login">


  {{#ionView class="login"}}

<!--    {{#ionContent class="slice-screen no-header"}}-->
    <div class="content ion-content overflow-scroll has-header">
    <!-- <div class="content has-header"> -->
      <div class="center">
          <img id="login-logo" src="https://s3.amazonaws.com/testepartio/logo.png" >

          <input type="email" name="email" placeholder="Username">
          <input type="password" name="password" placeholder="Password">

          <h5 id="forgot-password">Forgot Password?</h5>

          <button id="loginButton" class="button sign-in">Sign in</button>
          <button id="fblogin" class="button sign-in-facebook icon-left ion-social-facebook">Sign in with Facebook</button>
          <button id="triggerGPS" class="button sign-up">Sign up here</button>

      </div>
    </div>
  {{/ionView}}

  <!-- </div> -->
</template>
