<template name="login">
  {{#ionView}}
    <div class="login content ion-content overflow-scroll" style="background:url({{ getImage 'login-background' }}); background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;">
      <div class="center">
          <img id="login-logo" src="{{ getImage 'partio_logo' }}" >

          <input type="email" name="email" placeholder="Username">
          <input type="password" name="password" placeholder="Password">

          <h5 id="forgot-password">Forgot Password?</h5>

          <button id="loginButton" class="button sign-in">Sign in</button>
          <button id="triggerGPS" class="button sign-up">Sign up here</button>
      </div>
    </div>
  {{/ionView}}
</template>
