@import '../../../styles/app-variables';

.savedCard {

    .item-checkbox {
        width: 18px !important;
        height: 18px !important;
    }

    .item-checkbox input:checked{
        background: red !important;
        border-color: red !important;
    }

    .card {
        padding : 0;
    }

    .item-divider {
        padding-top: 16px;
    }

    table {
        color: $royal;
        margin: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        font-size: 14px;

        tr {
            td {
                vertical-align: middle;

                &.brand {
                    width: 10%;
                    min-width: 10%;
                    max-width: 10%;
                    text-align: left;
                }
                &.funding {
                    width: 15%;
                    min-width: 15%;
                    max-width: 15%;
                    text-align: left;
                }
                &.numbers {
                    width: 25%;
                    min-width: 25%;
                    max-width: 25%;
                    text-align: left;
                }
                &.pay {
                    width: 20%;
                    min-width: 20%;
                    max-width: 20%;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-align: center;
                }
                &.receive {
                    width: 20%;
                    min-width: 20%;
                    max-width: 20%;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-align: center;
                }
                &.trash {
                    width: 10%;
                    min-width: 10%;
                    max-width: 10%;
                    font-size: 24px;
                    text-align: right;
                }
            }
        }
    }

    .delete-card {
        color: $energized;
        cursor: pointer;
    }

    .set-default {
        color: $grey;
        cursor: pointer;

        &.default {
            color: $assertive;
        }
    }

    .no-cards, .only-credit {
        p {
            white-space: normal;

            &.assertive {
                color: $assertive;
            }
            &.energized {
                color: $energized;
            }
        }
    }

}

.modal.new-card {

    background-color: #f5f5f5;
    
    .card {
        margin: 0;
    }
    
    .card-wrapper {
        padding: 16px;
    }
    
    .item-button {
        padding-top: 10px;
        padding-bottom: 10px; 
    }
    
    i.icon {
        width: 20px;
    }
    
}