<template name="savedCards">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}


    {{#contentFor "headerTitle"}}
      <h1 class="title" style="text-align:center;">Payment Cards</h1>
    {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="savedCard"}}

      <br>
      <div class="panecard padding list">

        <div class="item item-divider item-button-right">
          <h3>Cards</h3>
          <button id="test-card" class="button button-small push-up button-clear"><h6 class="positive">Test Cards</h6></button>
        </div>

        {{#with listCards}}
          {{id}}
        {{/with}}

        {{#each cards}}
          <div class="item item-card" data-id="{{id}}" data-funding="{{funding}}">
              <table>
                <tbody>
                    <tr>
                        <td class="brand"><i class="{{../getBrandIcon brand}}"></i></td>
                        <td class="funding"><i>{{funding}}</i></td>
                        <td class="numbers"><i>XXXX-{{last4}}</i></td>
                        <td class="pay"><i class="set-default set-pay-default {{../checkPayDefault id}}">PAY</i></td>
                        <td class="receive"><i class="set-default set-receive-default {{../checkReceiveDefault id}}">{{../isDebit funding}}</i></td>
                        <td class="trash"><i class="delete-card icon ion-ios-trash"></i></td>
                    </tr>
                </tbody>
              </table>
          </div>
        {{/each}}

        <div class="item item-icon-left" data-ion-modal="addnewCard">
          <i class="icon ion-ios-plus-outline energized custom-icon"></i>
          <p class="graytext">New card</p>
        </div>
      </div>

      <div class="panecard padding list">
        <div class="item item-icon-left hidden alerts no-cards">
          <i class="icon assertive ion-alert-circled"></i>
          <p class="assertive">Add a card to be able to share or borrow an item.</p>
        </div>
        <div class="item item-icon-left energized hidden alerts only-credit">
          <i class="icon energized ion-alert-circled "></i>
          <p class="energized">Please, add a debit card if you want share an item.</p>
        </div>
      </div>

      <div class="padding">
        <h3>debugging</h3>
        {{#with getReceiveCard }}
          <div>
            <i class="set-default icon ion-checkmark energized"></i> DefaultReceiveCard = {{id}} - {{funding}} - {{last4}}
          </div>
        {{/with}}

        {{#with getPayCard }}
          <div>
            <i class="set-default icon ion-checkmark bluegrey"></i> DefaultPayCard = {{id}} - {{funding}} - {{last4}}
          </div>
        {{/with}}
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="addnewCard">

{{#ionModal title="Add New Card"}}
<div>
       <div class="card-wrapper" style="margin-top:20px; margin-bottom:40px"></div>

       <div class="form-container active" style="margin-bottom:35px">
           <form action="">

<label class="item item-input">
  <i class="icon ion-compose energized placeholder-icon"></i>
  &nbsp;<input type="text" name="number" class="border-radius-20" placeholder="**** **** **** ****">
</label>
<label class="item item-input">
  <i class="icon ion-card energized placeholder-icon"></i>
  &nbsp;<input type="text" name="name" class="border-radius-20" placeholder="Full Name">
</label>

<label class="item item-input">
  <i class="icon ion-calendar energized placeholder-icon"></i>
  &nbsp;<input type="text" name="expiry" class="border-radius-20" placeholder="MM/YY">
</label>

<label class="item item-input">
  <i class="icon ion-ios-locked energized placeholder-icon"></i>
  &nbsp;<input type="text" name="cvc" class="border-radius-20" placeholder="***">
</label>
</form>
</div>
</div>
<script src="/card.js"></script>
<script>
new Card({
form: document.querySelector('form'),
container: '.card-wrapper'
});
</script>


<button id="submit" style="width:100%;"  class="button button-assertive" data-dismiss=modal>
Submit
</button>

{{/ionModal}}
</template>
