@import '../../styles/app-variables';

.bar {
    z-index: 2;
    font-size: 1.3em;
    width: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.26);
}

.profilehead {
//    z-index: 2;
//    width: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.26);
    
    &.item {
        padding: 0;
    }
}

.profile-content {

    input[readonly]#birthDate{
        background-color: #ffffff;
        opacity: .6;
    }
    
    .activation-title {
        white-space: normal;
        display: block;
        font-size: 20px;
    }

    .activation-message {
        white-space: normal;
        display: block;
        padding-top: 5px;
    }

    .email-support {
        padding-top: 10px;
    }

    .profile-image-container {
        margin-top: -20px;
    }

    a.item {
        margin-right: 2px;
        
        &.item-icon-right {
            p {
                height: 15px;
            }
        }
    }

    .profile-name {
        display: block;
        padding-bottom: 5px;
    }

    .item-input {

        color: $royal;

        i {
            padding-right: 10px;
        }

        input {

            color: $royal;

            &:disabled {
                background-color: #ffffff;
                opacity: .6;
            }
            
            &:read-only {
                background-color: #ffffff;
                opacity: .6;
            }
        }
    }

    #logout {
        cursor: pointer;
    }
    
}

#changePassword {

    .item-input {
        background-color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;

        input {
            background-color: #ffffff;
        }
    }

}
