<template name="profile">

  {{#if currentUser.emails.[0].verified}}
    {{#contentFor "headerButtonLeft"}}
        {{#if profileEdit}}
          <button id="cancelProfile" class="button button-clear button-stable">Cancel</button>
        {{else}}
          <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{> ionIcon icon='navicon' class="energized"}}
          </button>
        {{/if}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
      <h1 class="title" style="text-align:center;">Profile</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
      {{#if profileEdit}}
        <button id="saveProfile" class="button button-clear button-energized">Save</button>
        {{else}}
          <a href="/" class="button button-clear">
              <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
          </a>
      {{/if}}
    {{/contentFor}}
  {{else}}
    {{#contentFor "headerTitle"}}
      <h1 class="title">
          <img id="spinner-logo-simple" src="{{ getImage 'spinner-logo' }}" />
      </h1>
    {{/contentFor}}
  {{/if}}

  {{#ionView}}
    {{#ionContent class="profile-content"}}
    <!-- <div class="content has-header"> -->

      <div class="item">
          {{> settingsProfileImage}}
          <div class="center">
            <span class="profile-name">{{currentUser.profile.name}}</span>
            <span class="rating-box">{{ > rating}}</span>
          </div>
      </div>

      <div class="card padding-horizontal padding-vertical">

            <label class="item item-input">
                <i class="icon ion-ios-telephone"></i>
                <input id="profilemobile" type="text" value="{{currentUser.profile.mobile}}">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-calendar"></i>
                <input id="birthDate" type="text" value="{{currentUser.profile.birthDate}}">
            </label>

       {{#if emailSet}}

        <label class="item item-input">
            <i class="icon ion-university"></i>
            <input id="profileuniversity" type="text" value="{{currentUser.profile.college}}" disabled>
        </label>
        <label class="item item-input">
            <i class="icon ion-at"></i>
            <input type="email" value="{{currentUser.emails.[0].address}}" disabled>
        </label>
       {{else}}
         <label class="item item-input item-select college-select">
          <div class="input-label"><p>College</p></div>
          <select id="profileuniversity">
            <option selected style="color:green;">Select</option>
            <option>Duke University</option>
            <option>Rollins College</option>
            <option>Test Gmail IDs</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label"><p>Email</p></span>
          <input type="email" value="{{currentUser.email.[0].address}}" placeholder="Enter Email" id="profileemail">
        </label>
        {{/if}}

      </div>

      {{#if currentUser.emails.[0].verified}}
        <div class="card padding-horizontal padding-vertical">
<!--        <div class="item item-divider top"></div>-->
            <a class="item item-icon-right" href="{{pathFor 'changePassword'}}" >
                <p>Change Password</p>
                {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
            </a>
            <a class="item item-icon-right" href="{{pathFor 'savedCards'}}" >
                <p>Payment Cards</p>
                {{> ionIcon icon="ios-arrow-right" class="energized right-arrow"}}
            </a>
        </div>
    {{/if}}

    <div class="card padding-horizontal padding-vertical">
        {{#if currentUser.emails.[0].verified}}
            <a class="item item-icon-right" id="logout"  >
                <p>Logout</p>
                {{> ionIcon icon="android-exit" class="energized right-arrow"}}
            </a>
        {{else}}
            {{#if emailSet}}
                <div class="item item-icon-left">
                    <span class="activation-title assertive center">Welcome aboard partiO!</span>
                    <span class="activation-message center">Please verify your email address to proceed.</span>
                    {{> ionIcon icon="alert-circled" class="assertive"}}
                </div>
                <p class="text-center email-support">{{> ionIcon icon="ios-email-outline"}} <a href="mailto:support@partio.xyz">support@partio.xyz</a></p>
                {{else}}
                    <h3 class="dark center">Your Email should be your official college email address</h3>
                    <br>
                    <button id="save-college-email" class="button button-block button-energized">SAVE</button>
            {{/if}}
        {{/if}}
    </div>
    {{> modal}}
<!-- </div> -->
    {{/ionContent}}
  {{/ionView}}
</template>


<template name="modal">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Modal</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        <button class="button button-large button-stable" data-ion-modal="_myModal">Open Modal</button>
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
<template name="settingsProfileImage">
  <div class="profile-image-container">
    {{#if noProfileYet}}
    <div class="profile-avatar" style="background: url('profile_image_placeholder.jpg') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
    {{else}}
    <div class="profile-avatar" style="background: url('{{profileImage}}') no-repeat; background-size:cover; background-position: 50% 50%;"></div>
    {{/if}}
  </div>
  <input type="file" id="browser-file-upload">
</template>
