<template name="savedCards">
    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="profile"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
      <h1 class="title">Payment Cards</h1>
    {{/contentFor}}

    {{#ionView}}
      {{#ionContent}}

        <br>
        <div class="padding list">
          <div class="item item-divider item-button-right"><h3>Receive Funds</h3><button id="test-card-1" class="button button-small push-up button-clear"><h6 class="positive">Test Cards</h6></button></div>

          {{#with addedDebitCard}}
          <a class="item item-icon-right">
            <p>{{brand}}&nbsp;&nbsp; XXXX-{{last4}}</p>
            <i class="icon ion-checkmark energized custom-icon"></i>
          </a>
          {{else}}
            <a class="item item-icon-left" id="add-debit-card">
            <i class="icon ion-ios-plus-outline energized custom-icon"></i>
            <p class="graytext">Debit Card Only</p>
          </a>
          {{/with}}

        </div>

        <div class="padding-horizontal list">
          <div class="item item-divider item-button-right"><h3>Payment Cards</h3><button id="test-card-2" class="button button-small push-up button-clear"><h6 class="positive">Test Cards</h6></button></div>
          <!-- {{#each addedCards}}
          <a class="item item-icon-right">
            <p>{{brand}}&nbsp;&nbsp; XXXX-{{last4}}</p>
            {{#if addedCards.[0]}}<i class="icon ion-checkmark energized custom-icon"></i>{{/if}}
          </a>
          {{/each}} -->
          {{#each addedCards}}
          <label class="item item-radio">
            <input type="radio" name="group" value="{{last4}}" checked="checked">
            <div class="item-content"><p>{{brand}}&nbsp;&nbsp; XXXX-{{last4}}</p></div>
            <i class="radio-icon ion-checkmark energized"></i>
          </label>
          {{/each}}
          <a class="item item-icon-left" id="add-credit-card">
            <i class="icon ion-ios-plus-outline energized custom-icon"></i>
            <p class="graytext">Credit/Debit Card</p>
          </a>
        </div>

<!--         <div class="list">
         {{#each addedCards}}
         <div class="item item-divider"><h3>Cards for Payment</h3></div>
         <label class="item item-radio">
          <input type="radio" name="group" value="{{last4}}" checked="checked">
          <div class="item-content center"><span class="capitalize">{{brand}}</span> &nbsp;&nbsp; XXXX-{{last4}}</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        {{/each}}
      </div> -->

        {{/ionContent}}
      {{/ionView}}
</template>








<!-- <template name="bankAccount">
	{{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="profile"}}
  	{{/contentFor}}

  	{{#contentFor "headerTitle"}}
    	<h1 class="title">Bank Account</h1>
  	{{/contentFor}}

  	{{#ionView}}
    <div class="content has-header">
    {{#if noStripeYet}}

    <div class="padding-horizontal center">
    <br>
    <p class="subdued">The payments you receive for your shared goods will be credited to this account</p>
    </div>

		<div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="First Name" id="stripe-firstname">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Last Name" id="stripe-lastname">
      </label>

      <label class="item item-input">
        <input type="tel" placeholder="Last 4 Digits of SSN" id="stripe-ssn">
      </label>

      <label class="item item-input">
        <input type="tel" placeholder="Routing Number (110000000)" id="stripe-routingnumber" disabled>
      </label>

      <label class="item item-input">
        <input type="tel" placeholder="Bank Account (000123456789)" id="stripe-bankaccount" disabled>
      </label>

    </div>

    <div class="padding-horizontal">
     <a type="button" class="button button-block button-energized" id="stripe-create">Authorize Connection</a>
   </div>

   {{else}}
      <div class="list card">

      <div class="item">
        <p class="subdued center">Your bank account is successfully linked</p>
      </div>

      {{#with stripeAccount}}
      <a class="item" href="#">
        <p>Bank Name <span class="item-note dark">{{bank_accounts.data.[0].bank_name}}</span></p>
      </a>
      <a class="item" href="#">
        <p>Account Number <span class="item-note dark">XX{{bank_accounts.data.[0].last4}}</span></p>
      </a>
      <a class="item" href="#">
        <p>Routing Number <span class="item-note dark">{{bank_accounts.data.[0].routing_number}}</span></p>
      </a>
      {{/with}}

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-ios-close"></i>
          UNLINK BANK ACCOUNT
        </a>
      </div>

    </div>

   {{/if}}


    </div>

	{{/ionView}}
</template> -->
