<template name="savedCards">
    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="profile"}}
    {{/contentFor}}
    
    {{#contentFor "headerTitle"}}
      <h1 class="title">Saved Cards</h1>
    {{/contentFor}}
    
    {{#ionView}}
      {{#ionContent}}

        <br>
        <div class="padding list">
          <div class="item item-divider item-button-right"><h3>Receive Funds</h3><button id="test-card-1" class="button button-small push-up button-clear"><h6 class="positive">Test Cards</h6></button></div>
          
          {{#with addedDebitCard}}
          <a class="item item-icon-right">
            <p>{{brand}}&nbsp;&nbsp; XXXX-{{last4}}</p>
            <i class="icon ion-checkmark energized custom-icon"></i>
          </a>
          {{else}}
            <a class="item item-icon-left" id="add-debit-card">
            <i class="icon ion-ios-plus-outline energized custom-icon"></i>
            <p class="graytext">Debit Card Only</p>
          </a>
          {{/with}}

        </div>

        <div class="padding-horizontal list">
          <div class="item item-divider item-button-right"><h3>Saved Cards</h3><button id="test-card-2" class="button button-small push-up button-clear"><h6 class="positive">Test Cards</h6></button></div>
          <!-- {{#each addedCards}}
          <a class="item item-icon-right">
            <p>{{brand}}&nbsp;&nbsp; XXXX-{{last4}}</p>
            {{#if addedCards.[0]}}<i class="icon ion-checkmark energized custom-icon"></i>{{/if}}
          </a>
          {{/each}} -->
          {{#each addedCards}}
          <label class="item item-radio">
            <input type="radio" name="group" value="{{last4}}" checked="checked">
            <div class="item-content"><p>{{brand}}&nbsp;&nbsp; XXXX-{{last4}}</p></div>
            <i class="radio-icon ion-checkmark energized"></i>
          </label>
          {{/each}}
          <a class="item item-icon-left" id="add-credit-card">
            <i class="icon ion-ios-plus-outline energized custom-icon"></i>
            <p class="graytext">Credit/Debit Card</p>
          </a>
        </div>

<!--         <div class="list">
         {{#each addedCards}}
         <div class="item item-divider"><h3>Cards for Payment</h3></div>
         <label class="item item-radio">
          <input type="radio" name="group" value="{{last4}}" checked="checked">
          <div class="item-content center"><span class="capitalize">{{brand}}</span> &nbsp;&nbsp; XXXX-{{last4}}</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        {{/each}}
      </div> -->

        {{/ionContent}}
      {{/ionView}}
</template>
